.order {
  &MainWrapper {
    margin-bottom: 0;
  }

  &PlacedWrapper {
    margin-top: 35px;
    padding-top: 0;

    @include mq('1024') {
      margin-top: 40px;
    }
  }

  &PaymentItem {
    padding-bottom: 24px;
  }

  &OptionsWrapper {
    margin-bottom: 0px;
    padding-bottom: 24px;

    @include mq('1024') {
      align-items: baseline;

      max-width: 554px;
      width: 100vw;
    }

    &--mobile {

      flex-direction: column;
      align-items: center;

    }
  }

}

.confirmation {
  &IconWrapper {
    display: none;
  }

  &Title {
    margin: 0;

    @include textConfig($blue, 21, $fontBold, 32, center);
  }

  &Message {
    @include textConfig($dark-gray, 14, $fontRegular, 19, center);
    padding: 0 16px;
    margin: 24px 0 16px;
  }
}

.section {
  &--confirmation {
    margin-bottom: 0;
  }

  &--notices {
    padding-bottom: 8px;
    margin-bottom: 24px;

    border-bottom: 1px solid $secondary-color;
  }

  .noticesList {
    background-color: transparent;

    .noticeList {
      &Item {
        border: none;

        @include textConfig($dark-gray, 14, $fontRegular, 19, center);
        margin: 0 auto;
        padding: 0 0 16px 0;
      }
    }
  }

  &--paymentMethods {
    border: none;
  }

  &--pickupPackages {
    border-color: $secondary-color;
  }

  &--deliveryPackages {
    border-bottom: none;
  }

}

.order {
  &Number {
    @include textConfig($black, 20, $fontBold, 27, left);
    margin-bottom: 24px;

    @include mq('1024') {
      font-size: 1.375rem;
    }
  }

  &Datetime {
    @include textConfig($dark-gray-01, 14, $fontSemiBold, 19, left);
  }
}

.customerInfoList {
  &Container {
    @include textConfig($dark-gray-01, 14, $fontRegular, 19, left);
    font-family: $primaryFont;
  }

  &Name,
  &Email,
  &Document,
  &Phone {
    color: $dark-gray-01;
    padding: 5px 0;
  }
}

.payment {
  &Group {
    margin: 19px 0 4px 0;
    @include textConfig($black, 14, $fontSemiBold)
  }

  &Value {
    @include textConfig($dark-gray-01, 14, $fontSemiBold)
  }
}

.updateOrderButton,
.myOrdersButton {

  @include button-primary();
  @include size(100%, 48px);

  margin: 0;

  @include mq('1024') {
    max-width: 184px;
  }
}


.myOrdersButton {

  @include mq('1024') {
    margin: 0 24px;
  }

  &--mobile {
    margin: 16px 0;
  }

  & :global(.vtex-button) {
    & :global(.vtex-button__label) {
      font-size: 0 !important;

      &::before {
        content: 'Ver meus pedidos';
        font-size: 1rem;
        font-family: $primaryFont;
      }
    }

  }
}

.cancelOrderButton {

  & :global(.vtex-button) {
    min-height: 20px;
    border: none;

    &:hover {
      background-color: transparent;
    }

  }

  & :global(.vtex-button__label) {
    @include textConfig($primary-color, 16, $fontBold, center);
    padding: 0 !important;

    &:hover {
      background-color: transparent;
      border: none;

      @include mq('1024') {
        text-decoration: underline;
      }
    }
  }

  @include mq('1024') {
    max-width: 124px;
    width: 100%;
  }
}

.package {
  &--delivery {
    margin: 24px 0 0 0;

    @include mq('1024') {
      justify-content: space-between;
    }
  }

  &DeliveryTitle {
    @include textConfig($black, 14, $fontBold);
  }

  &ShippingEstimate,
  &SLA {
    @include textConfig($dark-gray-03, 14, $fontRegular);
  }

  &Header--delivery {
    margin-bottom: 24px;
    line-height: 1;
  }

  &AddressWrapper {
    font-family: $primaryFont;
    @include textConfig($dark-gray, 14, $fontRegular);
    margin-bottom: 24px;

    .addressContainer {
      color: $dark-gray;
      line-height: 1.6;
    }

  }
}

.product {

  &List {
    @include mq('1024') {
      max-width: 373px;
      width: 100%;
    }
  }

  &ListItem {
    margin: 0 0 16px 0;
    padding: 6px 0 0;

    border: none;

    height: 71px;

    @include mq('768') {
      max-width: 373px;
    }
  }

  &Wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: self-start;
    text-align: left;

    @include mq('768') {
      grid-template-columns: repeat(10, 1fr);
    }

    @include mq('992') {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &ImageColumn {
    grid-area: 1 / 1 / 4 / 2;
    margin: 0;

    max-width: 64px;
    height: 64px;

    .productImageWrapper {
      margin: 0;
      max-width: 64px;
      height: 64px;
    }

  }

  &InfoColumn {
    grid-area: 1 / 2 / 2 / 6;
    padding-left: 16px;
    line-height: normal;

    @include mq('768') {
      justify-content: flex-start;
    }

    .product {
      &Name {
        @include textConfig($black, 12, $fontRegular);
      }

      &Quantity {
        display: none;
      }
    }
  }

  &Price {
    width: 100%;
    grid-area: 2 / 2 / 3 / 5;
    @include textConfig($black, 12, $fontRegular);
    padding-left: 16px;
  }
}

.totalList {
  margin-top: 16px;
  font-family: $primaryFont;

  border-top: 1px $light-gray solid;
  padding-top: 16px;

  @include mq('1024') {
    max-width: 373px;
    width: 100%;
  }

  &Item {
    @include textConfig($black, 14, $fontBold, 22);
    padding: 0;

    &--Items,
    &--Discounts,
    &--Shipping {
      @include textConfig($black, 14, $fontRegular, 22);
      padding: 0 0 8px;
    }

  }

  &Wrapper {
    @include mq('768') {
      max-width: 373px;

      width: 100%;

      margin-left: auto;
    }
  }
}