import React, { createContext, useEffect, useMemo, useContext } from 'react'
import {
  {{pascalCase name}}UseContextValues,
  {{pascalCase name}}SiteEditorValues,
} from './_interfaces'

import { MOCK_USE_CONTEXT_VALUES } from "./_mocks/mock-states";

//
// ** Criando O Contexto **
//
export const {{pascalCase name}}Context = createContext < {{pascalCase name}}UseContextValues > (
  MOCK_USE_CONTEXT_VALUES
)


//
// ** Disponibilizando os valores aos filhos por meio do provider **
//
const {{pascalCase name}}Provider = (props: {{pascalCase name}}SiteEditorValues & { children: React.ReactNode }) => {
  const [quantityProducts, setQuantityProducts] = React.useState<number>(0)

  console.log('data vindo do site editor recebidas com sucesso pelo provider!', props)

  //
  // ** Funções para serem executadas pelos filhos **
  //
  const getQuantityProducts = useMemo(() => quantityProducts, [quantityProducts])

  useEffect(() => {
    setQuantityProducts(props.products?.length)
  }, [props.products])

  // ** Retornando o contexto, com todas as funções/valores que serão disponibilizados aos filhos **
  return (
    <{{pascalCase name}}Context.Provider value=\{{ getQuantityProducts }}>
      {props.children}
    </{{pascalCase name}}Context.Provider >
  )
}

{{pascalCase name}}Provider.schema = {
  title: 'Configurações Contexto {{pascalCase name}}',
  description: "Um contexto basico para testes. Tudo o que for passado aqui será disponibilizado ao contexto, que consequentemente disponibilizará aos filhos.",
  type: 'object',
  properties: {
    products: {
      title: 'Produtos',
      type: 'array',
      items: {
        type: 'object',
        properties: {
          name: {
            title: 'Nome',
            type: 'string',
          },
          price: {
            title: 'Preço',
            type: 'number',
          },
        },
      },
    },
  },
}

export const use{{pascalCase name}}Context = () => useContext({{pascalCase name}}Context)
export default {{pascalCase name}}Provider