.paragraph {
  &--inst {
    &-title {
      @include textConfig($black, 16, $fontBold, 21, left, initial, 0);
      margin: 0;
      @include mq("1024") {
        font-size: 20px;
      }
    }
    &-text {
      @include textConfig($dark-gray-01, 14, $fontRegular, 24, left, initial, 0);
      margin: 16px 0 0 0;
    }
  }
}