.flexRow {
  &--inst-body {
    @include grid();
  }
}

.flexRowContent {
  &--inst-body {
    @include display-flex(stretch, flex-start, column);

    @include mq("1024") {
      flex-direction: row;
    }
  }
}

.flexCol {
  &--inst-content-container {
    @include mq("1024") {
      margin-top: 24px;
    }
  }
}