/* Global General Styles */

:global(.vtex-flex-layout-0-x-flexRow--button--primary) {
  @include button-primary();
}

:global(.vtex-button) {
  border-radius: 8px;
  @include transition();
}

:global(.vtex-store-components-3-x-swiperBullet),
:global(.vtex-shelf-1-x-dot) {
  background-color: $black05;
  opacity: 0.2;
}

:global(.vtex-slider-layout-0-x-paginationDot--isActive),
:global(.vtex-store-components-3-x-swiperBullet--active) {
  background-color: $primary-color;
  opacity: 1;
}

:global(.vtex-shelf-1-x-dot--isActive) {
  background-color: $black;
  opacity: 1;
}

:global(.vtex-slider-layout-0-x-paginationDot) {
  background: $dark-gray-05;
}

:global(.vtex-slider-layout-0-x-paginationDot--isActive) {
  background: $dark-gray;
}

:global(.vtex-slider-layout-0-x-caretIcon),
:global(.vtex-store-components-3-x-swiperCaret) :global(.vtex-store-components-3-x-caretIcon),
:global(.vtex-store-components-3-x-carouselGaleryThumbs) {
  color: $primary-color;
}

:global(.vtex-store-components-3-x-carouselCursorDefault) {
  &:global(.vtex-store-components-3-x-caretIcon) {
    color: $dark-gray-02;
  }
}

:global(.vtex-styleguide-9-x-jsFocusVisible) svg {
  color: $primary-color;
}

:global(.vtex-toast) {
  background-color: $primary-color;
}

/* Global General Styles End */

:global(.vtex-order-placed-2-x-orderPaymentItem) {
  :global(.t-body) {
    :global(.mb3) {
      display: none;
    }

  }
}