{
  "store.custom#pagina-institucional-{{dashCase name}}": {
    "blocks": [
      "toggle-layout#inst-banner",
      "flex-layout.row#breadcrumb-institucional-{{dashCase name}}",
      "flex-layout.row#body-institucional-{{dashCase name}}"
    ]
  },
  "flex-layout.row#body-institucional-{{dashCase name}}": {
    "title": "Container {{titleCase name}}",
    "props": {
      "preventHorizontalStretch": true,
      "preventVerticalStretch": true,
      "blockClass": [
        "container__pagina-institucional",
        "container__pagina-institucional-{{dashCase name}}"
      ]
    },
    "children": [
      "flex-layout.col#inst-menu",
      "flex-layout.col#container-content-and-title-institucional-{{dashCase name}}"
    ]
  },
  "flex-layout.col#container-content-and-title-institucional-{{dashCase name}}": {
    "title": "Container Titulo E Conteudo",
    "props": {
      "preventVerticalStretch": true,
      "blockClass": [
        "container__conteudo-institucional-desktop"
      ]
    },
    "children": [
      "rich-text#titulo-institucional-{{dashCase name}}",
      "custom-faq"
    ]
  }
}