{
  "menu-item#{{dashCase name}}": {
    "title": "Link EDITAR AQUI",
    "props": {
      "blockClass": "link__menu-institutional",
      "id": "menu-item-{{dashCase name}}",
      "type": "custom",
      "iconId": null,
      "itemProps": {
        "type": "internal",
        "href": "/{{dashCase name}}",
        "noFollow": false,
        "tagTitle": "{{titleCase name}}",
        "text": "{{titleCase name}}"
      }
    }
  }
}