$font-size: 16;
$line-height: 16;
$font-units: (
  'rem',
  'em',
  'px',
  '%',
  'pt',
  'ch'
);

// Fonts
@function has-font-unit($value) {
  @return index($font-units, unit($value)) !=null;
}

@mixin font-size($size-value: $font-size) {
  @if (has-font-unit($size-value)) {
    font-size: $size-value;
  }

  @else {
    font-size: #{$size-value}px;
  }
}

//  Define a base da fonte que pretende utilizar (valores ja são convertidos em rem).
//  @mixin Font Size
//  @section Font
//  @param $size-value Seta o tamanho da fonte definido na variavel '$font-size'
//  @example
//    @include font-size($font-size);
//    @include font-size(16);

//  @mixin Fonte Padrão
//  @example
//  @include textConfig($black, 16, $fontRegular, 16, left, initial, 100);

@mixin textConfig($color: $black, $fontSize: $font-size, $fontWeight: $fontRegular, $line-height: 16, $textAlign: left, $textTransform: initial, $letterspacing: 0, $fontFamaily: $primaryFont) {
  color: $color;
  font-weight: $fontWeight;
  line-height: $line-height + px;
  letter-spacing: $letterspacing;
  text-align: $textAlign;
  text-transform: $textTransform;
  font-family: $fontFamaily;
  @include font-size($fontSize);
}

//  @mixin Fonte Título Padrão
//  @example
//  @include text(2);
@mixin text($tag: 2, $color: $black, $weight: $fontSemiBold) {
  @if $tag ==1 {
    @include textConfig($color, 24, $weight, 30);
  }


  @if $tag ==2 {
    @include textConfig($color, 20, $weight, 24);
  }

  @if $tag ==3 {
    @include textConfig($color, 16, $weight, 22);
  }

  @if $tag ==4 {
    @include textConfig($color, 14, $weight, 20);
  }

  @if $tag ==5 {
    @include textConfig($color, 12, $weight, 14);
  }
}

//  Define o 'width' e 'height' do elemento.
//  @mixin Size Elements
//  @section Size
//  @param $width Largura a ser definido
//  @param $height Altura a ser definido
//  @example
//   @include size(10px);
//   @include size(auto, 2px);

@mixin size($width, $height: $width) {
  @if _is-size($height) {
    height: $height;
  }

  @else {
    @error '`#{$height}` is not a valid length for the `$height` argument '+'in the `size` mixin.';
  }

  @if _is-size($width) {
    width: $width;
  }

  @else {
    @error '`#{$width}` is not a valid length for the `$width` argument '+'in the `size` mixin.';
  }
}

// *  Define o breakpoin minimo pro desenvolvimento.
//  * @mixin Breakpoints responsivos
//  * @example
//  *  @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
//  */

$breakpoints: (
  '320': 320px,
  '330': 330px,
  '360': 360px,
  '375': 375px,
  '390': 390px,
  '400': 400px,
  '414': 414px,
  '428': 428px,
  '450': 450px,
  '480': 480px,
  '490': 490px,
  '640': 640px,
  '768': 768px,
  '980': 980px,
  '992': 992px,
  '1000': 1000px,
  '1024': 1024px,
  '1025': 1025px,
  '1026': 1026px,
  '1200': 1200px,
  '1253': 1253px,
  '1350': 1350px,
  '1380': 1380px,
  '1440': 1440px,
  '1500': 1500px,
  '1800': 1800px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

//  Define posicionamento absoluto.
//  @mixin Position Absolute
//  @example
//  @include abs-position(100px, 100px, auto, auto);

@mixin abs-position($top, $right, $bottom, $left) {
  margin: auto;
  position: absolute;
  bottom: $bottom;
  left: $left;
  right: $right;
  top: $top;
}

// @example
// @include display-flex(center,flex,center,row);

@mixin display-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin grid($max-width: 1292px, $padding: 0 16px, $margin: 0 auto) {
  margin: $margin;
  max-width: $max-width;
  padding: $padding;
  width: 100%;
}

@mixin transition() {
  transition: all 500ms ease-in-out;
}

@mixin border-radius() {
  border-radius: 8px;
}

@mixin button-primary() {
  cursor: pointer;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  background-image: none;
  box-shadow: none;
  @include size(100%);
  @include border-radius();
  @include text(4, $secondary-color);
  @include transition();
  text-align: center;

  &:hover {
    background-color: $hover-blue;
    color: $secondary-color;
  }
}

@mixin button-secondary() {
  cursor: pointer;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  @include size(100%);
  @include border-radius();
  padding: 11px 5px;
  @include text(4, $primary-color);


  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

@mixin link-button-secondary() {
  text-decoration: underline;
  @include text(5, $dark-blue, $fontRegular);

  &:hover {
    color: $primary-color;
  }
}

@mixin input-general() {
  border: 1px solid $light-gray-05;
  background-color: $white-03;
  box-shadow: none;
  @include border-radius();
  @include text(4, $dark-blue, $fontRegular);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}