$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900;

$primaryFont: 'Bai Jamjuree', sans-serif;

// Colors
$black: #000000;
$black-02: #262626;
$black-03: #00000014;
$black-04: #161615;
$black-05: #25282a;
$white: #ffffff;
$white-01: #f9f9f9;
$white-02: #f2f2f2;
$white-03: #F2F6F8;
$white-04: #F1F5F6;
$white-05: #F5F5F5;
$light-gray: #dddddd;
$light-gray-01: #D9D9D9;
$light-gray-02: #cecfce;
$light-gray-03: #a1a4a2;
$light-gray-04: #e2e2e2;
$light-gray-05: #E3EBED;
$dark-gray: #303030;
$dark-gray-01: #656565;
$dark-gray-02: #707070;
$dark-gray-03: #636363;
$dark-gray-04: #cecece;
$dark-gray-05: #838383;
$dark-gray-06: #BBBBBB;
$yellow: #FFD042;
$yellow-02: #fbba00;
$purple: #6220c1;
$orange: #f27d00;
$pink: #c01466;
$green: #0eaa38;
$win-color: #005CFF30;
$flag-green: #5ec0be;
$red: #d20404;
$red-01: #B61515;
$blue: #004cd2;
$deep-blue: #00264e;
$dark-blue: #002A47;

//Colors custom
$primary-color: #005CFF;
$dark-primary-color: #075697;
$light-primary-color: #0A79D6;
$secondary-color: $white;
$hover-blue: #003D70;

// Icons steps on checkout page
$iconsInTitles: user url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_515_10119)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3333 11.3329H4.6667C3.42902 11.3329 2.24202 11.8246 1.36685 12.6997C0.491672 13.5749 0 14.7619 0 15.9996V17.3326C-4.77039e-08 17.8631 0.210679 18.3718 0.585707 18.747C0.960735 19.1222 1.46941 19.3331 1.99989 19.3333H14.0001C14.5305 19.3333 15.0392 19.1226 15.4142 18.7476C15.7893 18.3725 16 17.8638 16 17.3334V15.9996C16 14.7619 15.5083 13.5749 14.6332 12.6997C13.758 11.8246 12.571 11.3329 11.3333 11.3329ZM4.6667 12.6667H11.3333C12.2175 12.6667 13.0654 13.0179 13.6906 13.6431C14.3158 14.2683 14.667 15.1163 14.667 16.0004V17.3334C14.6671 17.421 14.65 17.5078 14.6165 17.5888C14.583 17.6697 14.5339 17.7433 14.4719 17.8052C14.41 17.8672 14.3364 17.9163 14.2555 17.9498C14.1745 17.9833 14.0877 18.0004 14.0001 18.0003H1.99989C1.82301 18.0003 1.65338 17.9301 1.52831 17.805C1.40324 17.6799 1.33298 17.5103 1.33298 17.3334V15.9996C1.3332 15.1156 1.68454 14.2679 2.30971 13.6428C2.93488 13.0178 3.78269 12.6667 4.6667 12.6667ZM8.00042 0.666504C7.07744 0.666504 6.17518 0.940202 5.40775 1.45299C4.64031 1.96577 4.04216 2.69461 3.68895 3.54734C3.33574 4.40006 3.24333 5.33838 3.42339 6.24364C3.60346 7.14889 4.04792 7.98041 4.70057 8.63306C5.35322 9.28571 6.18474 9.73017 7.09 9.91024C7.99525 10.0903 8.93356 9.99789 9.78629 9.64468C10.639 9.29146 11.3679 8.69332 11.8807 7.92589C12.3934 7.15845 12.6671 6.25619 12.6671 5.33321C12.6671 4.09552 12.1755 2.90853 11.3003 2.03335C10.4251 1.15817 9.23811 0.666504 8.00042 0.666504ZM8.00042 1.99948C8.65977 1.99948 9.30431 2.195 9.85254 2.56132C10.4008 2.92763 10.8281 3.44829 11.0804 4.05745C11.3327 4.6666 11.3987 5.3369 11.2701 5.98358C11.1415 6.63026 10.824 7.22427 10.3577 7.6905C9.8915 8.15673 9.29748 8.47424 8.6508 8.60287C8.00412 8.7315 7.33382 8.66548 6.72466 8.41316C6.1155 8.16084 5.59485 7.73355 5.22853 7.18532C4.86222 6.63709 4.6667 5.99255 4.6667 5.33321C4.66693 4.44912 5.01824 3.6013 5.64338 2.97616C6.26853 2.35101 7.11634 1.99971 8.00042 1.99948Z' fill='%23005CFF'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_515_10119'%3e%3crect width='16' height='18.6668' fill='white' transform='translate(0 0.666504)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e "),
  home url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_475_8177)'%3e%3cpath d='M18.6551 16.0002C18.2671 16.0019 17.8826 15.9267 17.5237 15.779C17.1649 15.6313 16.8389 15.414 16.5646 15.1397C16.2902 14.8653 16.0729 14.5393 15.9252 14.1805C15.7775 13.8217 15.7024 13.4372 15.7041 13.0492H8.26108C8.24105 13.8183 7.92146 14.5491 7.37041 15.086C6.81936 15.6229 6.08044 15.9234 5.31108 15.9234C4.54173 15.9234 3.80279 15.6229 3.25174 15.086C2.70069 14.5491 2.3811 13.8183 2.36107 13.0492H7.96592e-05V1.63617C-0.00205876 1.42034 0.0388766 1.20624 0.120487 1.00642C0.202097 0.806604 0.322737 0.625079 0.47536 0.472456C0.627984 0.319833 0.809523 0.199177 1.00934 0.117567C1.20916 0.0359571 1.42324 -0.00497824 1.63907 -0.00283982H16.0651C16.281 -0.00511214 16.4952 0.0357271 16.6951 0.117277C16.8951 0.198828 17.0767 0.319453 17.2294 0.47209C17.3822 0.624727 17.5029 0.806308 17.5846 1.00619C17.6663 1.20608 17.7072 1.42025 17.7051 1.63617V2.06216H21.1151C21.5993 2.06061 22.0742 2.19504 22.4858 2.45015C22.8974 2.70526 23.229 3.07081 23.4431 3.50517L25.1811 6.94816C25.219 7.04397 25.2413 7.14527 25.2471 7.24817V13.0842H21.5751C21.5775 13.468 21.5036 13.8485 21.3578 14.2037C21.212 14.5588 20.9972 14.8814 20.7257 15.1528C20.4543 15.4243 20.1317 15.6391 19.7766 15.7849C19.4215 15.9307 19.0409 16.0046 18.6571 16.0022L18.6551 16.0002ZM18.6551 14.6882C19.0899 14.6882 19.5069 14.5154 19.8144 14.208C20.1218 13.9005 20.2946 13.4835 20.2946 13.0487C20.2946 12.6139 20.1218 12.1968 19.8144 11.8894C19.5069 11.5819 19.0899 11.4092 18.6551 11.4092C18.2703 11.4141 17.8994 11.5531 17.6061 11.8022C17.5731 11.8682 17.5061 11.9022 17.4751 11.9332C17.2065 12.2307 17.0545 12.6154 17.0471 13.0162C17.0407 13.232 17.0774 13.447 17.1551 13.6485C17.2328 13.8499 17.3498 14.0339 17.4995 14.1896C17.6491 14.3453 17.8283 14.4696 18.0266 14.5552C18.2248 14.6408 18.4381 14.686 18.6541 14.6882H18.6551ZM5.34407 14.6882C5.66824 14.6882 5.98513 14.592 6.25466 14.4119C6.52419 14.2318 6.73426 13.9759 6.85831 13.6764C6.98236 13.3769 7.01483 13.0473 6.95159 12.7294C6.88835 12.4115 6.73224 12.1194 6.50302 11.8902C6.27381 11.661 5.98177 11.5049 5.66384 11.4417C5.3459 11.3784 5.01635 11.4109 4.71686 11.5349C4.41737 11.659 4.16139 11.8691 3.9813 12.1386C3.8012 12.4081 3.70508 12.725 3.70508 13.0492C3.70294 13.2652 3.74397 13.4796 3.82576 13.6796C3.90756 13.8796 4.02847 14.0613 4.18142 14.214C4.33436 14.3666 4.51625 14.4872 4.71642 14.5686C4.91659 14.6501 5.131 14.6907 5.34708 14.6882H5.34407ZM16.0981 1.31117H1.67208C1.62832 1.30855 1.58451 1.31522 1.54352 1.33078C1.50254 1.34633 1.46531 1.37041 1.43431 1.40141C1.40332 1.43241 1.37925 1.46962 1.3637 1.5106C1.34814 1.55159 1.34145 1.59542 1.34407 1.63917V11.7392H2.68808C2.9352 11.2466 3.31442 10.8325 3.78337 10.5431C4.25233 10.2538 4.79252 10.1005 5.34357 10.1005C5.89462 10.1005 6.43481 10.2538 6.90377 10.5431C7.37272 10.8325 7.75195 11.2466 7.99907 11.7392H16.0321C16.1437 11.5199 16.2752 11.3113 16.4251 11.1162V1.63617C16.4251 1.59309 16.4166 1.55044 16.4001 1.51065C16.3836 1.47085 16.3595 1.43469 16.329 1.40423C16.2986 1.37378 16.2624 1.34961 16.2226 1.33313C16.1828 1.31664 16.1402 1.30816 16.0971 1.30816L16.0981 1.31117ZM22.2981 4.09817C22.1832 3.88401 22.0133 3.70431 21.8059 3.57759C21.5985 3.45087 21.3611 3.38169 21.1181 3.37717H17.7371V6.55717H23.5371L22.2981 4.09817ZM23.9701 11.7372V7.86816H17.7371V10.2292C18.032 10.1244 18.3421 10.069 18.6551 10.0652C19.2063 10.0649 19.7467 10.218 20.2158 10.5075C20.6849 10.797 21.0642 11.2113 21.3111 11.7042H23.9671L23.9701 11.7372Z' fill='%23005CFF'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_475_8177'%3e%3crect width='25.246' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e "),
  credit-card url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.8044 0.353394H3.19554C2.34723 0.354621 1.53417 0.692565 0.934943 1.29302C0.335715 1.89348 -0.000542164 2.70731 6.93409e-07 3.55562V12.4445C-0.000557335 13.2928 0.335715 14.1065 0.934943 14.7071C1.53417 15.3075 2.34723 15.6455 3.19554 15.6467H16.8044C17.6527 15.6455 18.4658 15.3075 19.065 14.7071C19.6642 14.1065 20.0005 13.2928 19.9999 12.4445V3.55562C20.0005 2.70731 19.6642 1.89345 19.065 1.29302C18.4658 0.692594 17.6527 0.354622 16.8044 0.353394ZM3.19554 1.35562H16.8044C17.3871 1.35629 17.9456 1.58843 18.357 2.00105C18.7683 2.41365 18.9989 2.97294 18.9977 3.55562V3.63118H0.997715V3.55562C0.996599 2.97225 1.22763 2.41231 1.64 1.99948C2.0524 1.58677 2.612 1.35505 3.19546 1.35562H3.19554ZM16.8044 14.6445H3.19554C2.61283 14.6438 2.05437 14.4117 1.64297 13.9991C1.2316 13.5863 1.001 13.0272 1.00223 12.4445V6.66677H19.0022V12.4445C19.0033 13.0279 18.7723 13.5878 18.3599 14.0006C17.9475 14.4133 17.3879 14.6451 16.8045 14.6445H16.8044Z' fill='%23005CFF'/%3e%3c/svg%3e ");

@each $classname-in-tag-i-with-icon,
$name-icon-in-icons in $iconsInTitles {
  .accordion-heading .accordion-toggle {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;

    i.icon-#{$classname-in-tag-i-with-icon} {
      margin-right: 6px;

      &::before {
        content: #{$name-icon-in-icons};
      }
    }
  }
}