{
  "store.custom#page-app-{{dashCase name}}": {
    "blocks": [
      "flex-layout.row#container--page--app--{{dashCase name}}"
    ]
  },

  "flex-layout.row#container--page--app--{{dashCase name}}": {
    "props": {
      "blockClass": [
        "container__page--app--{{dashCase name}}-row",
        "container__page--app-row",
        "container__page-row"
      ],
      "preserveLayoutOnMobile": true,
      "fullWidth": true
    },
    "children": [
      "flex-layout.col#container--page--app--{{dashCase name}}"
    ]
  },

  "flex-layout.col#container--page--app--{{dashCase name}}": {
    "props": {
      "blockClass": [
        "container__page--app--{{dashCase name}}-col",
        "container__page--app-col",
        "container__page-col"
      ],
      "preventVerticalStretch": true,
      "fullWidth": true
    },
    "children": [
      "app-{{dashCase name}}"
    ]
  }
}