.free-shipping {
  @include size(auto, 45px);
  border-radius: 9px;
  padding: 0 16px;
  margin: 24px 0 16px;

  @include mq("992") {
    float: right;
    margin: 24px 0 0;
    @include size(360px, 45px);
    padding: 0;
  }

  &__title {
    @include text(5, $dark-blue);
  }

  &-bar-content {
    @include size(100%, 3px);
    @include display-flex(center, flex-start, row);
    margin: 10px auto 0;
    position: relative;
    background-color: $light-gray-05;

    @include mq("992") {
      margin: 0;
    }
  }

  &__text {
    margin: 0 0 0 50px;
    z-index: 2;

    strong,
    span {
      @include text(5, $dark-blue);
    }

    &:before {
      @include abs-position(50%, -12px, initial, initial);
      transform: translate(0, -50%);
      @include size(22px, 16px);
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H16V0H2C0.895 0 0 0.895 0 2V13H2C2 14.655 3.345 16 5 16C6.655 16 8 14.655 8 13H14C14 14.655 15.345 16 17 16C18.655 16 20 14.655 20 13H22V8L19 4ZM5 14.5C4.17 14.5 3.5 13.83 3.5 13C3.5 12.17 4.17 11.5 5 11.5C5.83 11.5 6.5 12.17 6.5 13C6.5 13.83 5.83 14.5 5 14.5ZM18.5 5.5L20.465 8H16V5.5H18.5ZM17 14.5C16.17 14.5 15.5 13.83 15.5 13C15.5 12.17 16.17 11.5 17 11.5C17.83 11.5 18.5 12.17 18.5 13C18.5 13.83 17.83 14.5 17 14.5Z' fill='%230862AD'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      content: "";
      display: block;
    }
  }

  &__barActive {
    @include abs-position(0, initial, initial, initial);
    @include size(0, 3px);
    border-radius: 9px;
    display: block;
    max-width: 100%;
    transition: width 0.5s;
    background-color: $primary-color;

    &.winShipping {
      background-color: $win-color;

      .free-shipping__text {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H16V0H2C0.895 0 0 0.895 0 2V13H2C2 14.655 3.345 16 5 16C6.655 16 8 14.655 8 13H14C14 14.655 15.345 16 17 16C18.655 16 20 14.655 20 13H22V8L19 4ZM5 14.5C4.17 14.5 3.5 13.83 3.5 13C3.5 12.17 4.17 11.5 5 11.5C5.83 11.5 6.5 12.17 6.5 13C6.5 13.83 5.83 14.5 5 14.5ZM18.5 5.5L20.465 8H16V5.5H18.5ZM17 14.5C16.17 14.5 15.5 13.83 15.5 13C15.5 12.17 16.17 11.5 17 11.5C17.83 11.5 18.5 12.17 18.5 13C18.5 13.83 17.83 14.5 17 14.5Z' fill='%23007A00'/%3E%3C/svg%3E%0A");
          right: 0;
        }
      }
    }
  }
}