//Steps on header
.header-checkout-steps {
  padding: 0 16px;

  @include mq('1200') {
    padding: 0;
  }
}

.steps-container {
  .steps-item {
    @include display-flex(center, center, column);

    @include mq('1200') {
      max-width: 50px;
    }

    &.cart-container,
    &.profile-container,
    &.shipping-container,
    &.payment-container {
      &--active {
        .cart-background {
          background-color: $primary-color;
        }

        .step-title {
          color: $primary-color;
        }
      }

      &--success {
        .cart-background {
          background-color: $win-color;
        }

        .cart-icon-container {
          content: url("data:image/svg+xml,%3Csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.73045 0.207685L2.53758 3.27876L1.30955 2.10032C1.24283 2.02556 1.16073 1.96484 1.06839 1.92197C0.976056 1.8791 0.875482 1.85501 0.772984 1.85121C0.670485 1.84741 0.568275 1.86399 0.472768 1.89989C0.377261 1.9358 0.29052 1.99026 0.217988 2.05986C0.145457 2.12947 0.0887012 2.2127 0.051284 2.30436C0.0138667 2.39601 -0.00340447 2.49409 0.000554606 2.59245C0.00451368 2.69081 0.0296176 2.78732 0.0742904 2.87593C0.118963 2.96453 0.18224 3.04332 0.26015 3.10735L2.00916 4.79287C2.0787 4.85906 2.16118 4.91143 2.25185 4.94697C2.34253 4.98252 2.43963 5.00053 2.53758 4.99999C2.73283 4.9992 2.91993 4.92481 3.05856 4.79287L6.77985 1.22185C6.84961 1.15546 6.90498 1.07647 6.94276 0.989435C6.98055 0.902403 7 0.809052 7 0.714769C7 0.620486 6.98055 0.527135 6.94276 0.440103C6.90498 0.353071 6.84961 0.274079 6.77985 0.207685C6.6404 0.0746639 6.45177 0 6.25515 0C6.05853 0 5.86989 0.0746639 5.73045 0.207685Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .cart-background {
      background-color: $dark-gray-06;
      border-radius: 50%;
      margin: 0 auto;
      @include size(24px);
      @include text(5, $white);
      @include display-flex(center, center, column);
    }


    .step-title {
      @include text(5, $dark-gray);
      padding: 8px 0 0;
      text-align: center;

      @include mq('1200') {
        white-space: nowrap;
      }
    }
  }

  .separation-line-cart {
    margin-bottom: 28px;
    border-top: 1px solid $dark-gray-06;
    flex: 0 0 auto;
    @include size(25px, auto);

    @include mq('768') {
      @include size(100px, auto);
    }
  }
}