.shelf-checkout {
  .tituloCheckout {
    @include text(2, $dark-blue);
  }

  .shelf-list {
    list-style: none;
    margin: 0;

    @include mq('1200') {
      margin: 0 -5px;
    }
  }

  .shelf__product-item {
    @include display-flex(center, center, row);
    min-height: 90px;
    background: $white-03;
    padding: 16px;
    @include border-radius();

    @include mq('1200') {
      margin: 0 5px;
    }

    .product-item {
      &__img {
        flex: 0 0 auto;

        img {
          @include size(50px);
          display: block;
          object-fit: contain;
        }
      }

      &__info {
        @include display-flex(stretch, space-between, column);
        margin-left: 16px;
      }

      &__title {
        margin: 0 0 16px 0;

        @include mq('1200') {
          margin: 0 0 8px 0;
        }

        a {
          @include text(4, $dark-blue, $fontMedium);
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          max-width: 100%;
          outline: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        @include display-flex(center, space-between, row);

        .list-price {
          @include text(4, $primary-color);

          @include mq('1200') {
            margin: 0 0 12px 0;
          }
        }

        @include mq('1200') {
          flex-direction: column;
          align-items: self-start;
        }
      }

      &__buy-button {
        a {
          @include link-button-secondary();
          font-weight: $fontSemiBold;
          background: none;
          border: 0;
          box-shadow: none;

          @include mq('1200') {
            padding-left: 0;
          }
        }
      }
    }
  }

  .slick-dots {
    li {
      button {
        &::before {
          color: linear-gradient(0deg, $dark-blue, $dark-blue),
            linear-gradient(0deg, $light-gray-05, $light-gray-05);
        }
      }

      &.slick-active {
        button {
          &::before {
            color: linear-gradient(0deg, $light-gray-05, $light-gray-05),
              linear-gradient(0deg, $dark-blue, $dark-blue);

          }
        }
      }
    }
  }

  .slick-arrow {
    background-color: $primary-color;
    @include border-radius();
    @include size(32px);

    &:hover {
      background-color: $hover-blue;
    }

    &:before {
      content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.225554 3.46052L3.4604 0.225675C3.53133 0.154166 3.61571 0.0974081 3.70868 0.0586748C3.80165 0.0199416 3.90137 0 4.00208 0C4.1028 0 4.20252 0.0199416 4.29549 0.0586748C4.38846 0.0974081 4.47284 0.154166 4.54377 0.225675C4.68587 0.36862 4.76562 0.561988 4.76562 0.763544C4.76562 0.965101 4.68587 1.15847 4.54377 1.30141L1.84298 4.00221L4.54377 6.703C4.68587 6.84594 4.76562 7.03931 4.76562 7.24087C4.76562 7.44242 4.68587 7.63579 4.54377 7.77874C4.47248 7.84945 4.38793 7.90539 4.29498 7.94336C4.20203 7.98132 4.10249 8.00057 4.00208 7.99999C3.90168 8.00057 3.80214 7.98132 3.70919 7.94336C3.61624 7.90539 3.53169 7.84945 3.4604 7.77874L0.225554 4.54389C0.154046 4.47296 0.0972881 4.38858 0.0585546 4.29561C0.0198216 4.20264 -0.00012064 4.10292 -0.00012064 4.00221C-0.00012064 3.90149 0.0198216 3.80177 0.0585546 3.7088C0.0972881 3.61583 0.154046 3.53145 0.225554 3.46052Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      font-size: 10px;
    }

    &.slick-next {
      transform: rotate(180deg);
      top: calc(50% - 16px);
      right: -10px;
      z-index: 1;

      @include mq('1350') {
        right: -36px;
      }
    }

    &.slick-prev {
      left: -10px;
      z-index: 1;

      @include mq('1350') {

        left: -36px;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 70px;
  }
}