.flexCol {
  &--inst-body--box {
    background-color: $secondary-color;
    padding: 40px 44px;
    margin: 16px 0;
    height: fit-content;
    @include border-radius();

    &-contacts {
      .stretchChildrenWidth {
        justify-content: center;
      }
    }
  }
}

.flexRow {
  &Content {
    &--inst-contact-us-container {
      flex-direction: column;

      .stretchChildrenWidth {
        width: 100% !important;
      }

      :global(.vtex-input) {
        display: block;
        margin: 16px 0;
      }

      :global(.vtex-input__label),
      :global(.vtex-textarea__label) {
        @include textConfig($dark-gray, 14, $fontSemiBold, 16, left, initial, 0);
      }

      :global(.vtex-input-prefix__group),
      :global(.vtex-textarea__input) {
        border: 1px solid $light-gray;
        @include border-radius();
      }

      :global(.vtex-styleguide-9-x-input),
      :global(.vtex-textarea__input) {
        @include textConfig($light-gray, 16, $fontSemiBold, 18, left, initial, 0);
        @include border-radius();
      }

      @include mq('1024') {
        flex-direction: row;

        .stretchChildrenWidth {
          padding: 0 16px;
          width: 50% !important;
        }
      }
    }

    &--contact-us-info-box {
      &-contacts {
        margin: 16px 0;
      }

      &-contacts,
      &-opening-hours {
        flex-direction: column;

        .stretchChildrenWidth {
          width: 100% !important;
        }

      }
    }
  }

  &--inst-contact-us {
    &-container {
      @include mq('1024') {
        margin: 0 -16px;
      }
    }
  }
}