.accessCodeOptionBtn {
  :global(.vtex-button__label) {
    :first-child {
      display: none;
    }

    &::after {
      @include textConfig($black, 12, $fontBold, 20, center, initial, 0);
      content: 'Código de acesso por e-mail';
    }
  }
}

.accountOptions {
  text-align: center;

  :nth-child(2n),
  &SectionTitle {
    display: none;
  }

  :first-child {

    :nth-child(2n),
    :nth-child(3n) {
      @include size(100%, 48px);
      @include textConfig($black, 12, $fontBold, 14, center, initial, 0);
      align-items: center;
      background: transparent;
      border-radius: 8px;
      border: 1px solid $light-gray;
      justify-content: center;
      margin-bottom: 10px;
    }

    :nth-child(2n),
    :nth-child(3n) {
      display: flex;
    }
  }
}

.arrowUp {
  left: 45%;
  top: -3px;
}

.backButton {
  :global(.vtex-button__label) {
    color: $primary-color;
  }

  :global(.vtex-button) {

    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

.box {
  left: -100px;
  right: auto !important;
  top: 17px;
}

.container {
  :global(.vtex-button__label) {
    @include size(85px, auto);
    padding: 0;
    margin: 0 10px;
  }

  :global(.vtex-button) {
    @include display-flex();

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.content {
  padding: 15px 20px;

  &--accountOptions {
    margin-top: 1px;
  }

  &Container {
    margin: 0;

    .contentForm {
      min-width: 250px;
    }
  }

  &--emailAndPassword {
    .contentFormVisible {
      padding-left: 0px;
    }
  }

  &Form {
    @include size(100%, auto);
    padding: 0;
  }
}

.emailPasswordOptionBtn {
  :global(.vtex-button__label) {
    @include textConfig($black, 12, $fontBold, 20, center, initial, 0);
  }
}

.formTitle {
  @include textConfig($black, 14, $fontBold, 20, center, initial, 0);
}

.label,
.profile {
  display: flex;
  align-items: center;
  @include textConfig($black, 14, $fontSemiBold, 15, left, initial, 0);

  &::before {
    content: "";
    @include background-img(url('assets/icons/login-icon.svg'));
    @include size(24px);
    margin-right: 8px;
  }
}

.logoutButton {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 8px;
  color: $white !important;
  @include size(100%, 48px);
  @include textConfig($white, 14, $fontBold, 20, center, initial, 0);

  &:hover {
    background-color: $blue;
  }
}

.profile {
  max-width: 90px;
  text-align: left;
  white-space: break-spaces;
}

.oauthLabel {
  @include textConfig($black, 16, $fontSemiBold, 24, center, initial, 0);
}

.options {
  min-width: 293px;

  &List {
    margin: 0;

    &Item {
      :global(.vtex-button) {
        background: transparent;
        cursor: pointer;
        border: 1px solid $light-gray;
        border-radius: 8px;
      }

      margin-bottom: 10px;
    }
  }
}

.loading {
  min-width: 293px;
}

.sendButton {
  @include button-primary();
}

.contentAlwaysWithOptions {
  .loginOptionsContainer {
    @include size(100%, auto);

    @include mq('640') {
      margin-right: 20px;
    }

    @include mq('1026') {
      margin-right: 100px;
    }
  }

  .contentForm {
    min-width: 19rem;
  }
}

.formFooter {
  border: none;
}

.inputContainer {
  @include input-general();

  :global(.vtex-styleguide-9-x-input)::placeholder {
    @include textConfig($black, 14, $fontSemiBold, 15, left, initial, 0);
  }
}

.dontHaveAccount,
.forgotPasswordLink {
  color: $primary-color;
}