:global(.vtex-styleguide-9-x-rotate):global(.vtex__icon-spinner) {
  color: $primary-color;
}

:global(.vtex-login-2-x-backButton) {
  :global(.vtex-button__label) {
    padding-left: 0px;

    span {
      :global(.mr2) {
        margin: 0;
        @include background-img(url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.50512 12.0176L6.9332 10.599L3.83526 7.50109L12.0386 7.50109L12.0386 5.49866L3.83526 5.49867L6.9332 2.40073L5.50512 0.982177L-4.53051e-05 6.49988L5.50512 12.0176Z' fill='%23303030'/%3E%3C/svg%3E%0A"), $bgSize: auto);
        @include size(15px);

        svg {
          display: none;
        }
      }

      span {
        @include textConfig($black, 14, $fontBold, 20, center, initial, 0);
      }
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--second-header-mobile) {
  :global(.vtex-store-components-3-x-searchBarInnerContainer--opened) {
    :global(.vtex-store-components-3-x-searchBarContainer) {
      :global(.vtex-styleguide-9-x-input) {
        padding-left: 16px;
      }
    }
  }
}

:global(body.bg-base.pickup-in-point) {

  :global(.vtex-minicart-2-x-minicartQuantityBadge) {
    display: none !important;
  }

  :global(.vtex-minicart-2-x-openIconContainer) {
    pointer-events: none;
  }
}