.flexRow {
  &--main-header {
    background-color: $white;
  }
}

.flexRowContent {
  &--main-header {
    @include grid();
    padding: 20px 16px 10px 16px;
    background-color: $white;
    justify-content: space-between;

    &-mobile {
      padding: 20px;
      background-color: $white;
      justify-content: space-between;
    }
  }
}

.flexRowContent--container__product-summary-search {
  display: flex;
  max-width: 336px;

  .stretchChildrenWidth:not(:last-child) {
    width: auto !important;
  }
}

.flexCol--container__product-summary-search {
  width: 100% !important;

  &-image {
    width: 100% !important;
    margin-right: 20px;

    :global(.vtex-product-summary-2-x-image) {
      max-width: 89px !important;
    }
  }

  .stretchChildrenWidth {
    justify-content: left;
  }

  :global(.vtex-product-summary-2-x-productBrand) {
    font-size: 14px;
    min-height: auto;
  }

  :global(.vtex-product-price-1-x-listPriceValue) {
    font-size: 12px;
  }

  :global(.vtex-product-price-1-x-currencyContainer--container__selling-price) {
    font-size: 16px;
  }

  .flexRowContent--available__shelf-search {
    display: grid;
    grid-template-columns: minmax(auto, 73px) minmax(auto, 146px);
    align-items: end;
    gap: 18px;
    @include button-primary();

    @include mq('1026') {
      grid-template-columns: minmax(auto, 81px) minmax(auto, 164px);
      align-items: center;
    }

    :global(.vtex-button) {
      width: 100% !important;
      min-width: 100%;
      max-width: 146px;
    }
  }
}

.flexRowContent {
  &--second-header-mobile {
    position: relative;

    :global(.vtex-store-components-3-x-logoLink) {
      background-color: $white;
      @include abs-position(25px, auto, auto, 70px);
      z-index: 1;
    }

    :global(.vtex-store-components-3-x-sizeMobile) {
      padding: 0;
    }

    :global(.vtex-store-components-3-x-searchBarContainer) {
      padding-bottom: 0;

      :global(.vtex-styleguide-9-x-input) {
        padding-left: 50px;
      }
    }

    :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
      width: calc(90vw - 25vw);
    }

    :global(.vtex-store-components-3-x-searchBarInnerContainer) {
      width: calc(90vw - 25vw);
    }
  }
}