.wrapper--container__header-mobile {
  min-height: 131px;

  .container--container__header-mobile {
    background-color: $white;
  }
}

.container--container__header-desktop {
  background-color: $white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);

  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    flex-direction: column;

    @include mq('1024') {
      flex-direction: row;
    }
  }
}

.wrapper--container__header-desktop {
  min-height: 161px;
}