/*
  * Configuração Padrão. Não remover a menos que o search não precise ocupar uma linha inteira
  * Para alterar o tamanho do search, é necessario apenas alterar os 90vw para o tamanho desejado
*/

.searchBarContainer {
  padding-top: 0;
  padding-bottom: 10px;
  max-width: 100%;

  @include mq('1026') {
    padding-bottom: 0;
  }

  .autoCompleteOuterContainer {
    width: 100%;
  }

  .resultsList {
    position: fixed;
    right: 50%;
    left: 50%;
    width: 90vw;
    transform: translateX(-50%);

    @include mq('1026') {
      @include abs-position(auto, 0, auto, unset);
      width: 285px;
      transform: unset;
    }
  }

  & :global(.vtex-styleguide-9-x-input) {
    border: 1px solid $light-gray;
    border-radius: 10px;
    @include textConfig($black, 14, $fontSemiBold, 16, left, initial, 0);

    &:focus {
      border-radius: 10px 10px 0 0;
    }

    &::placeholder {
      @include textConfig($black, 14, $fontSemiBold, 16, left, initial, 0);
    }

    @include mq('1026') {
      padding-left: 28px;
    }
  }

  & :global(.vtex-input__suffix) {
    @include abs-position(1px, 1px, 1px, auto);
    border-radius: 10px;
    padding: 0;

    & :global(.vtex-store-components-3-x-searchBarIcon) {
      padding: 0 16px;
      box-sizing: content-box;

      @include size(19px, 100%);
      @include background-img(url('assets/icons/search-bar-icon.svg'), $bgSize: auto);

      .searchIcon {
        display: none;
      }
    }
  }

  & :global(.vtex-input-prefix__group) {
    height: 40px;
    position: relative;
    border: 0;

    @include mq('1026') {
      max-width: 594px;
    }
  }
}

.searchBarInnerContainer {
  @include mq('1025', max) {
    width: 90vw;
    margin: 0 auto;
  }

  @include mq('1026') {
    .portalContainer {
      z-index: 11 !important;
    }

    .portalContainer,
    .portalWrapper {
      position: absolute !important;
      width: 100%;
    }

    .portalWrapper {
      & :first-child {
        left: 0 !important;
        top: 11px !important;
        z-index: 2;
        width: inherit;
      }

      & :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
        width: 100%;
      }
    }
  }

  &--opened {
    &::before {
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 9;
    }
  }
}

.sizeDesktop {
  @include mq('1026') {
    padding-right: 3rem;
    padding-left: 0;
  }
}

.imageElement--container-icon-wishlist {
  align-items: center;
  display: flex;
  padding: 0 10px;
  height: 100%;
}