.openIconContainer {
  color: transparent;
}

.closeIconContainer {
  justify-content: space-between;
  padding: 10px 30px;
  background-color: $yellow;

  &::before {
    content: 'MENU DA LOJA';
    @include display-flex(center, space-between);
    @include textConfig($white, 14, $fontSemiBold, 16, left, initial, 100);
  }

  .closeIcon {
    color: transparent;
    @include background-img(url('/arquivos/icon-minicart-preto01.svg'));
    @include size(15px);
  }
}

.menuIcon {
  @include background-img(url('/arquivos/icon-drawer-preto01.svg'));
  @include size(25px);
}