.tileListItem {
  width: 100% !important;

  & :global(.vtex-product-summary-2-x-nameContainer) {
    padding-bottom: 0;
    padding-top: 2px;
    text-align: left;
  }

  & :global(.vtex-product-summary-2-x-priceContainer) {
    padding-top: 0;
    text-align: left;
  }

  & :global(.vtex-product-summary-2-x-productBrand) {
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
  }

  & :global(.vtex-product-summary-2-x-imageNormal) {
    width: 100% !important;
    max-width: 132px;
    max-height: 132px;
    object-fit: contain;
  }

  & :global(.vtex-store-components-3-x-discountInsideContainer) {
    right: auto;
    left: 0;
    background-color: $yellow;
    color: $black02;
    border-radius: 2px;
  }

  .element {
    display: grid;
    grid-template-columns: minmax(auto, 89px) 1fr;

    .information {
      row-gap: 8px;
    }

    .imageContainer {
      display: flex;
      justify-content: center;
    }
  }
}

.tileListList {
  gap: 8px;
  justify-content: center;
  order: 2;
  flex-direction: column !important;
}

.tileListSeeMore {
  @include textConfig($black, 14, $fontBold, 31, left, none, 0);
}

.itemList--suggestion {
  border-right: 1px solid $white01;

  @include mq('1026') {
    border-right: none;
  }
}

.itemListTitle {
  width: auto;
  border-top: 1px solid $light-gray-01;
  @include textConfig($black, 14, $fontBold, 31, left, none, 0);
  margin: 0 20px;
  padding: 16px 0 0 0;
}

.itemList--history {
  .itemListTitle {
    margin-left: 0;
  }
}

.tileList {
  overflow: hidden;
  padding-top: 16px;

  @include mq('1026') {
    padding-top: 0;
  }

  @include mq('992') {
    padding-left: 20px;
  }
}

.sellingPrice {
  @include mq('992', max) {
    @include textConfig($black, 16, $fontBold, 22, left, none, -16);
  }
}

.productBrand {
  @include textConfig($black, 12, $fontRegular, 14, left, none, 0);

  @include mq('992', max) {
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
  }
}

.biggy-autocomplete-wrapper {
  width: calc(100vw - 10vw);

  @include mq('1026') {
    width: 100%;
  }

  .biggy-js-container--hidden {
    pointer-events: none;
    padding: 0;
  }
}

.biggy-autocomplete {
  padding: 0;
  width: 100%;
  border: 1px solid $light-gray-01;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  background: $white;
  box-shadow: none;
  position: relative;
  top: -5px;

  @include mq('1026') {
    padding: 5px 0 20px 0;
    max-width: 594px;
    top: 0;
  }

  @include mq('992', max) {
    right: 0;
    flex-direction: column !important;
  }
}

.history-and-top-wrapper {
  @include mq('1026') {
    padding: 2px 0;
  }
}

.itemListSubItemLink {
  padding-left: 20px !important;
}

.itemListList {
  .itemListItem {
    .itemListIcon {
      @include display-flex();
      @include size(20px !important);
      line-height: initial;
      padding-right: 13px;
    }

    .itemListLink {
      @include display-flex(center, flex-start);
    }
  }
}

.itemListIcon {
  &::before {
    content: '';
    @include background-img(url("data:image/svg+xml;charset=UTF-8,%3csvg id='Grupo_6140' data-name='Grupo 6140' xmlns='http://www.w3.org/2000/svg' width='17.568' height='16' viewBox='0 0 17.568 16'%3e%3cpath id='Caminho_8899' data-name='Caminho 8899' d='M3.488,11.349a.535.535,0,0,0-.939.512,8.009,8.009,0,1,0-.939-4.736l-.683-.64a.543.543,0,0,0-.768.768L1.7,8.789a.541.541,0,0,0,.768,0L4,7.253a.543.543,0,1,0-.768-.768L2.72,7a6.9,6.9,0,1,1,.768,4.352Z' transform='translate(0)' fill='%23707070'/%3e%3cpath id='Caminho_8900' data-name='Caminho 8900' d='M178.465,71.655A.667.667,0,0,0,177.81,71a.625.625,0,0,0-.6.655v4.939l-2.016,2.016a.641.641,0,0,0,.907.907l2.167-2.167a.906.906,0,0,0,.2-.454Z' transform='translate(-168.092 -68.439)' fill='%23707070'/%3e%3c/svg%3e"));
    @include size(17.5px, 16px);
    position: absolute;
  }
}

.itemListPrefix {
  @include textConfig($black, 13, $fontBold, 31, left, none, 0);
  width: 22px;
  padding-right: 5px;
}

.itemListIcon :global(.vtex__icon-clock),
.biggy-autocomplete :global(.vtex-modal-layout-0-x-triggerContainer--quickview),
.close-btn {
  display: none;
}

.tileListFooter {
  display: flex;
  justify-content: left;

  .tileListSeeMore {
    height: initial;
    line-height: initial;
    @include font-size(14);
    font-weight: $fontBold;
  }
}

.itemListLinkTitle {
  @include textConfig($dark-gray, 13, $fontRegular, 31, left, none, 0);
  white-space: break-spaces;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  width: 100%;
}

.tileList {
  border: none;
  min-height: 150px;
  @include display-flex(inherit, space-between, column);
  padding: 10px 16px 0 20px;

  .tileListTitle {
    display: none;
  }

  @include mq('1026') {
    padding-top: 23px;
    margin-right: 20px;
    border-top: 1px solid $light-gray-01;
  }
}

.tileListTitle {
  @include textConfig($primary-color, 12, $fontBold, 17, left, none, 40);
  margin: 5px 0 0 0;
  padding: 0;
}

.listPrice {
  .currencyContainer {
    @include textConfig($dark-gray, 12, $fontRegular, 22, left, none, -12);
  }

  .currencyContainer {
    font-weight: normal;
  }
}

:global(.vtex-store-components-3-x-searchBarInnerContainer--desktop) :global(.vtex-store-components-3-x-portalWrapper--desktop) .tileListList .tileListItem {
  padding: 0;
  position: relative;
  top: initial !important;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) {
  padding: 10px;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-stack-layout-0-x-stackContainer),
:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-stack-layout-0-x-stackContainer) :first-child {
  top: 0 !important;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-flex-layout-0-x-flexRow--botao-add-cart) {
  display: none;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
  @include font-size(15);
  color: $black02;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-product-price-1-x-installments) {
  @include font-size(12);
  margin-bottom: 0;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem :global(.vtex-product-summary-2-x-container--vitrine) :global(.vtex-product-summary-2-x-productBrand) {
  -webkit-line-clamp: 2;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem .element {
  background-color: transparent;

  @include mq('1026') {
    padding: 12px;
  }
}

:global(.vtex-store-components-3-x-searchBarInnerContainer) .tileListList .tileListItem .element .imageContainer {
  height: 5rem;
}