.flexCol {
  &--container {
    &__prices-col {
      @include mq('1026') {
        margin: 0 0 10px;
      }
    }
  }

  &--quickview {
    &__mainImages {
      position: relative;

      .flexRow-- {
        &container__ {
          &flags-row {
            @include abs-position(10px, 10px, auto, auto);
            z-index: 1;
          }
        }
      }

      .flexRowContent-- {
        &container__ {
          &highlights-row {
            flex-direction: column;
            .stretchChildrenWidth {
              flex-direction: column;
            }
          }
          &flags-row {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.flexRow--available__shelf,
.flexRow--container__name {
  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRowContent-- {
  &container__ {
    &list-price {
      min-height: 25px;
    }
  }

  &available__ {
    &shelf {
      flex-direction: column;

      .stretchChildrenWidth {
        width: auto !important;
      }
    }
  }

  &button--primary {
    @include mq('1025', max) {
      margin-top: 8px;
    }
    .stretchChildrenWidth {
      &:first-child {
        width: 100% !important;
      }
    }
  }
}
