.currencyContainer {
  &--container {
    &__selling-price {
      @include textConfig($black, 16, $fontBold, 16, left, none, 0);
      margin-bottom: 4px;
    }
  }
}

.sellingPriceValue {
  &--container {
    &__selling-price {
      display: flex;
      height: auto;
      @include line-height(0);
    }
  }
}

.installments {
  @include textConfig($dark-gray, 12, 400, 18);
  margin-top: 10px;
}

.listPriceValue {
  @include textConfig($dark-gray, 12, $fontRegular, 22, left, none, -12);
}

.savings {
  &--container {
    &__price-savings {
      background-color: $red;
      @include textConfig($white, 10, $fontBold, 22, left, uppercase, 0);
      border-radius: 4px;
      padding: 0 5px;
    }
  }
}
