.stackItem {
  &--container {
    &__price-savings {
      @include abs-position(5px, 5px, auto, auto);
    }

    &__flags-row {
      @include abs-position(8px, auto, 8px, 8px);

      @include mq('1026') {
        @include abs-position(10px, auto, 8px, 110px);
      }

      & :global(.vtex-flex-layout-0-x-flexRowContent--container__flags-row) {
        flex-direction: column;

        & :global(.vtex-flex-layout-0-x-flexRow--container__highlights-row) {
          & :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            flex-direction: column;
          }
        }
      }
    }
  }

  &--wishlist--shelf,
  &--wishlist--pdp {
    left: auto;
    right: 0;

    :global(.vtex-button) {
      height: 20px;
      min-height: 20px;

      &:hover,
      &:focus,
      &:active {
        background: transparent;
      }
    }

    :global(.vtex-button__label) {
      padding: 0 !important;

      :global(.vtex-wish-list-1-x-wishlistIcon) {
        @include background-img(url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_2544)'%3E%3Cpath d='M6.13703 0.270508C5.39824 0.271962 4.66777 0.4264 3.99162 0.724098C3.31548 1.0218 2.70831 1.4563 2.20837 2.00024C1.16912 3.1362 0.592773 4.62007 0.592773 6.1597C0.592773 7.69933 1.16912 9.18319 2.20837 10.3192L10.7857 19.5419C10.8408 19.6001 10.9073 19.6465 10.981 19.6783C11.0547 19.71 11.1341 19.7263 11.2143 19.7263C11.2946 19.7263 11.374 19.71 11.4477 19.6783C11.5214 19.6465 11.5878 19.6001 11.643 19.5419C14.505 16.4694 17.3669 13.3984 20.2289 10.3289C21.2682 9.19292 21.8445 7.70906 21.8445 6.16942C21.8445 4.62979 21.2682 3.14594 20.2289 2.00997C19.7305 1.46387 19.1237 1.02769 18.4473 0.729245C17.7709 0.430803 17.0396 0.276661 16.3003 0.276661C15.5609 0.276661 14.8297 0.430803 14.1533 0.729245C13.4768 1.02769 12.87 1.46387 12.3716 2.00997L11.2192 3.24564L10.0668 2.00024C9.56683 1.4563 8.95966 1.0218 8.28352 0.724098C7.60737 0.4264 6.87689 0.271962 6.13811 0.270508H6.13703ZM6.13703 1.42294C6.71544 1.4285 7.28636 1.5544 7.81346 1.79263C8.34056 2.03087 8.8123 2.37623 9.19865 2.80672L10.7943 4.51267C10.8495 4.57094 10.9159 4.61735 10.9896 4.64906C11.0634 4.68078 11.1427 4.69713 11.223 4.69713C11.3032 4.69713 11.3826 4.68078 11.4563 4.64906C11.53 4.61735 11.5965 4.57094 11.6516 4.51267L13.2376 2.8251C13.6209 2.38942 14.0926 2.04042 14.6214 1.80135C15.1501 1.56228 15.7238 1.43862 16.3041 1.43862C16.8844 1.43862 17.458 1.56228 17.9867 1.80135C18.5155 2.04042 18.9872 2.38942 19.3705 2.8251C20.2014 3.74358 20.6615 4.93794 20.6615 6.17645C20.6615 7.41497 20.2014 8.60934 19.3705 9.52781L11.2181 18.2846L3.06567 9.51375C2.23504 8.59517 1.77514 7.40084 1.77514 6.1624C1.77514 4.92395 2.23504 3.72963 3.06567 2.81105C3.45388 2.38028 3.92735 2.03486 4.45605 1.79665C4.98475 1.55845 5.55717 1.43266 6.13703 1.42726V1.42294Z' fill='%23005CFF' stroke='%23005CFF' stroke-width='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_2544'%3E%3Crect width='21.7903' height='20' fill='white' transform='translate(0.324036)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"));
      }

      :global(.vtex-wish-list-1-x-fill) {
        @include background-img(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='17' viewBox='0 0 19 17' fill='none'%3E%3Cpath d='M5.55946 0.456055C4.95191 0.457251 4.35118 0.584257 3.79513 0.829076C3.23909 1.0739 2.73977 1.43122 2.32863 1.87854C1.47398 2.81274 1 4.03303 1 5.29919C1 6.56534 1.47398 7.78563 2.32863 8.71982L9.3824 16.3044C9.42776 16.3523 9.48243 16.3904 9.54304 16.4165C9.60364 16.4426 9.66893 16.4561 9.73491 16.4561C9.80089 16.4561 9.86619 16.4426 9.9268 16.4165C9.98741 16.3904 10.0421 16.3523 10.0874 16.3044C12.441 13.7777 14.7947 11.2522 17.1483 8.72783C18.003 7.79363 18.4769 6.57334 18.4769 5.30718C18.4769 4.04103 18.003 2.82074 17.1483 1.88655C16.7384 1.43745 16.2394 1.07874 15.6831 0.833309C15.1268 0.587878 14.5255 0.461115 13.9175 0.461115C13.3095 0.461115 12.7081 0.587878 12.1518 0.833309C11.5955 1.07874 11.0965 1.43745 10.6866 1.88655L9.73891 2.90273L8.79119 1.87854C8.38005 1.43122 7.88073 1.0739 7.32468 0.829076C6.76864 0.584257 6.16702 0.457251 5.55946 0.456055Z' fill='%23005CFF'/%3E%3Cpath d='M9.38951 3.94471L8.07727 2.54178C7.75954 2.18775 7.3716 1.90374 6.93812 1.70782C6.50465 1.51189 6.03513 1.40836 5.55946 1.40379V1.40734C5.0826 1.41178 4.61186 1.51522 4.17707 1.71112C3.74228 1.90701 3.35291 2.19108 3.03365 2.54533C2.35056 3.30076 1.97235 4.28293 1.97235 5.3014C1.97235 6.31987 2.35056 7.30206 3.03365 8.05748L9.73802 15.2704L16.4424 8.06904C17.1257 7.31371 17.504 6.33149 17.504 5.31296C17.504 4.29444 17.1257 3.31222 16.4424 2.55689C16.1272 2.1986 15.7392 1.91159 15.3044 1.71498C14.8695 1.51838 14.3978 1.41668 13.9206 1.41668C13.4434 1.41668 12.9716 1.51838 12.5368 1.71498C12.102 1.91159 11.714 2.1986 11.3988 2.55689L10.0945 3.94471C10.0492 3.99263 9.99452 4.03079 9.93391 4.05687C9.8733 4.08296 9.808 4.09641 9.74202 4.09641M5.55946 0.456055C4.95191 0.457251 4.35118 0.584257 3.79513 0.829076C3.23909 1.0739 2.73977 1.43122 2.32863 1.87854C1.47398 2.81274 1 4.03303 1 5.29919C1 6.56534 1.47398 7.78563 2.32863 8.71982L9.3824 16.3044C9.42776 16.3523 9.48243 16.3904 9.54304 16.4165C9.60364 16.4426 9.66893 16.4561 9.73491 16.4561C9.8009 16.4561 9.86619 16.4426 9.9268 16.4165C9.98741 16.3904 10.0421 16.3523 10.0874 16.3044C12.441 13.7777 14.7947 11.2522 17.1483 8.72783C18.003 7.79363 18.4769 6.57334 18.4769 5.30718C18.4769 4.04103 18.003 2.82074 17.1483 1.88655C16.7384 1.43745 16.2394 1.07874 15.6831 0.833309C15.1268 0.587878 14.5255 0.461115 13.9175 0.461115C13.3095 0.461115 12.7081 0.587878 12.1518 0.833309C11.5955 1.07874 11.0965 1.43745 10.6866 1.88655L9.73891 2.90273L8.79119 1.87854C8.38005 1.43122 7.88073 1.0739 7.32468 0.829076C6.76864 0.584257 6.16702 0.457251 5.55946 0.456055Z' stroke='%23005CFF' stroke-width='0.5'/%3E%3C/svg%3E%0A"));
      }
    }
  }
}