.productHighlightWrapper {
  &--collection {
    &__generic {
      margin-bottom: 10px;
      &:nth-child(odd) {
        @include textConfig($white, 10, $fontBold, 22, left, uppercase, 0);
        .productHighlightText {
          border-radius: 4px;
          background-color: $purple;
          padding: 5px;
        }
      }

      &:nth-child(even) {
        @include textConfig($white, 10, $fontBold, 22, left, uppercase, 0);
        .productHighlightText {
          border-radius: 4px;
          background-color: $black;
          padding: 5px;
        }
      }
    }
  }
}
