:global(.vtex-shelf-1-x-arrowLeft),
:global(.vtex-slider-layout-0-x-sliderLeftArrow--container__shelf-slider) {
  @include background-img(url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' transform='rotate(-180 15 15)' fill='%23656565'/%3E%3Cpath d='M14.4665 20L15.8946 18.5814L12.7967 15.4835L21 15.4835L21 13.4811L12.7967 13.4811L15.8946 10.3831L14.4665 8.9646L8.96138 14.4823L14.4665 20Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
  @include size(30px);

  :global(.vtex-slider-layout-0-x-caretIcon),
  :global(.vtex-shelf-1-x-caretIcon) {
    display: none;
  }

  &:hover {
    transform: rotate(180deg);
    @include background-img(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23005CFF'/%3E%3Cpath d='M15.5335 10L14.1054 11.4186L17.2033 14.5165H9V16.5189H17.2033L14.1054 19.6169L15.5335 21.0354L21.0386 15.5177L15.5335 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
  }
}

:global(.vtex-shelf-1-x-arrowRight),
:global(.vtex-slider-layout-0-x-sliderRightArrow--container__shelf-slider) {
  @include background-img(url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.4004' cy='15' r='15' fill='%23656565'/%3E%3Cpath d='M15.9338 10L14.5058 11.4186L17.6037 14.5165H9.40039V16.5189H17.6037L14.5058 19.6169L15.9338 21.0354L21.439 15.5177L15.9338 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
  @include size(31px, 30px);

  :global(.vtex-slider-layout-0-x-caretIcon),
  :global(.vtex-shelf-1-x-caretIcon) {
    display: none;
  }

  &:hover {
    @include background-img(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23005CFF'/%3E%3Cpath d='M15.5335 10L14.1054 11.4186L17.2033 14.5165H9V16.5189H17.2033L14.1054 19.6169L15.5335 21.0354L21.0386 15.5177L15.5335 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
  }
}