.list {
  padding: 0;
  margin: 0 auto;

  .item {
    list-style: none;
  }

  &--container__shelf-with-list {
    @include display-flex(center, flex-start);
    flex-wrap: wrap;

    .item {
      padding: 5px;
      max-width: 140px;

      @include mq('1024') {
        max-width: 230px;
      }
    }
  }
}