.nameContainer {
  padding-top: 8px;
  padding-bottom: 0px;
}

.brandName {
  min-height: 54px;
  @include textConfig($dark-gray, 14, $fontRegular, 18, left, initial, 0);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 0px;

  @include mq('1026') {
    min-height: 39px;
    -webkit-line-clamp: 2;
  }
}

.container {
  & :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
    opacity: 1;
    display: inline-block;
  }
}

.clearLink {
  text-decoration: none;
}

.element {
  border-radius: 10px;
  padding: 12px 8px;
  border: 1px solid $light-gray;
}