.imageElement {
  &--payment-flags-icons {
    margin-right: 33px;
    margin-bottom: 22px;

    @include mq("1026") {
      margin-bottom: 0;
    }
  }

  &--security-flag {
    margin: 0 12px;
    max-width: 72px;
  }
}