.container {
  &--success-state {
    background-color: $secondary-color;
    padding: 38px 16px;
    border-radius: 8px;
  }
}

.heading,
.paragraph {
  &--footer-submenu-item {
    @include textConfig($dark-gray, 14, $fontRegular, 28, left, initial, 0);
    margin: 0;
  }

  &--footer-description-text {
    @include textConfig($dark-gray, 12, $fontRegular, 20, center, initial, 0);
    margin: 0;
  }

  &--footer-item-title {
    @include textConfig($dark-gray, 14, $fontBold, 19, center, initial, 0);
    margin: 0;
  }

  &--newsletter-title {
    @include textConfig($black, 16, $fontBold, 22, center, initial, 0);

    @include mq("1026") {
      @include font-size(20);
      margin-bottom: 24px;
    }

    & :first-child {
      color: $primary-color;
    }
  }

  &--success-state {
    text-align: center;
  }
}

.heading {
  &--footer-item-title {
    @include textConfig($black, 16, $fontBold, 18, left, initial, 0);
  }
}

.link {
  &--footer-submenu-item {
    text-decoration: none;
    color: inherit;
  }
}

.wrapper {
  &--footer-description-text {
    margin: 0 auto;
  }

  &--newsletter-title {
    margin: 0 auto;
  }
}