:global(.avantiimplantacao-avanti-footer-0-x-title-section) {
  >h4 {
    @include title(4);
    margin: 0;
    padding: 13px 0;
    font-weight: $fontBold;

    @include mq("1024") {
      padding: 0;
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 11px;
    }
  }
}

:global(.avantiimplantacao-avanti-footer-0-x-option) {
  >h5 {
    @include title(5);
    color: $dark-gray-03;
    padding: 12px 0;
    margin: 0;
    display: inline-block;

    >strong {
      font-size: 14px;
      color: $dark-gray;
      font-weight: $fontBold;
    }

    @include mq("1024") {
      padding: 0;
    }
  }
}

:global(.avantiimplantacao-avanti-footer-0-x-container-component--security-icons) {
  :global(.avantiimplantacao-avanti-footer-0-x-list--icons) {
    :global(.avantiimplantacao-avanti-footer-0-x-list-item--icon) {
      &:nth-of-type(3) {
        border-left: 1px solid $secondary-color;

        :global(.avantiimplantacao-avanti-footer-0-x-container-component--link-default) {
          @include size(58px, 11px);
          display: block;
        }
      }
    }
  }
}