.flexRow {

  &--footer-logo-container,
  &--footer-social-media {
    background-color: $secondary-color;
    padding-top: 40px;
  }

  &--footer-payment-methods,
  &--footer-menu {
    background-color: $secondary-color;
    padding-top: 48px;

    @include mq('1026') {
      padding-top: 0;
    }
  }

  &--footer-menu-desktop {
    background-color: $secondary-color;
    padding: 64px 0;
    margin-top: 40px;
  }

  &--footer-logo-container {
    margin-top: 43px;
  }
}

.flexRowContent {

  &--footer-logo-container,
  &--footer-social-media,
  &--footer-menu,
  &--footer-payment-methods,
  &--footer-description,
  &--security-flags,
  &--footer-menu-desktop,
  &--newsletter-footer {
    @include grid();
  }

  &--footer-menu-desktop {
    flex-direction: column;

    @include mq('1024') {
      flex-direction: row;
    }
  }

  &--footer-social-media {
    @include display-flex();

    @include mq('1024') {
      padding: 0 0 0 1px;
    }

    .stretchChildrenWidth {
      margin-right: 40px;
      width: auto !important;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--footer-payment-methods {
    max-width: 315px;
    @include display-flex();
    flex-wrap: wrap;
    padding-bottom: 18px;

    @include mq('1026') {
      max-width: unset;
      padding-bottom: 64px;
    }

    .stretchChildrenWidth {
      width: auto !important;

      &:nth-child(5n),
      &:last-child {
        & :first-child {
          margin-right: 0;
        }
      }

      &:nth-child(5n) {
        & :first-child {
          @include mq('1026') {
            margin-right: 33px;
          }
        }
      }
    }
  }

  &--footer-description {
    padding: 40px 16px;
  }

  &--security-flags {
    @include display-flex();
    margin-bottom: 120px;

    & :nth-child(3n) {
      border-left: 1px solid $secondary-color;
      padding-left: 12px;
      display: block;
      margin-left: 12px;
    }
  }

  &--newsletter-footer {
    flex-direction: column;
  }
}

.flexColChild {
  &--footer-menu-col {
    &:last-child {
      border-bottom: 1px solid $light-gray;
    }
  }

}

.flexCol {
  &--collumn__institutional {
    &--menu {
      @include mq('1024') {
        margin-top: 10px;
      }
    }
  }
}