.trigger {
  &--footer-submenu {
    box-shadow: none;
    background: transparent;
    border: 0;
    border-top: 1px solid $light-gray;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    transition: al ease-in-out 300ms;
    @include display-flex(center, space-between);

    &::after {
      content: '';
      @include background-img(url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path id="iconmonstr-arrow-25" d="M10.5 3.17937e-09L12 1.5285L6 7.5L3.23978e-09 1.5285L1.5 2.22556e-08L6 4.5L10.5 3.17937e-09Z" fill="%23005CFF"/></svg>'));
      @include size(12px);
      transition: all ease-in-out 300ms;
    }

    &--visible {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.content {
  &--footer-submenu {
    &--visible {
      padding-bottom: 18px;
    }
  }
}