.footer-checkout {
  .footer-top {
    background-color: $white-05;

    &__list {
      margin: 0;
      padding: 40px 90px;

      @include mq('1200') {
        padding: 0;
        width: 426px;
      }

      &-info {
        list-style: none;
        margin-bottom: 8px;
        @include text(5, $dark-gray, $fontRegular);
        text-align: center;

        @include mq('1200') {
          text-align: left;
        }
      }

      &-content {
        @include mq('1200') {
          display: flex;
          justify-content: space-between;

          .footer-top__list-info {
            margin: 0;

            &:first-child {
              position: relative;

              &:after {
                content: '';
                @include size(1px, 16px);
                display: inline-block;
                background-color: $dark-gray-01;
                position: absolute;
                right: -8px;
                top: 0px;
              }
            }
          }
        }
      }
    }

    .wrapper {
      @include display-flex(center, space-between, column);

      @include mq('1200') {
        @include grid();
        padding: 60px 0;
        max-width: 1094px;
        flex-direction: row;
      }
    }

    .footer-pagamento {
      display: block;
      width: 100%;

      @include mq("1200") {
        width: 545px;
      }

      &__lista {
        padding: 0 40px 40px;
        list-style: none;
        @include display-flex(center, center, row);
        flex-flow: row wrap;
        margin: 0;

        @include mq("1200") {
          padding: 0;
        }

        li {
          margin: 5px 15px;

          @include mq("1200") {
            margin: 5px 10px;
          }
        }
      }
    }
  }


  .footer-bottom {
    @include mq('1200') {
      @include grid();
      padding: 0;
      max-width: 1074px;
    }

    &__copyright {
      padding: 38px 16px 40px;
      margin: 0;
      @include text(5, $dark-gray, $fontRegular);
      text-align: center;
    }

    .wrapper {
      padding: 0 47px 73px;
      @include display-flex(center, center, row);

      @include mq('1200') {
        padding: 0 0 40px;
      }

      .footer-seguranca {
        padding: 0;
        list-style: none;
        margin: 0 20px 0 0;

        @include mq('375') {
          margin: 0 24px 0 0;
        }

        .certificacoes-lets {
          @include size(38px, 30px);
          margin: 0 20px 0 0;

          @include mq('375') {
            margin: 0 24px 0 0;
          }
        }

        .certificacoes-pci {
          @include size(49px, 31px);
        }
      }

    }


    &__credits,
    .footer-seguranca {
      @include display-flex(center, space-between, row);
    }

    .credit-avanti {
      margin: 0 20px 0 0;

      @include mq('375') {
        margin: 0 24px 0 0;
      }

      svg {
        @include size(57px, 10px);
      }
    }

    .credit-vtex {
      svg {
        @include size(53px, 19px);
      }
    }
  }
}