.header-checkout {
  display: block;
  @include size(100%, 148px);
  background-color: $white;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);

  .container {
    @include display-flex(center, space-between, row);
    @include size(100%);
    flex-flow: row wrap;
    margin: 0;
    padding: 0;

    @include mq('1200') {
      padding: 16px 24px;
    }

    &:before,
    &:after {
      content: none;
    }

    .header-checkout-steps {
      display: block;
      width: 100%;

      .steps-container {
        @include display-flex(center, space-between, row);
      }
    }
  }

  &-logo {
    @include size(123px, auto);
    padding: 0 0 0 16px;

    svg {
      @include size(123px, auto);
    }

    @include mq('1200') {
      padding: 0;
      @include size(167px, auto);

      svg {
        @include size(167px, auto);
      }
    }
  }

  &-safebuy {
    @include display-flex(center, space-between, row);
    @include size(auto);
    padding: 0 16px 0 0;

    @include mq('1200') {
      padding: 0;
    }

    &__icon {
      @include size(17px, 25px);
    }

    &__text {
      @include text(4, $primary-color);
      margin: 0 0 0 8px;
      padding: 0;
    }
  }

  @include mq("1200") {
    @include size(100%, 90px);
    display: flex;

    .container {
      @include size(1260px, auto);
      flex-flow: row;
      margin: 0 auto;
      padding: 16px !important;

      .header-checkout-logo {
        order: 1;
      }

      .header-checkout-safebuy {
        order: 3;
      }

      .header-checkout-steps {
        order: 2;
        width: 435px;
      }
    }
  }
}