.vtex-pickup-points-modal-3-x-pkpmodal {
  .pkpmodal-close {
    background-color: $primary-color;
    box-shadow: none;

    svg rect {
      fill: $secondary-color;
    }
  }

  .vtex-pickup-points-modal-3-x-infoBarContainer {
    background-color: $secondary-color;

    .pkpmodal-header {
      background-color: $primary-color;

      .pkpmodal-title {
        @include text(3, $secondary-color)
      }
    }
  }

  .pkpmodal-location-summary {
    svg {
      path {
        fill: $dark-blue;
      }
    }

    .pkpmodal-location-summary-btn {
      @include text(4, $dark-gray-03, $fontRegular);
    }

    .pkpmodal-location-reset {
      @include link-button-secondary();
    }
  }

  .pkpmodal-points-list {
    .vtex-pickup-points-modal-3-x-pickupListTitle {
      @include text(4, $dark-blue, $fontRegular);
    }

    .pkpmodal-points-item {
      .pkpmodal-pickup-point {
        border-color: $light-gray-05;
        @include border-radius();

        .pkpmodal-pickup-point-marker {
          svg {
            path:first-of-type {
              fill: $dark-blue;
            }
          }

          .pkpmodal-pickup-point-distance {
            @include text(5, $dark-blue, $fontRegular);
            text-align: center;
          }
        }

        .pkpmodal-pickup-point-name {
          @include text(3, $dark-blue);
        }

        .pkpmodal-pickup-point-address {
          .address-summary {
            @include text(4, $dark-blue);
          }
        }

        .pkpmodal-pickup-point-availability {
          @include text(5, $primary-color);
        }
      }

      .pkpmodal-pickup-point-sla-availability {
        .pkpmodal-pickup-point-price {
          color: $dark-blue;
        }

        .pkpmodal-pickup-point-sla {
          color: $dark-blue;
        }
      }
    }

    #pkpmodal-show-list-btn {
      @include button-primary();
      height: 44px;
      text-align: center;
    }
  }

  .pkpmodal-search-alone {
    .pkpmodal-locating-image-waiting-pin {
      path:first-of-type {
        fill: $light-gray-05;
      }

      path {
        fill: $dark-gray-03;
      }
    }

    .pkpmodal-search-alone-title {
      @include text(4, $dark-blue);
      text-align: center;
    }

    .pkpmodal-search-alone-subtitle {
      @include text(4, $dark-blue, $fontRegular);
      text-align: center;
    }

    .pkpmodal-postal-code {
      display: block;

      .ship-postalCode {
        display: block;

        #ship-postalCode {
          @include input-general();
          box-shadow: none;
          padding: 21px 16px;
          width: 235px;
        }

        small {
          display: block;
          width: 100%;
          margin-top: 12px;

          a {
            @include link-button-secondary();
          }
        }
      }
    }
  }

  .pkpmodal-info-bar {
    .pkpmodal-details-header-title {
      @include text(4, $dark-blue, $fontRegular);
    }

    .pkpmodal-details-back-lnk {
      @include link-button-secondary();

      svg path {
        fill: $dark-blue;
      }
    }

    .pkpmodal-details-header-buttons {
      .pkpmodal-details-header-button {
        &[data-testid="goToPreviousPickupPoint"] {
          svg path {
            fill: $dark-gray-03;
          }
        }

        &[data-testid="goToNextPickupPoint"] {
          svg path {
            fill: $dark-blue;
          }
        }
      }
    }

    .pkpmodal-pickup-point {
      border-color: $light-gray-05;
      @include border-radius();

      .pkpmodal-pickup-point-marker {
        svg {
          path:first-of-type {
            fill: $dark-blue;
          }
        }

        .pkpmodal-pickup-point-distance {
          @include text(5, $dark-blue, $fontRegular);
          text-align: center;
        }
      }

      .pkpmodal-pickup-point-name {
        @include text(3, $dark-blue);
      }

      .pkpmodal-pickup-point-address {
        .address-summary {
          @include text(4, $dark-blue);
        }
      }

      .pkpmodal-pickup-point-availability {
        @include text(5, $primary-color);
      }
    }

    .pkpmodal-details-info-title {
      @include text(4, $dark-blue);
    }

    .pkpmodal-details-group {
      @include text(5, $dark-gray-03);

      .pkpmodal-details-info-title {
        @include text(4, $dark-blue);
      }
    }

    .pkp-modal-btn-lg {
      @include button-primary();
      text-align: center;
    }
  }
}