import React from 'react'
import styles from './styles.css'

export const {{pascalCase name}} = () => {

  return (
    <div className={styles.container{{pascalCase name}} }>
      {{dashCase name}}
    </div>
  )
}