.container-order-form {
  @include mq('1200') {
    margin: 30px auto 0;
    width: 1260px;
  }

  .cart-template {
    margin-top: 16px;
    border: 1px solid $light-gray-05;
    padding: 16px;
    @include border-radius();

    @include mq('1200') {
      margin-top: 0;
    }

    .cart-fixed {
      @include display-flex(center, space-between, row);
      flex-wrap: wrap;
      height: auto !important;
      position: relative !important;
      top: 0 !important;
      width: 100%;
    }

    h2 {
      @include text(4, $dark-blue);
      order: 1;
      width: 50%;
      margin: 0;
      border: 0;

      @include mq('1200') {
        background: none;
        width: calc(50% - 12px);
      }
    }

    #go-to-cart-button {
      order: 2;
      width: 50%;
      float: none;
      margin: 0;
      text-align: right;

      a {
        @include text(4, $primary-color);
        text-decoration: underline;
        text-align: right;
      }
    }

    .summary-cart-template-holder {
      order: 3;
      margin: 16px 0;
      height: auto !important;

      .cart {
        margin: 0;

        @include mq('1200') {
          max-height: 340px;

          &::-webkit-scrollbar {
            width: 16px;
          }

          &::-webkit-scrollbar-track {
            background: $white;
            border: none;
            border-right: 13px solid $white;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $dark-gray-06;
            border-radius: 0;
            border: none;
            border-right: 13px solid $white;
          }
        }

        .hproduct {
          border-bottom: 1px solid $light-gray-05;
          padding: 12px 0;
          margin: 4px 0;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          align-items: center;

          .url {
            margin-right: 16px;
            grid-area: 1 / 1 / 4 / 2;
          }

          .photo {
            @include size(63px);
            object-fit: contain;
          }

          .product-name {
            @include text(5, $dark-blue, $fontRegular);
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            max-width: 100%;
            outline: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            grid-area: 1 / 2 / 2 / 5;
          }

          .description {
            grid-area: 2 / 2 / 3 / 5;
            margin-top: 6px;
            @include display-flex(flex-start, flex-start, column);

            .shipping-date {
              display: none;
            }

            .price {
              display: none;
              float: left;
              @include text(5, $dark-blue, $fontRegular);
            }

            .item-price {
              float: left;
              @include text(5, $dark-blue, $fontRegular);

              &::before {
                content: 'Preço: ';
              }
            }

            .price-subtotal {
              display: block;
              float: left;
              @include text(5, $dark-blue, $fontRegular);

              &::before {
                content: 'Preço: ';
              }
            }
          }

          .quantity {
            box-shadow: none;
            background-color: $primary-color;
            color: $secondary-color;
            border: 0;
            padding: 1px 5px;
          }

          &.showRealPrice {
            .description {
              .price-subtotal {
                &::before {
                  content: 'Subtotal: ';
                }
              }

              .item-price {
                display: block;
              }
            }
          }
        }
      }
    }

    .summary-template-holder {
      order: 4;
      border: 0;
      background: none;

      .summary-totalizers {
        margin-bottom: 0;

        .summary-coupon-wrap {
          display: block;

          @include mq('1200') {
            .summary-coupon {
              text-align: center;
              margin-left: 0;
            }
          }

          .summary-coupon {
            display: block;
            margin-top: 0;
          }

          .link-coupon-add {
            @include text(4, $primary-color);
            text-decoration: underline;
            text-align: center;
          }

          .coupon-label {
            label {
              @include text(4, $dark-blue);
              text-align: center;
            }
          }

          .coupon-fields {
            span {
              &:first-of-type {
                @include display-flex(center, center, row);
                padding: 0 16px;

                @include mq('1200') {
                  padding: 0;
                }
              }
            }

            .loading-coupon {
              display: none !important;
            }

            #cart-coupon {
              @include input-general();
              padding: 11px 5px;
              width: 100%;
              box-shadow: none;
            }

            #cart-coupon-add,
            #cart-coupon-remove {
              @include button-primary();
              text-align: center;
              box-shadow: none;
              background-image: none;
              margin-left: 8px;
              max-width: 110px;
              padding: 11px 0;
            }

            #cart-coupon-add {
              font-size: 0;

              &::before {
                content: 'OK';
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }

        }

        .accordion-group {
          .table {
            @include mq('1200') {
              box-sizing: unset;
            }

            .totalizers-list {
              tr {
                border: 0;

                .info {
                  @include text(4, $dark-blue, $fontRegular);
                  padding: 8px 0 8px 0;
                  float: none;
                  width: inherit;

                  @include mq('1200') {
                    font-size: 12px;
                    padding: 0;
                  }
                }

                .monetary {
                  @include text(4, $dark-blue, $fontRegular);
                  text-align: right;
                  padding-right: 0;
                }

                .empty {
                  display: none;
                }

                td {
                  height: 20px;
                }
              }

              .Discounts {
                margin: 0;

                td {
                  margin: 0;
                }
              }
            }

            @include mq('1200') {
              .empty {
                display: none;
                width: auto !important;
                padding: 0;
              }
            }

            tfoot {
              tr {
                border-bottom: 0;

                .info {
                  @include text(3, $dark-blue);
                  padding: 8px 0 8px 0;
                  width: inherit;
                  float: none;
                }

                .monetary {
                  @include text(3, $dark-blue);
                  text-align: right;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }

    .payment-confirmation-wrap {
      order: 5;
      border: 0;
      padding: 4px 0 0;

      .summary-note {
        display: none;
      }

      .payment-submit-wrap {
        margin-bottom: 0;

        button {
          @include button-primary();
        }
      }
    }
  }

  .orderform-template {
    padding: 0 20px;

    @include mq('768') {
      padding: 0;
    }

    .cart-template {
      @include mq('980') {
        margin-top: 24px;
      }

      @include mq('1200') {
        margin-top: 0;
      }

      .summary-template-holder {

        .summary-totalizers {
          border: 0;

          .summary-coupon-wrap .summary-coupon {
            @include mq('980') {
              margin-left: 0;
              min-width: 100%;
            }
          }

          .accordion-group {
            margin: 0;

            .table {
              .totalizers-list {
                tr {

                  .info,
                  .monetary {
                    display: table-cell;
                    padding: 4px 0 4px;
                  }
                }
              }

              tfoot {
                tr {
                  .info {
                    padding: 4px 0 4px;
                  }
                }
              }
            }
          }
        }
      }

      #orderform-minicart-to-cart {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &::before {
          content: '';
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.0056 11.5177L7.43368 10.0992L4.33575 7.00121L12.5391 7.00121L12.5391 4.99879L4.33575 4.99879L7.43368 1.90085L6.0056 0.482299L0.500443 6L6.0056 11.5177Z' fill='%23005CFF'/%3e%3c/svg%3e ");
          @include size(13px);
          background-repeat: no-repeat;
          margin-right: 8px;

        }
      }

    }
  }
}