#app-container {
  .SecurityEnvironmentIcon {
    display: block;
    @include abs-position(0, 0, auto, auto);
  }

  .CardForm {
    margin-top: 15px;

    label {
      @include text(4, $dark-gray, $fontRegular);
      margin-bottom: 10px;
      padding: 0;
    }

    input,
    select {
      border-radius: 8px;
      height: 40px;
      padding: 0 6px;
      font-size: 15px;

      &#address-toggle-0,
      &.card-flag-radio {
        height: 13px;
      }
    }

    .PaymentInstallments,
    .PaymentCardHolderName,
    .PaymentCardDueDate,
    .PaymentCardCVV,
    .BillingAddress {
      margin: 16px 0 0 0;
    }

    .PaymentCardNumber {
      #creditCardpayment-card-0Number {
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
      }
    }

    .PaymentCardFlags {
      .card-flags {
        &.active {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          margin: 10px 0 0;

          .card-flag-radio {
            margin: 0 6px 0 0;
          }

          .card-flag-label {
            @include display-flex(center, start, row);
            @include size(auto);
            margin-right: 10px;
          }
        }
      }
    }

    .PaymentInstallments {
      #creditCardpayment-card-0Brand {
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
        max-width: 100%;
      }
    }

    .PaymentCardHolderName {
      #creditCardpayment-card-0Name {
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
      }
    }

    .PaymentCardCVV {
      .FormFieldLabel {
        width: 100%;
      }

      .payment-card-due-month,
      .payment-card-due-year {
        margin: 0;
      }

      .payment-card-lash {
        margin: 0;
      }
    }

    .PaymentCardDueDate {
      .FormFieldLabel {
        width: 100%;
      }
    }

    .BillingAddress {
      .AddressToggle {
        margin: 0;

        label {
          margin: 0;
        }
      }
    }

  }

  .ChangeNumberOfPayments {
    margin: 16px 0 0 0;

    a {
      @include text(4, $primary-color);
      text-decoration: underline;
    }
  }

}