* {
  font-family: $primaryFont;
}

body {
  padding: 0;

  #orderform-sac-title,
  #orderform-title {
    display: none !important;
  }

  &.body-cart {
    padding: 0;
  }

  &.body-order-form {
    .link-choose-more-products-wrapper {
      display: none;
    }
  }

  .item-component.hide {
    display: none !important;
  }

}

#orderform-title {
  margin: 40px 20px 15px;
}

//checkout general
.container-order-form {

  @include mq('1200') {
    .orderform-template-holder {
      width: calc(100% - 428px);
    }

    .mini-cart {
      width: 409px;
      margin-left: 19px;
    }
  }
}


//Empty cart
.transactions {
  min-height: 0 !important;
}

h1 {
  &.hide {
    display: none !important;
  }
}

.empty-cart-title {
  @include text(2, $dark-blue);
  margin: 0;
  padding: 16px 0;
}

.empty-cart-message {
  @include text(4, $dark-blue, $fontRegular);
}

.empty-cart-content {
  .empty-cart-links {
    display: block;
  }

  #cart-choose-products {
    @include button-primary();
    display: block;
    max-width: 260px;
  }
}

/* --------------------------------------------------------------PAYMENT BODY*/

.icon-lock {
  display: none;
}

#shipping-data .vtex-omnishipping-1-x-shippingDataDev {
  background-color: transparent;
  opacity: 1;
}

#shipping-data .shp-summary-group-info,
.shp-summary-group-price {
  font-size: 12px;
  font-weight: $fontRegular;
  line-height: 26px;
  color: $black;
  letter-spacing: 0.6px;
}

.accordion-toggle .link-box-edit {
  border: none;
  background: none;
  box-shadow: none;
}

.accordion-toggle .link-box-edit .icon-edit {
  font-size: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg id='noun_edit_3793061' xmlns='http://www.w3.org/2000/svg' width='20.226' height='19.72' viewBox='0 0 20.226 19.72'%3E%3Cg id='Grupo_7435' data-name='Grupo 7435'%3E%3Cpath id='Caminho_461' data-name='Caminho 461' d='M27.515 963.365a1.279 1.279 0 0 0-.909.371l-8.738 8.737-.016.016a1.4 1.4 0 0 0-.34.553 5.284 5.284 0 0 0-.261.814 5.44 5.44 0 0 0-.111 2.172.52.52 0 0 0 .411.419 5.442 5.442 0 0 0 2.173-.111 5.356 5.356 0 0 0 .822-.269 1.385 1.385 0 0 0 .553-.332l.016-.016 8.738-8.737a1.5 1.5 0 0 0-.134-2.1l-1.011-1.011a1.733 1.733 0 0 0-1.051-.506 1.348 1.348 0 0 0-.142 0Zm0 1.011a.48.48 0 0 1 .087 0 .667.667 0 0 1 .387.205c.341.34.671.679 1.011 1.019.263.263.246.552.134.664l-.679.679-1.817-1.817.679-.679a.306.306 0 0 1 .2-.071Zm-1.588 1.469 1.809 1.809-7.355 7.355a1.9 1.9 0 0 1-.229.126 4.453 4.453 0 0 1-.664.213 4.906 4.906 0 0 1-1.367.111 4.965 4.965 0 0 1 .111-1.367 4.31 4.31 0 0 1 .213-.656c.053-.124.125-.223.126-.237ZM12.275 966.9A2.282 2.282 0 0 0 10 969.179v11.629a2.282 2.282 0 0 0 2.275 2.275H23.9a2.282 2.282 0 0 0 2.275-2.275v-7.837a.506.506 0 1 0-1.011 0v7.837a1.25 1.25 0 0 1-1.264 1.264H12.275a1.25 1.25 0 0 1-1.264-1.264V969.179a1.25 1.25 0 0 1 1.264-1.264h8.848a.506.506 0 1 0 0-1.011Z' transform='translate(-10 -963.363)'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.btn-place-order-wrapper .btn {
  float: none;
}

.full-cart .summary-totalizers {
  width: 100%;
}

body .item-quantity-change {
  padding: 0;
}

body .full-cart .cart table tbody tr+tr {
  border-top: none;
}

body .full-cart .summary-totalizers .info {
  width: inherit;
}

.btn-place-order-wrapper {
  order: 0;
}

.row-fluid .summary-totalizers {
  width: 90%;
}

.mini-cart .item {
  border: none;
}


.lookatme {
  background: transparent;
}

.item-unavailable,
.top-arrow {
  background: transparent;
}

.item-unavailable .top-arrow {
  border-bottom-color: transparent;
}

#cart-note {
  min-height: 45px;
  min-width: 205px;
  padding: 0;
}


@media (min-width: 1025px) {

  .container-cart,
  .container-order-form {
    margin: 0px auto;
    margin-bottom: 0;
  }

  .checkout-container {
    margin-bottom: 22px;
  }

  small.seller.muted {
    display: block;
  }

  .old-product-price {
    font-size: 13px;
    font-weight: $fontBold;
    color: $black;
  }

  .full-cart .cart table tbody tr td.item-remove {
    padding: 0 0px 20px 20px;
  }

  .btn-place-order-wrapper .btn {
    float: right;
  }

  .link-choose-more-products-wrapper {
    order: 0;
  }

  .row-fluid [class*='span'].pull-right,
  .row-fluid [class*='span'].pull-right {
    float: right;
    margin: 0;
  }

  footer .footer-entrega {
    margin: 0;
  }
}



// authentication popup

#vtexIdContainer {
  position: fixed !important;

  & .vtexIdUI {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    border: none;

    &-close {
      background: $white;
      color: $primary-color;
      top: 15px;
      right: 15px;
      font-size: 18px;

      @include mq('768') {
        top: 5px;
        right: 10px;
        font-size: 24px;
      }
    }

    &-user {

      & i {
        color: $dark-blue;
      }

      &-email {
        color: $dark-blue;
      }
    }

    &-header {
      padding: 0;
    }

    &-heading {
      @include text(4, $dark-gray-03);
      margin: 0;
    }

    &-page {
      background: $white;

      & .modal-header,
      .modal-body {
        background: $white;
      }

      & .modal-header {
        padding: 30px 15px;
      }

      & .modal-body {
        padding: 1.8rem 15px 2rem 15px;
      }

      .vtexIdUI-providers-list {
        @include display-flex(initial, initial, column);
        gap: 1.5rem;

        & li {
          margin: 0;

          &:nth-child(1) {
            & button {
              font-size: 0;

              &::before {
                font-size: 14px;
                line-height: 20px;
                content: "Código de acesso";
              }
            }
          }

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(3) {
            & button {
              font-size: 0;

              &::before {
                font-size: 12px;
                content: "E-mail e senha";
              }
            }
          }

          &>button {
            @include button-primary();

            & i {
              display: none;
            }
          }
        }
      }
    }

    &-confirm-email,
    &-classic-login {
      & .modal-header {
        padding: 15px;
      }

      & .modal-body {
        & input {
          @include input-general();
        }

        & label {
          & span {
            color: $dark-blue;
          }
        }
      }
    }

    .modal-footer {
      background: $white;
      @include display-flex(center, space-between, row);

      & button {
        @include button-primary();
      }

      & button,
      & a {
        flex: 1 1 100%;
      }

      & i {
        color: $primary-color;
      }
    }

    &-code-field {
      width: 100%;
      margin-bottom: 0;

      & #access-code {
        width: 100%;
        background: transparent;
        border: 1px solid $dark-blue;
        border-radius: 2rem;
        box-shadow: none;
        padding: 10px 1rem;
        color: $dark-blue;
        height: 42px;
        font-size: 14px;
      }
    }

    & a {
      @include text(4, $primary-color);
      text-decoration: underline;
    }

    &-change-pswd {
      & form {
        & input {
          @include input-general();
        }

        & label {
          & span {
            color: $dark-blue;
          }
        }
      }

      & .modal-footer {
        & button {
          font-size: 0;

          &::before {
            content: "Cadastrar";
            font-size: 12px;
          }
        }
      }

      & .vtexid-password-requirements {
        color: $dark-blue;
      }
    }
  }

  .vtexid-icon-lock.bottom-icon {
    display: none;
  }

}

// identified user popup

.identified-user-modal {
  background-color: $white;
  @include border-radius();
  border: 1px solid $light-gray-05;
  box-shadow: none;
  @include text(4, $dark-blue);
  height: auto;

  .identified-user-button {
    @include button-primary();
    text-shadow: none;
  }

  .identified-user-message {
    font-weight: $fontRegular;
  }
}

// General popup
.vtex-front-messages-placeholder {
  background-color: $light-primary-color;

  &.vtex-front-messages-placeholder-opened {
    .vtex-front-messages-template {
      border: 0;
      @include text(4, $white);
    }

    .vtex-front-messages-close-all {
      svg {
        fill: $white;

        g {
          fill: $white;

          line {
            stroke: $white;
          }
        }
      }
    }
  }
}