#payment-data {
  @include mq('1024') {
    &.shipping--active {
      float: left;
    }
  }

  .step {
    border: 1px solid $light-gray-05;
    padding: 16px;
    @include border-radius();
    margin-top: 24px;

    .accordion {
      &-heading {
        .accordion-toggle {
          @include text(3, $black);

          .link-box-edit {
            padding: 0;
          }
        }
      }

      &-inner {
        padding-top: 0;

        @include mq('768') {
          padding: 0;
        }
      }
    }

    .link-gift-card {
      left: 0;
      @include text(4, $primary-color);
      text-decoration: underline;
      margin: 0 auto;

      @include mq('768') {
        position: relative;
        margin: 0 auto 16px;
      }
    }

    .gift-card-section {
      background-color: $white-05;
      margin: 0;
      @include border-radius();
      padding: 10px 15px 15px 20px;

      @include mq('768') {
        margin: 0 0 16px;
        padding: 0;
        width: 100%;
      }

      .payment-discounts {
        @include mq('768') {
          padding: 10px 15px 15px 20px;
          width: 100%;
        }
      }

      .payment-discounts-options {
        margin-bottom: 16px;
      }

      label {
        @include text(4, $dark-gray);
        margin-bottom: 7px;
      }

      #btn-add-gift-card {
        @include button-primary();
        margin-top: 16px;

        @include mq('768') {
          margin: 0 0 0 16px;
          width: 150px;
        }
      }
    }
  }

  .box-step {
    .steps-view {
      background: $white-05;
      padding-bottom: 0;

      @include mq('768') {
        width: 400px;
        padding-bottom: 15px;
      }

      @include mq('980') {
        width: 360px;
      }

      @include mq('1200') {
        width: calc(100% - 360px);
        border-radius: 0 5px 5px 0;
      }
    }

    .payment-group {
      @include mq('768') {
        margin: 0;
      }

      @include mq('1200') {
        width: 305px;
      }

      .link {
        a {
          @include link-button-secondary();
        }
      }

      .payment-group-list-btn {
        @include mq('1200') {
          width: 100%;
        }

        .payment-group-item {
          box-shadow: none;
          background: none;
          border: 1px solid $light-gray;
          @include border-radius();
          margin: 16px 0 0;
          opacity: 1;

          @include mq('768') {
            margin: 0 0 16px;
          }

          @include mq('1200') {
            margin: 0 0 4px;
            border-right: 0;
            border-radius: 8px 0px 0px 8px;
          }

          .payment-group-item-text {
            @include text(4, $dark-gray-03, $fontRegular);
            padding: 14px 0;
          }

          &.active {
            background: $white-05;
            border: 0;

            .payment-group-item-text {
              @include text(4, $dark-blue);
            }
          }
        }

        #payment-group-creditCardPaymentGroup {
          .payment-group-item-text {
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8044 0.353516H4.19554C3.34723 0.354743 2.53417 0.692687 1.93494 1.29314C1.33571 1.8936 0.999458 2.70743 1 3.55574V12.4446C0.999443 13.2929 1.33571 14.1067 1.93494 14.7072C2.53417 15.3077 3.34723 15.6456 4.19554 15.6468H17.8044C18.6527 15.6456 19.4658 15.3077 20.065 14.7072C20.6642 14.1066 21.0005 13.2929 20.9999 12.4446V3.55574C21.0005 2.70743 20.6642 1.89357 20.065 1.29314C19.4658 0.692716 18.6527 0.354744 17.8044 0.353516ZM4.19554 1.35574H17.8044C18.3871 1.35641 18.9456 1.58856 19.357 2.00117C19.7683 2.41377 19.9989 2.97306 19.9977 3.55574V3.6313H1.99771V3.55574C1.9966 2.97237 2.22763 2.41243 2.64 1.9996C3.0524 1.58689 3.61209 1.35517 4.19554 1.35574ZM17.8044 14.6446H4.19554C3.61283 14.6439 3.05437 14.4118 2.64297 13.9992C2.2316 13.5865 2.001 13.0273 2.00223 12.4446V6.66689H20.0022V12.4446C20.0033 13.028 19.7723 13.5879 19.3599 14.0007C18.9475 14.4135 18.3879 14.6452 17.8044 14.6446Z' fill='%23BBB' stroke='%23BBB' stroke-width='0.5'/%3E%3C/svg%3E%0A");
          }

          &.active {
            .payment-group-item-text {
              background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8044 0.353516H4.19554C3.34723 0.354743 2.53417 0.692687 1.93494 1.29314C1.33571 1.8936 0.999458 2.70743 1 3.55574V12.4446C0.999443 13.2929 1.33571 14.1067 1.93494 14.7072C2.53417 15.3077 3.34723 15.6456 4.19554 15.6468H17.8044C18.6527 15.6456 19.4658 15.3077 20.065 14.7072C20.6642 14.1066 21.0005 13.2929 20.9999 12.4446V3.55574C21.0005 2.70743 20.6642 1.89357 20.065 1.29314C19.4658 0.692716 18.6527 0.354744 17.8044 0.353516ZM4.19554 1.35574H17.8044C18.3871 1.35641 18.9456 1.58856 19.357 2.00117C19.7683 2.41377 19.9989 2.97306 19.9977 3.55574V3.6313H1.99771V3.55574C1.9966 2.97237 2.22763 2.41243 2.64 1.9996C3.0524 1.58689 3.61209 1.35517 4.19554 1.35574ZM17.8044 14.6446H4.19554C3.61283 14.6439 3.05437 14.4118 2.64297 13.9992C2.2316 13.5865 2.001 13.0273 2.00223 12.4446V6.66689H20.0022V12.4446C20.0033 13.028 19.7723 13.5879 19.3599 14.0007C18.9475 14.4135 18.3879 14.6452 17.8044 14.6446Z' fill='%23002A47' stroke='%23002A47' stroke-width='0.5'/%3E%3C/svg%3E%0A");
            }
          }
        }

        #payment-group-bankInvoicePaymentGroup {
          .payment-group-item-text {
            background-image: url("data:image/svg+xml,%3Csvg width='27' height='18' viewBox='0 0 27 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.642 18H1.832C1.34629 17.9995 0.880615 17.8063 0.537163 17.4628C0.193711 17.1194 0.000529389 16.6537 0 16.168V1.832C0.000529389 1.34629 0.193711 0.880622 0.537163 0.53717C0.880615 0.193718 1.34629 0.000529389 1.832 0H24.642C25.1277 0.000529389 25.5934 0.193718 25.9368 0.53717C26.2803 0.880622 26.4735 1.34629 26.474 1.832V16.167C26.4737 16.6529 26.2807 17.1188 25.9372 17.4625C25.5937 17.8061 25.1279 17.9995 24.642 18ZM1.832 1.05099C1.62495 1.05126 1.42645 1.13364 1.28004 1.28004C1.13364 1.42645 1.05127 1.62495 1.051 1.832V16.167C1.05127 16.3741 1.13364 16.5726 1.28004 16.719C1.42645 16.8654 1.62495 16.9477 1.832 16.948H24.642C24.8491 16.9477 25.0475 16.8654 25.194 16.719C25.3404 16.5726 25.4227 16.3741 25.423 16.167V1.832C25.4227 1.62495 25.3404 1.42645 25.194 1.28004C25.0475 1.13364 24.8491 1.05126 24.642 1.05099H1.832Z' fill='%23BBBBBB'/%3E%3Cpath d='M23.7533 2.72266H22.0693V15.3467H23.7533V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M21.2328 2.72266H19.5488V13.6627H21.2328V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M8.6088 2.72266H6.9248V13.6627H8.6088V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M17.016 2.72266H15.332V13.6627H17.016V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M13.5949 2.72266H11.1289V13.6627H13.5949V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M6.07558 2.72266H5.26758V13.6627H6.07558V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M10.2787 2.72266H9.4707V13.6627H10.2787V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M18.6732 2.72266H17.8652V13.6627H18.6732V2.72266Z' fill='%23BBBBBB'/%3E%3Cpath d='M4.39201 2.72266H2.70801V15.3467H4.39201V2.72266Z' fill='%23BBBBBB'/%3E%3C/svg%3E%0A");
          }

          &.active {
            .payment-group-item-text {
              background-image: url("data:image/svg+xml,%3Csvg width='27' height='18' viewBox='0 0 27 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.642 18H1.832C1.34629 17.9995 0.880615 17.8063 0.537163 17.4628C0.193711 17.1194 0.000529389 16.6537 0 16.168V1.832C0.000529389 1.34629 0.193711 0.880622 0.537163 0.53717C0.880615 0.193718 1.34629 0.000529389 1.832 0H24.642C25.1277 0.000529389 25.5934 0.193718 25.9368 0.53717C26.2803 0.880622 26.4735 1.34629 26.474 1.832V16.167C26.4737 16.6529 26.2807 17.1188 25.9372 17.4625C25.5937 17.8061 25.1279 17.9995 24.642 18ZM1.832 1.05099C1.62495 1.05126 1.42645 1.13364 1.28004 1.28004C1.13364 1.42645 1.05127 1.62495 1.051 1.832V16.167C1.05127 16.3741 1.13364 16.5726 1.28004 16.719C1.42645 16.8654 1.62495 16.9477 1.832 16.948H24.642C24.8491 16.9477 25.0475 16.8654 25.194 16.719C25.3404 16.5726 25.4227 16.3741 25.423 16.167V1.832C25.4227 1.62495 25.3404 1.42645 25.194 1.28004C25.0475 1.13364 24.8491 1.05126 24.642 1.05099H1.832Z' fill='%23002A47'/%3E%3Cpath d='M23.7533 2.72266H22.0693V15.3467H23.7533V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M21.2328 2.72266H19.5488V13.6627H21.2328V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M8.6088 2.72266H6.9248V13.6627H8.6088V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M17.016 2.72266H15.332V13.6627H17.016V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M13.5949 2.72266H11.1289V13.6627H13.5949V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M6.07558 2.72266H5.26758V13.6627H6.07558V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M10.2787 2.72266H9.4707V13.6627H10.2787V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M18.6732 2.72266H17.8652V13.6627H18.6732V2.72266Z' fill='%23002A47'/%3E%3Cpath d='M4.39201 2.72266H2.70801V15.3467H4.39201V2.72266Z' fill='%23002A47'/%3E%3C/svg%3E%0A");
            }
          }
        }

        #payment-group-instantPaymentPaymentGroup {
          .payment-group-item-text {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4269 19.0549C18.9463 19.0562 18.4702 18.9623 18.0262 18.7784C17.5821 18.5946 17.1789 18.3246 16.8399 17.9839L13.1039 14.2479C12.9717 14.1214 12.7959 14.0508 12.6129 14.0508C12.43 14.0508 12.254 14.1214 12.1219 14.2479L8.37189 17.9979C8.03282 18.3385 7.62965 18.6085 7.18561 18.7924C6.74157 18.9762 6.2655 19.0702 5.78491 19.0689H5.0459L9.77789 23.8009C10.4875 24.5104 11.4499 24.909 12.4534 24.909C13.4569 24.909 14.4193 24.5104 15.1289 23.8009L19.8739 19.0559L19.4269 19.0549Z' fill='%23BBBBBB'/%3E%3Cpath d='M5.78589 5.83962C6.26647 5.83836 6.74255 5.93236 7.18658 6.11619C7.63062 6.30002 8.03386 6.57003 8.37292 6.91062L12.1229 10.6606C12.2539 10.7895 12.4302 10.8617 12.6139 10.8617C12.7976 10.8617 12.974 10.7895 13.1049 10.6606L16.8409 6.92462C17.1799 6.58403 17.5832 6.31402 18.0272 6.13019C18.4713 5.94636 18.9473 5.85236 19.4279 5.85362H19.8779L15.1329 1.10862C14.7815 0.757147 14.3643 0.47834 13.9052 0.288122C13.446 0.0979039 12.9539 0 12.4569 0C11.9599 0 11.4678 0.0979039 11.0086 0.288122C10.5495 0.47834 10.1323 0.757147 9.78088 1.10862L5.0459 5.83962H5.78589Z' fill='%23BBBBBB'/%3E%3Cpath d='M23.8011 9.77843L20.9341 6.91043C20.8706 6.93655 20.8028 6.95046 20.7341 6.95144H19.4341C18.7556 6.95339 18.1052 7.22289 17.6241 7.70144L13.8881 11.4374C13.551 11.7721 13.0952 11.9599 12.6201 11.9599C12.1451 11.9599 11.6893 11.7721 11.3521 11.4374L7.60211 7.68744C7.12111 7.2088 6.47068 6.93928 5.79211 6.93744H4.19214C4.12597 6.93631 4.06056 6.92309 3.99915 6.89844L1.10815 9.77843C0.398634 10.4881 0 11.4505 0 12.4539C0 13.4574 0.398634 14.4198 1.10815 15.1294L3.98712 18.0084C4.04855 17.9838 4.11395 17.9706 4.18011 17.9694H5.78015C6.4587 17.9675 7.10909 17.698 7.59015 17.2194L11.3401 13.4694C11.6818 13.1435 12.1359 12.9616 12.6082 12.9616C13.0804 12.9616 13.5345 13.1435 13.8762 13.4694L17.6121 17.2054C18.0932 17.684 18.7436 17.9535 19.4221 17.9554H20.7222C20.7908 17.9564 20.8586 17.9703 20.9221 17.9964L23.7891 15.1294C24.4986 14.4198 24.8973 13.4574 24.8973 12.4539C24.8973 11.4505 24.4986 10.4881 23.7891 9.77843' fill='%23BBBBBB'/%3E%3C/svg%3E%0A");
          }

          &.active {
            .payment-group-item-text {
              background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4269 19.0549C18.9463 19.0562 18.4702 18.9623 18.0262 18.7784C17.5821 18.5946 17.1789 18.3246 16.8399 17.9839L13.1039 14.2479C12.9717 14.1214 12.7959 14.0508 12.6129 14.0508C12.43 14.0508 12.254 14.1214 12.1219 14.2479L8.37189 17.9979C8.03282 18.3385 7.62965 18.6085 7.18561 18.7924C6.74157 18.9762 6.2655 19.0702 5.78491 19.0689H5.0459L9.77789 23.8009C10.4875 24.5104 11.4499 24.909 12.4534 24.909C13.4569 24.909 14.4193 24.5104 15.1289 23.8009L19.8739 19.0559L19.4269 19.0549Z' fill='%23002A47'/%3E%3Cpath d='M5.78589 5.83962C6.26647 5.83836 6.74255 5.93236 7.18658 6.11619C7.63062 6.30002 8.03386 6.57003 8.37292 6.91062L12.1229 10.6606C12.2539 10.7895 12.4302 10.8617 12.6139 10.8617C12.7976 10.8617 12.974 10.7895 13.1049 10.6606L16.8409 6.92462C17.1799 6.58403 17.5832 6.31402 18.0272 6.13019C18.4713 5.94636 18.9473 5.85236 19.4279 5.85362H19.8779L15.1329 1.10862C14.7815 0.757147 14.3643 0.47834 13.9052 0.288122C13.446 0.0979039 12.9539 0 12.4569 0C11.9599 0 11.4678 0.0979039 11.0086 0.288122C10.5495 0.47834 10.1323 0.757147 9.78088 1.10862L5.0459 5.83962H5.78589Z' fill='%23002A47'/%3E%3Cpath d='M23.8011 9.77843L20.9341 6.91043C20.8706 6.93655 20.8028 6.95046 20.7341 6.95144H19.4341C18.7556 6.95339 18.1052 7.22289 17.6241 7.70144L13.8881 11.4374C13.551 11.7721 13.0952 11.9599 12.6201 11.9599C12.1451 11.9599 11.6893 11.7721 11.3521 11.4374L7.60211 7.68744C7.12111 7.2088 6.47068 6.93928 5.79211 6.93744H4.19214C4.12597 6.93631 4.06056 6.92309 3.99915 6.89844L1.10815 9.77843C0.398634 10.4881 0 11.4505 0 12.4539C0 13.4574 0.398634 14.4198 1.10815 15.1294L3.98712 18.0084C4.04855 17.9838 4.11395 17.9706 4.18011 17.9694H5.78015C6.4587 17.9675 7.10909 17.698 7.59015 17.2194L11.3401 13.4694C11.6818 13.1435 12.1359 12.9616 12.6082 12.9616C13.0804 12.9616 13.5345 13.1435 13.8762 13.4694L17.6121 17.2054C18.0932 17.684 18.7436 17.9535 19.4221 17.9554H20.7222C20.7908 17.9564 20.8586 17.9703 20.9221 17.9964L23.7891 15.1294C24.4986 14.4198 24.8973 13.4574 24.8973 12.4539C24.8973 11.4505 24.4986 10.4881 23.7891 9.77843' fill='%23002A47'/%3E%3C/svg%3E%0A");
            }
          }
        }

      }
    }
  }
}