#client-profile-data {
  .form-page {
    max-width: 100%;
    width: calc(100% - 32px);
    margin: 0 auto;
    border-top: 0;

    fieldset.pre-email.row-fluid {
      max-width: 890px;
      margin: 0 auto;
    }

    .client-pre-email-h {
      @include text(2, $dark-blue);
      text-align: left;

      .small {
        color: $dark-gray-03;
      }
    }

    .client-email {
      margin-left: 0;
      width: 100%;
    }

    #client-pre-email {
      @include input-general();
    }

    #btn-client-pre-email {
      @include button-primary();
      @include size(auto, 47px);
      background-image: none;
      box-shadow: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 11px 26px;
      margin: 0;

      @include mq('1200') {
        @include size(auto, 53px);
      }
    }

    .link-cart {
      width: auto;
      text-align: right;
      padding: 0 20px;

      a {
        @include text(4, $primary-color);
        text-decoration: underline;
        @include display-flex(center, start-flex, row);

        &::before {
          content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.225554 3.46052L3.4604 0.225675C3.53133 0.154166 3.61571 0.0974081 3.70868 0.0586748C3.80165 0.0199416 3.90137 0 4.00208 0C4.1028 0 4.20252 0.0199416 4.29549 0.0586748C4.38846 0.0974081 4.47284 0.154166 4.54377 0.225675C4.68587 0.36862 4.76562 0.561988 4.76562 0.763544C4.76562 0.965101 4.68587 1.15847 4.54377 1.30141L1.84298 4.00221L4.54377 6.703C4.68587 6.84594 4.76562 7.03931 4.76562 7.24087C4.76562 7.44242 4.68587 7.63579 4.54377 7.77874C4.47248 7.84945 4.38793 7.90539 4.29498 7.94336C4.20203 7.98132 4.10249 8.00057 4.00208 7.99999C3.90168 8.00057 3.80214 7.98132 3.70919 7.94336C3.61624 7.90539 3.53169 7.84945 3.4604 7.77874L0.225554 4.54389C0.154046 4.47296 0.0972881 4.38858 0.0585546 4.29561C0.0198216 4.20264 -0.00012064 4.10292 -0.00012064 4.00221C-0.00012064 3.90149 0.0198216 3.80177 0.0585546 3.7088C0.0972881 3.61583 0.154046 3.53145 0.225554 3.46052Z' fill='%230862AD'/%3E%3C/svg%3E%0A");
          display: inline-block;
          margin-right: 8px;
          @include size(4px, 20px);
          vertical-align: middle;
        }
      }
    }

    .emailInfo {
      border: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 1050px;
    }
  }

  .client-pre-email {
    .emailInfo {

      .icon-ok,
      h3 {
        color: $dark-blue;
      }

      ul {
        li {
          span {
            @include text(5, $dark-gray-03);
          }
        }
      }
    }
  }

  .step {
    border: 1px solid $light-gray-05;
    padding: 16px;
    @include border-radius();
    margin: 24px 0 0;

    @include mq('1200') {
      margin: 0;
    }

    &.filled {
      @include mq('1200') {
        height: 145px;
      }
    }

    .accordion {
      &-heading {
        .accordion-toggle {
          span {
            @include text(3, $black);
          }

          .link-box-edit {
            padding: 0;
          }
        }
      }

      &-inner {
        padding: 0;
      }

      &-body {
        @include mq('1200') {
          padding: 0 0 7px 0;
        }

        .box {
          &-info {
            span {
              @include text(4, $dark-gray-03, $fontRegular);
            }
          }

          &-edit {
            .box-client-info-pf {
              @include mq("480") {
                float: none;
                margin: 0
              }

              .client-notice {
                @include text(4, $dark-gray-03, $fontRegular);
              }

            }

            .box-client-info-pj {
              @include mq("480") {
                float: none;
                margin: 0
              }

              .corporate-title {
                margin: 0
              }

              ul.links {
                margin: 0;

              }
            }

            label {
              @include text(4, $dark-blue);
              margin-bottom: 7px;
            }

            input {
              border: 1px solid $light-gray;
              background-color: $white;
              box-shadow: none;
              @include border-radius();
              @include text(4, $dark-blue, $fontRegular);
              padding: 11px 10px;

              @include mq('490', max) {

                &#client-first-name,
                &#client-last-name,
                &#client-document,
                &#client-phone,
                &#client-company-ie,
                &#client-company-document {
                  @include size(85% !important, auto);
                }
              }

              @include mq('490') {

                &#client-first-name,
                &#client-last-name,
                &#client-document,
                &#client-phone,
                &#client-company-ie,
                &#client-company-document {
                  width: -moz-available;
                  /* WebKit-based browsers will ignore this. */
                  width: -webkit-fill-available;
                  /* Mozilla-based browsers will ignore this. */
                  width: fill-available;
                }
              }

              @include mq('490', max) {

                &#client-email,
                &#client-company-name,
                &#client-company-nickname {
                  @include size(100% !important, auto);
                  max-width: 100%;
                }
              }

              &#client-email,
              &#client-company-name,
              &#client-company-nickname {
                @include size(100%, auto);
                max-width: 100%;

                @include mq('768') {
                  width: -moz-available;
                  /* WebKit-based browsers will ignore this. */
                  width: -webkit-fill-available;
                  /* Mozilla-based browsers will ignore this. */
                  width: fill-available;
                }

                @include mq('1200') {
                  width: calc(100% - 22px);
                }
              }

              &#opt-in-newsletter,
              &#state-inscription {
                @include size(auto);
              }
            }

            .client-first-name,
            .client-last-name,
            .client-document,
            .client-phone,
            .client-company-ie,
            .client-company-document {
              width: 47%;

              @include mq('1024') {
                width: calc(100% - 24px);
              }

              @include mq('1024') {
                width: calc(50% - 5px);
              }
            }

            .client-email,
            .client-first-name,
            .client-last-name,
            .client-document,
            .client-phone,
            .client-company-name,
            .client-company-nick,
            .client-company-ie,
            .client-company-document {
              padding-top: 12px;
              padding-bottom: 12px;
              margin-bottom: 0;
            }

            .client-first-name,
            .client-document {
              float: left !important;
            }

            .client-last-name,
            .client-phone,
            .client-company-document {
              float: right !important;
            }

            .client-phone {
              &:empty {
                display: none;
              }
            }

            .newsletter {
              &-label {
                margin-bottom: 0;
              }

              &-text {
                font-size: 0;

                &:after {
                  @include text(4, $dark-blue, $fontRegular);
                  content: 'Desejo receber newsletter';
                }
              }
            }

            #go-to-shipping,
            #btn-go-to-payment,
            #go-to-payment {
              @include button-primary();
              border: 0;
              text-shadow: none;

              &:focus {
                outline: none;
              }
            }

            #is-corporate-client,
            #not-corporate-client {
              @include text(4, $dark-gray);
            }
          }
        }
      }
    }
  }
}