#shipping-data {
  .step {
    border: 1px solid $light-gray-05;
    padding: 16px;
    @include border-radius();
    margin: 24px 0 0;

    @include mq('1200') {
      margin: 0;
    }


    .accordion {
      &-heading {
        .accordion-toggle {
          @include text(3, $black);

          .link-box-edit {
            padding: 0;
          }
        }
      }

      &-inner {
        padding: 0;

        @include mq("1200") {
          padding-bottom: 0;
        }
      }

      &-inner {
        .box {
          &-step {
            .vtex-omnishipping-1-x-deliveryChannelsWrapper {
              box-shadow: none;
              @include border-radius();
              margin: 16px 0 0;
              width: 100%;

              .vtex-omnishipping-1-x-deliveryChannelsToggle {
                display: none;
              }

              .shp-method-option {
                border: 1px solid $light-gray;
                @include text(4, $dark-gray);
                text-align: center;
                padding: 11px 0;
                width: 50%;

                &-active {
                  color: $secondary-color;
                  background: $primary-color;
                  border: 1px solid $primary-color;
                }
              }

              #shipping-option-delivery {
                border-radius: 8px 0 0 8px;
                border-right: 0;
              }

              #shipping-option-pickup-in-point {
                border-radius: 0 8px 8px 0;
                border-left: 0;
              }
            }

            .vtex-omnishipping-1-x-addressFormPart1 {
              p.input {
                padding: 16px 0 0;
                margin-bottom: 0;

                label {
                  @include text(4, $dark-gray, $fontRegular);
                  margin-bottom: 16px;
                }

                small {
                  margin-left: 6px;
                }
              }
            }

            .vtex-omnishipping-1-x-deliveryGroup,
            .delivery-group-content {
              svg {
                path {
                  fill: $primary-color;
                }
              }

              .vtex-omnishipping-1-x-shippingSectionTitle {
                @include text(4, $dark-gray, $fontRegular);
                margin-bottom: 16px;
              }

              .vtex-omnishipping-1-x-leanShippingGroupList {
                border: 1px solid $light-gray;
              }

              .vtex-omnishipping-1-x-leanShippingGroupList,
              .vtex-omnishipping-1-x-packages {
                .shp-lean-option {
                  @include border-radius();
                  height: 37px;
                  background: none;
                  box-shadow: none;
                  border: 0;
                }

                .shp-option-text-label-single {
                  @include text(5, $dark-gray);
                }

                .srp-shipping-current-single__price,
                .shp-option-text-price {
                  @include text(4, $dark-gray);
                  padding-left: 20px;
                  min-width: 80px;

                  &.gray {
                    color: $primary-color;
                  }
                }
              }
            }

            .delivery-group-content {
              .vtex-omnishipping-1-x-sellerOptionsText {
                @include text(4, $dark-gray);
              }

              .vtex-omnishipping-1-x-PickupPoint {
                border-color: $light-gray-05;
                @include border-radius();

                svg {
                  path {
                    fill: $dark-gray;
                  }
                }

                .pickup-point-wrapper {
                  .pickup-point-name {
                    @include text(3, $dark-gray);
                  }

                  .pickup-point-address {
                    .address-summary {
                      @include text(4, $dark-gray);
                    }
                  }

                  .button-details-pickup-point {
                    @include link-button-secondary();
                  }
                }

                .button-change-pickup-point {
                  @include button-secondary();
                  text-align: center;
                  text-shadow: none;
                }
              }
            }

            .vtex-omnishipping-1-x-addressFormPart1,
            .vtex-omnishipping-1-x-addressForm {

              input,
              select {
                border: 1px solid $light-gray;
                background-color: $white;
                box-shadow: none;
                @include border-radius();
                @include text(4, $dark-gray, $fontRegular);
                height: 40px;
                padding: 0 0 0 16px;

                &#ship-complement {
                  @include mq('1024') {
                    width: calc(100% - 124px);
                  }
                }

                &#ship-receiverName {
                  width: 100%;

                  @include mq('768') {
                    width: 280px;
                  }

                  @include mq('1024') {
                    width: calc(100% - 20px);
                  }
                }

                &#ship-number {
                  height: 38px;
                }
              }

              #ship-postalCode {
                max-width: 225px;
                @include size(195px, 40px);
                padding: 0 0 0 15px;

                @include mq("768") {
                  @include size(170px, 40px)
                }

                @include mq("992") {
                  @include size(150px, 40px)
                }
              }

              a {
                @include text(5, $primary-color);
              }
            }

            .vtex-omnishipping-1-x-addressForm {
              .vtex-omnishipping-1-x-shippingSectionTitle {
                @include text(4, $dark-gray, $fontRegular);
              }

              .address-summary {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_515_10653)'%3e%3cpath d='M11.9985 4.46289L3 12.1774V22.4996C3 22.9136 3.336 23.2496 3.75 23.2496H9.75V17.2496H14.25V23.2496H20.25C20.664 23.2496 21 22.9136 21 22.4996V12.1781L11.9985 4.46289ZM14.25 14.2496H9.75V10.4996H14.25V14.2496Z' fill='%23999999'/%3e%3cpath d='M11.9974 0.512695L6.74891 5.01195V2.25045H3.74891V7.5837L0.441406 10.4194L1.41791 11.5579L11.9974 2.4882L22.5799 11.5579L23.5564 10.4194L11.9974 0.512695Z' fill='%23999999'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_515_10653'%3e%3crect width='24' height='24' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
                border-color: $light-gray-05;
                background-position: 10px 18px;
              }
            }

            .vtex-omnishipping-1-x-address {
              margin-bottom: 0;

              p.input {
                padding-top: 12px;
                padding-bottom: 12px;
                margin-bottom: 0;

                label {
                  @include text(4, $dark-gray, $fontRegular);
                  margin-bottom: 7px;
                }

                &.ship-receiverName {
                  float: left;
                  width: 100%;
                }
              }
            }

            #btn-go-to-payment,
            .vtex-omnishipping-1-x-btnDelivery {
              @include button-primary();
            }

            .vtex-omnishipping-1-x-SummaryItemGroup {
              padding: 0 0 8px 0;

              @include mq('1200') {
                padding: 0;
              }

              .shp-summary-group-content {
                flex-direction: column;
                align-items: flex-start;

                .shp-summary-group-info {
                  padding: 0;
                  border: 0;
                  width: 100%;
                }

                .shp-summary-group-price {
                  width: 100%;
                  margin-top: -24px;
                  padding: 0;
                  @include text(4, $dark-gray);
                  text-align: right;
                }
              }

              .shp-summary-group-address {
                .address-summary {
                  span {
                    @include text(4, $dark-gray-03, $fontRegular);
                  }
                }
              }
            }

            .link-change-shipping {
              display: none;
            }

            .vtex-omnishipping-1-x-deliverTitle {
              @include text(4, $dark-gray);
            }

            .vtex-omnishipping-1-x-hr {
              border-color: $light-gray-05;
            }

            .vtex-omnishipping-1-x-alert {
              border-color: $primary-color;

              .shp-alert-icon {
                border-color: $primary-color;

                svg {
                  g {
                    fill: $primary-color;
                  }
                }
              }
            }

            .vtex-omnishipping-1-x-SummaryItemTitle {
              @include text(4, $dark-gray, $fontRegular);
            }
          }
        }
      }
    }
  }

}