$1
{{"\n"}}
  React.useEffect(() => {
    const getApi = async () => {
    try {
      const response = await fetch("https://api.github.com/users");
      const data = await response.json();

      console.log('api consumida no componente!', data)
    } catch (e) {
      console.log('erro ao consumir api no componente!', e)
    }
  }

  getApi();
  }, []);
{{"\n"}}