export type {{pascalCase name}}Props = {
  children:React.ReactNode
}

export const {{pascalCase name}} = ({children}: {{pascalCase name}}Props) => {
{{"\n"}}
  console.log('props recebidas no componente!', children)
{{"\n"}}