.flexRow {
  &--inst-breadcrumb-container {
    @include grid();
    margin-top: 16px;
  }
}

.flexRowContent {
  &--inst-breadcrumb-container {
    @include display-flex(center, flex-start);
    gap: 6px;
  }
}