.container {
  padding: 0;
  margin-bottom: 20px;

  @include mq('1025') {
    width: calc(100% - 20px);
    & :global(.vtex-reviews-and-ratings-2-x-summaryContainer) {
      display: none;
    }
    & :global(.vtex-flex-layout-0-x-flexRowContent--ratings-mobile) {
      & :global(.vtex-reviews-and-ratings-2-x-summaryContainer) {
        display: flex !important;
        justify-content: flex-end;
        align-items: baseline;
      }
    }
  }
}

.reviewsHeading {
  @include textConfig($black02, 18, $fontSemiBold, 20, left, initial, 0);
  border-bottom: 0px !important;
}

.writeReviewButton {
  @include textConfig($black02, 14, $fontRegular, 18, left, initial, 0);
}

.reviewCommentsContainer {
  & :first-child {
    border-width: 1px;
  }
}

.reviewsOrderBy {
  & :global(.vtex-dropdown__caption) {
    @include textConfig($black, 10, $fontBold, 7, center, uppercase, 20);
  }
  & :global(.vtex-dropdown__container) {
    border-radius: 20px;
    border: 1px solid $light-gray-01;
  }
}
.inlineContainer {
  margin-left: 0rem;
  justify-content: center;
  display: flex;
}

.reviewsPaging {
  & :first-child:nth-child(odd) {
    @include textConfig($black, 12, $fontSemiBold, 14, left, initial, 10);
  }
  & :global(.vtex__icon-caret-left) {
    width: 8px;
    height: 7px;
    color: $black;
  }
  .reviewComment {
    border-bottom: 1px solid $light-gray-02;
  }
  & :global(.vtex__icon-caret-right) {
    width: 8px;
    height: 7px;
    color: $black;
  }
  & :global(.vtex-button) {
    border-radius: 50px;
    background: $yellow;
  }
}

.star--filled {
  color: $yellow;
}

.star--empty {
  color: $yellow;
}

.review__comment {
  border: 0px;
  border-color: none;
}
.reviewCommentUser {
  @include textConfig($black, 12, $fontSemiBold, 14, left, initial, 40);
}

.reviewsRatingCount,
.reviewsRatingAverage {
  @include textConfig($dark-gray-02, 12, $fontSemiBold, 14, left, initial, 40);
}

.writeReviewContainer {
  .loginLink {
    @include textConfig($black, 12, $fontSemiBold, 14, left, initial, 40);
    text-decoration: underline;
  }
}

.reviewCommentMessage,
.reviewInfo {
  @include textConfig($black, 12, $fontSemiBold, 14, left, initial, 40);
}
.stars {
  font-size: 18px;
  @include mq('1025') {
    font-size: 20px;
  }
}
.summaryTotalReviews {
  @include textConfig($black, 12, $fontSemiBold, 14, left, initial, 40);
}

.formSection {
  @include button-primary();
  & :global(.vtex-button) {
    border-radius: 8px;
    @include transition();
  }
}
