.title {
  font-size: 0;

  &::after {
    content: 'Produto indisponível';
    @include textConfig($black, 20, $fontBold, 22, left, initial, 0);
  }
}

.notifyLabel {
  font-size: 0;
  margin-top: 16px;
  margin-bottom: 16px;

  &::after {
    content: 'Quer ser avisado quando este produto chegar?';
    @include textConfig($dark-gray, 14, $fontRegular, 18, left, initial, 0);
  }
}

.form {
  .content {
    @include display-flex(center, center, column);
  }
}

.input {
  margin: 0 0 10px;
  @include input-general();

  :global(.vtex-styleguide-9-x-input)::placeholder {
    @include textConfig($black, 14, $fontRegular, 15, left, initial, 0);
  }
}

.submit {
  @include size(100%);
  @include button-primary();

  & :global(.vtex-button) {
    padding: 10px 0;

    & :global(.vtex-button__label) {
      font-size: 0;

      &::before {
        content: 'Avise-me';
        font-size: 14px;
      }
    }
  }
}