.quantitySelectorStepper {
  border: 1px solid $light-gray-01;
  border-radius: 8px;
  width: fit-content;

  & :global(.vtex-numeric-stepper-wrapper),
  & :global(.vtex-numeric-stepper-container),
  & :global(.vtex-numeric-stepper__input),
  & :global(.vtex-numeric-stepper__plus-button),
  & :global(.vtex-numeric-stepper__minus-button) {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    @include text('p');
    color: $primary-color;
  }
}
