:global(.vtex-flex-layout-0-x-flexRowContent--container__shipping-simulator) {
  input {
    padding-left: 0;
    @include background-img(url("assets/imgs/postalcode-placeholder.png"),
      $bgSize: 83px, $bgPosition: left);

    &:not([value='']) {
      background-image: none;
    }
  }
}

:global(.vtex-store-components-3-x-carouselGaleryThumbs) :global(.swiper-container-vertical)> :global(.swiper-wrapper) {
  align-items: baseline;
}