.groupName {
  margin: 0 0 6px 0;
  font-size: 16px !important;
  color: $black;
  font-weight: $fontBold;
}

.specification {
  &Name {
    @include textConfig($dark-gray-03, 14, $fontBold, 24, left, initial, 0);
  }
  &Value {
    @include textConfig($dark-gray-03, 14, $fontRegular, 24, left, initial, 0);
  }
}

.specificationValue {
  word-wrap: break-word;
}
