.homeLink {
  .homeIcon {
    display: none;
  }

  &::before {
    content: 'Início';
    @include textConfig($black, 14, $fontRegular, 15, left, initial, 0);
  }
}

.link {
  color: $black !important;
  @include textConfig($black, 14, $fontSemiBold, 15, left, initial, 0);
}

.term {
  @include textConfig($black, 14, $fontBold, 15, left, initial, 0);
}

.arrow {
  .caretIcon {
    content: '';

    @include background-img(url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.376953 1.87393L1.26898 0.998535L4.75391 4.5001L1.26898 8.00166L0.376953 7.12627L3.00312 4.5001L0.376953 1.87393Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A"));
    @include size(5px, 7px);
  }

  &:first-child {
    display: none;
  }
}