.carouselGaleryCursor {
  @include mq('1026') {
    width: calc(100% - 96px);
    margin-left: auto;
    padding: 0;
  }
}

.productImagesThumb,
.productImagesThumbCaret {
  max-width: 86px;
}

.gradientBaseTop {
  background: none;

  .caretIcon {
    @include background-img(url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07863 0.439928L15.5525 6.79931C16.1492 7.38464 16.1492 8.33333 15.5525 8.91989C14.9578 9.50522 13.9912 9.50522 13.3956 8.91989L7.99972 3.61933L2.60464 8.91988C2.00906 9.50522 1.0437 9.50522 0.446809 8.91988C-0.148937 8.33333 -0.148937 7.38464 0.44681 6.79931L6.92064 0.439928C7.21916 0.14661 7.6096 3.21033e-05 8.00004 3.21374e-05C8.39048 3.21716e-05 8.78076 0.14661 9.07863 0.439928Z' fill='black'/%3E%3C/svg%3E%0A"));
    @include size(16px, 10px);

    & :first-child {
      display: none;
    }
  }
}

.gradientBaseBottom {
  background: none;

  .caretIcon {
    @include background-img(url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92137 9.27784L0.447542 2.91847C-0.149181 2.33313 -0.149181 1.38444 0.447542 0.797888C1.04215 0.212553 2.00882 0.212553 2.6044 0.797888L8.00029 6.09844L13.3954 0.797888C13.9909 0.212553 14.9563 0.212553 15.5532 0.797888C16.1489 1.38444 16.1489 2.33313 15.5532 2.91847L9.07936 9.27784C8.78084 9.57116 8.3904 9.71774 7.99996 9.71774C7.60952 9.71774 7.21924 9.57116 6.92137 9.27784Z' fill='black'/%3E%3C/svg%3E%0A"));
    @include size(16px, 10px);

    & :first-child {
      display: none;
    }
  }
}

.productImagesThumbActive {
  border: 2px solid $primary-color;
  border-radius: 8px;
}

.thumbImg {
  object-fit: contain;
  border-radius: 8px;
}

.productNameContainer {
  @include textConfig($black, 12, $fontBold, 16, left, initial, 0);
  margin-bottom: 10px;
  margin-top: 24px;

  @include mq('1025') {
    margin-top: 0;
  }
}

.skuSelectorName {
  @include textConfig($black, 14, $fontBold, 16, left, initial, 0);
}

.productImage {
  border: 1px solid $light-gray-04;
}

.skuSelectorSelectorImageValue,
.skuSelectorNameSeparator {
  display: none;
}

.skuSelectorContainer {
  margin-top: 0;
}

.frameAround,
.diagonalCross {
  display: none;
}

.skuSelectorNameContainer {
  @include display-flex(flex-start, flex-start, column);
}

.skuSelectorItem {
  @include size(40px);
  border-radius: 8px;
  background: $white;
  margin-left: 0;
}

.skuSelectorSubcontainer--cor {
  .skuSelectorItem {
    @include size(56px);
  }
}

.skuSelectorItemImage {
  @include size(56px);
}

.skuSelectorOptionsList {
  margin-left: 0;
}

.skuSelectorItemTextValue {
  padding: 0;
  @include textConfig($dark-gray, 12, $fontBold, 16, center, initial, 0);
  white-space: nowrap;
}

.skuSelectorItem--selected {
  border: 2px solid $primary-color;
}

.skuSelectorInternalBox,
.skuSelectorItem--selected,
.skuSelectorItem {
  box-shadow: none;
  border-radius: 8px;
}

.skuSelectorInternalBox {
  border: 0;
}

.valueWrapper--unavailable {
  line-height: 42px;
  height: 100%;
  width: 100%;
  display: block;
  background: $white02;
  color: $light-gray-02 !important;
}

.shippingContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-top: 24px;
  @include button-secondary();

  & :global(.vtex-button) {
    margin-top: 23px;
    @include size(100%, 40px);
    padding: 6px 0;
    cursor: pointer;
  }

  :global(.vtex-button__label) {
    font-size: 0 !important;

    &::after {
      content: 'Calcular';
      font-size: 14px;
    }
  }
}

.shippingTableRadioBtn {
  display: none;
}

.shippingTableCellDeliveryEstimate {
  @include textConfig($black02, 12, $fontRegular, 16, left, initial, 0);
}

.shippingTableCellDeliveryName {
  @include textConfig($dark-blue, 12, $fontBold, 16, left, initial, 0);
  padding-left: 0;
}

.shippingTableCellDeliveryPrice {
  @include textConfig($dark-blue, 12, $fontBold, 16, left, initial, 0);
}

.shippingTable {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid $light-gray-01;
}

.shareContainer {
  @include display-flex(center, space-between);
  margin: 20px auto 20px 0;
  max-width: 240px;
}

.shareLabel {
  @include textConfig($black02, 12, $fontSemiBold, 16, left, initial, 20);
}

.productDescriptionContainer {
  @include mq('1025') {
    max-width: 560px;
  }
}

.productDescriptionTitle {
  font-size: 16px;
  color: $black;
  font-weight: $fontBold;
}

.productDescriptionText {
  @include textConfig($dark-gray-01, 14, $fontRegular, 24, left, initial, 0);
}


.carouselGaleryThumbs {
  @include mq('1024') {
    display: block;
  }
}