.flexRow-- {
  &container__ {

    &buy-box-product,
    &description-pdp,
    &breadcrumb-pdp,
    &product-reviews,
    &releated-pdp {
      @include grid();
    }

    &breadcrumb-pdp {
      margin: 0 auto 10px auto;

      @include mq('1026') {
        margin-top: 12px;
      }
    }

    &buy-box-product,
    &specification-group {
      :global(.vtex-store-components-3-x-container) {
        padding: 0;
      }
    }

    &buy-box-product {
      .flexCol--container__info-product {
        @include mq('768') {
          padding-left: 20px;
        }
      }
    }

    &selling-price {
      & :global(.vtex-product-price-1-x-sellingPriceValue) {
        @include textConfig($primary-color, 24, 700, 20);
      }
    }

    &product-identifier {
      .flexRowContent {
        align-items: baseline;
      }

      & :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
        @include textConfig($black02, 14, 400, 20);
        line-height: inherit;
      }

      & :global(.vtex-store-components-3-x-productBrandName) {
        @include textConfig($black02, 14, 400, 20);
        margin-left: 10px;

        @include mq('1026') {
          font-size: 12px;
        }

        &::before {
          content: 'Marca: ';
        }
      }
    }

    &buy-button {
      @include button-primary();
    }

    &shipping-simulator {
      margin-bottom: 10px;

      :global(.vtex-address-form__postalCode) {
        padding-bottom: 0;

        :global(.vtex-input__label) {
          font-size: 0;

          &::after {
            content: 'Frete e prazo de entrega';
            @include textConfig($black05, 14, $fontBold, 16, left, initial, 30);
            display: inline-block;
            vertical-align: middle;
          }
        }

        :global(.vtex-input-prefix__group) {
          border-radius: 8px;
          background: $white;
          border: 1px solid $light-gray-01;
          padding-left: 10px;
        }

        :global(.vtex-address-form-4-x-input) {
          @include text('m');
          color: $black;
        }

        :global(.vtex-address-form-4-x-input),
        :global(.vtex-input__suffix) {
          box-shadow: none;
          border: 0;
        }

        :global(.vtex-address-form__postalCode-forgottenURL) {
          @include textConfig($black05, 12, $fontSemiBold, 16, left, initial, 0);
          text-decoration: underline;

          & :first-child {
            color: $black05;
          }
        }

        :global(.vtex__icon-external-link) {
          display: none;
        }
      }

      :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        flex-direction: column;
      }
    }

    &specification-group {
      width: 100%;
      margin-top: 30px;

      @include mq('1026') {
        &:first-child {
          margin-top: 0px;
        }
      }

      .flexRowContent-- {
        &container__ {
          &specification-item {
            display: flex;
          }

          &specification-group {
            @include mq('1026') {
              max-width: 560px;
              margin-left: auto;
            }
          }
        }
      }

      .flexRow-- {
        &container__ {
          &specification-item {
            padding: 8px 1rem;

            &:nth-child(even) {
              background-color: $white02;
              border-radius: 8px;
            }
          }
        }
      }
    }

    &description-pdp {
      margin: 40px auto 0;

      .flexRowContent--container__description-pdp {
        display: flex;
        flex-direction: column;

        & :nth-child(2n) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }

        .stretchChildrenWidth {
          @include mq('1025', max) {
            width: 100% !important;
          }
        }

        @include mq('1026') {
          flex-direction: row;
          gap: 20px;

          & :nth-child(1n) {
            justify-content: left;
          }
        }
      }
    }

    &releated-pdp {
      margin-top: 40px;

      :global(.vtex-rich-text-0-x-container--related-shelf__title) {
        justify-content: flex-start;
      }
    }
  }
}