:global(.vtex-account) {
  padding: 0 20px;

  @include mq("1024") {
    max-width: 1250px;
    margin: 0 auto;
  }

  .newsletterBoxContainer>div {
    padding-right: 0;
  }

  .menu {
    min-width: initial;
    max-width: 100%;
    margin: 20px 0;
    height: fit-content;
    background-color: $white01;
    padding: 20px 20px 20px 0;
    border-radius: 10px;

    @include mq('640') {
      min-width: 308px;
      margin: 0;
    }

    :global(.vtex-my-account-1-x-userInfo) {
      margin-left: 25px;
    }

    :global(.vtex-account_menu-link) {
      @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
      border-width: 8px;
      height: 24px;
      padding: 0 0 0 20px;
    }

    .userGreeting,
    .userName {
      @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
      margin: 0;
    }
  }

  :global(.vtex-my-account-1-x-menuLink) {
    display: none;
  }

  :global(.vtex-my-account-1-x-userImage) {
    :global(svg path) {
      fill: $white;
    }

    :global(g path) {
      fill: $primary-color;
    }
  }

  :global(.vtex-account__page-body),
  :global(.vtex-pageHeader__container) {
    padding: 0;
  }

  :global(.vtex-account__page) {
    width: 100%;
    margin-left: 0;

    @include mq('720') {
      padding-left: 30px;
    }

    @include mq('1024') {
      max-width: 835px;
      padding-left: 90px;
    }
  }

  :global(.vtex-pageHeader__container)>div {
    margin-top: 15px;

    @include mq('1024') {
      margin-top: 0;
    }

    :global(.vtex-pageHeader__title) {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 30px;
      text-transform: initial;
    }
  }

  .boxContainer {
    border-color: $primary-color;
  }

  .boxContainerBody {
    padding: 15px;
    @include button-primary();

    .firstNameSubContainer,
    .lastNameSubContainer,
    .documentsSubContainer,
    .emailContainer,
    .genderSubContainer {
      margin-bottom: 15px;
    }

    @include mq('640') {
      padding: 25px;
    }

    .dataEntryLabel {
      @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
      margin-bottom: 0;
    }

    .dataEntryChildren,
    .newsletterContainerTitle {
      @include textConfig($black02, 14, $fontSemiBold, 16, left, initial, 20);
    }

    .newsletterContainerTitle {
      margin-bottom: 10px;
    }

    .dateOfBirthSubContainer,
    .phoneNumberSubContainer {
      margin-bottom: 0;
    }

    .newsletterContainerMessage,
    .passwordBox :global(.vtex-checkbox__label) {
      @include textConfig($primary-color, 14, $fontBold, 16, left, initial, 20);
    }

    .passwordBox {
      :global(.vtex-checkbox__line-container) {
        @include display-flex(center, center);
      }
    }


    :global(.vtex-address-form__postalCode) {
      @include input-general();
    }

    :global(.vtex-input__label),
    :global(.vtex-dropdown__label) {
      @include textConfig($primary-color, 14, $fontSemiBold, 16, left, initial, 20);
    }

    :global(.vtex-dropdown__container) {
      border: 1px solid $primary-color;
      @include textConfig($primary-color, 16, $fontSemiBold, 16, left, initial, 40);
    }

  }

  .boxContainerFooter {
    @include button-primary();
  }

  :global(.vtex-pageHeader-link__container) span {
    @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
    text-transform: initial;
  }
}

:global(.vtex-my-orders-app-3-x-orderHeaderLabel),
:global(.vtex-my-orders-app-3-x-orderId),
:global(.vtex-my-orders-app-3-x-orderProductName) {
  @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
  text-transform: initial;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue) {
  @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
}

:global(.vtex-my-orders-app-3-x-detailsBtn) {
  @include textConfig($primary-color, 14, $fontBold, 29, left, initial, 20);
  background-color: transparent;
  text-decoration: underline;
  text-align: left;
  padding: 0;
}

:global(.vtex-my-orders-app-3-x-orderProduct) {
  padding-right: 10px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  position: relative;
  overflow: initial;
}

:global(.vtex-my-orders-app-3-x-orderProduct)::before {
  content: '';
  @include size(100%, 1px);
  background-color: $white02;
  position: absolute;
  left: 0;
  bottom: 0;

  @include mq('640') {
    width: 670px;
  }
}

:global(.vtex-my-orders-app-3-x-orderProduct):last-child::before {
  display: block;

  @include mq('640') {
    display: none;
  }
}

:global(.vtex-my-orders-app-3-x-reorderBtn),
:global(.vtex-my-orders-app-3-x-cancelBtn),
:global(.vtex-my-orders-app-3-x-detailsBtn) {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

:global(.vtex-pageHeader__children) {
  margin-bottom: 15px;

  :first-child {
    @include button-primary();
  }
}

:global(.vtex-pageHeader__container) {
  @include mq('1024') {
    :global(.vtex-pageHeader-link__container) {
      display: none;
    }
  }
}


:global(.vtex-my-authentication-1-x-authenticationScreen_container) {
  margin-bottom: 40px;

  :global(.vtex-my-authentication-1-x-box_container) {
    border-color: $primary-color;
    @include textConfig($black02, 14, $fontSemiBold, 18, left, initial, 20);

    :global(.vtex-my-authentication-1-x-maskedPassword_content) {
      color: $black02;
    }

    :global(.vtex-my-authentication-1-x-box_footer) {
      @include button-primary();
    }

    :global(.vtex-my-authentication-1-x-codeInput_container),
    :global(.vtex-my-authentication-1-x-newPassInput_container) {
      @include input-general();
    }

    :global(.vtex-my-authentication-1-x-resendCodeButton_container) {
      @include button-secondary();
    }
  }
}