{
  "flex-layout.row#breadcrumb-institucional-{{dashCase name}}": {
    "title": "Conteúdo Breadcrumb",
    "props": {
      "blockClass": [
        "container__breadcrumb-institucional"
      ],
      "preventHorizontalStretch": true,
      "preventVerticalStretch": true,
      "preserveLayoutOnMobile": true
    },
    "children": [
      "rich-text#breadcrumb-institucional-home",
      "image#breadcrumb-institucional-seta",
      "rich-text#breadcrumb-institucional-{{dashCase name}}"
    ]
  },

  "rich-text#breadcrumb-institucional-{{dashCase name}}": {
    "title": "Texto Nome Da Pagina",
    "props": {
      "blockClass": "text__breadcrumb-institucional-page-name",
      "text": "{{titleCase name}}"
    }
  }
}