{
  "flex-layout.col#container-content-and-title-institucional-{{dashCase name}}": {
    "title": "Container Titulo E Conteudo",
    "props": {
      "preventVerticalStretch": true,
      "blockClass": [
        "container__conteudo-institucional"
      ]
    },
    "children": [
      "rich-text#titulo-institucional-{{dashCase name}}",
      "rich-text#text-institucional-{{dashCase name}}-1",
      "rich-text#text-institucional-{{dashCase name}}-2",
      "rich-text#text-institucional-{{dashCase name}}-3",
      "rich-text#text-institucional-{{dashCase name}}-4"
    ]
  },
  "rich-text#text-institucional-{{dashCase name}}-1": {
    "title": "Texto 01",
    "props": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare gravida purus, a tincidunt enim iaculis id. Fusce accumsan ultrices mattis. Cras vitae nunc nec quam mollis vestibulum quis in magna. Aliquam mauris erat, fermentum sit amet elementum nec, semper ut purus. Sed at sodales elit. Praesent ullamcorper, neque eu rutrum venenatis, velit urna interdum nibh, aliquam vestibulum purus eros eu tortor. Ut placerat est ex, eget aliquam dui pellentesque sed. Aenean eget faucibus risus, sit amet auctor enim.
",
      "blockClass": "text__institucional"
    }
  },
  "rich-text#text-institucional-{{dashCase name}}-2": {
    "title": "Texto 02",
    "props": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare gravida purus, a tincidunt enim iaculis id. Fusce accumsan ultrices mattis. Cras vitae nunc nec quam mollis vestibulum quis in magna. Aliquam mauris erat, fermentum sit amet elementum nec, semper ut purus. Sed at sodales elit. Praesent ullamcorper, neque eu rutrum venenatis, velit urna interdum nibh, aliquam vestibulum purus eros eu tortor. Ut placerat est ex, eget aliquam dui pellentesque sed. Aenean eget faucibus risus, sit amet auctor enim.
",
      "blockClass": "text__institucional"
    }
  },
  "rich-text#text-institucional-{{dashCase name}}-3": {
    "title": "Texto 03",
    "props": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare gravida purus, a tincidunt enim iaculis id. Fusce accumsan ultrices mattis. Cras vitae nunc nec quam mollis vestibulum quis in magna. Aliquam mauris erat, fermentum sit amet elementum nec, semper ut purus. Sed at sodales elit. Praesent ullamcorper, neque eu rutrum venenatis, velit urna interdum nibh, aliquam vestibulum purus eros eu tortor. Ut placerat est ex, eget aliquam dui pellentesque sed. Aenean eget faucibus risus, sit amet auctor enim.
",
      "blockClass": "text__institucional"
    }
  },
  "rich-text#text-institucional-{{dashCase name}}-4": {
    "title": "Texto 04",
    "props": {
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare gravida purus, a tincidunt enim iaculis id. Fusce accumsan ultrices mattis. Cras vitae nunc nec quam mollis vestibulum quis in magna. Aliquam mauris erat, fermentum sit amet elementum nec, semper ut purus. Sed at sodales elit. Praesent ullamcorper, neque eu rutrum venenatis, velit urna interdum nibh, aliquam vestibulum purus eros eu tortor. Ut placerat est ex, eget aliquam dui pellentesque sed. Aenean eget faucibus risus, sit amet auctor enim.
",
      "blockClass": "text__institucional"
    }
  }
}