{
  "rich-text#titulo-institucional-{{dashCase name}}": {
    "title": "Title Principal",
    "props": {
      "text": "{{titleCase name}}",
      "blockClass": "text__title-institutional"
    }
  }
}