.openIconContainer {
  padding: 0;
}

.openIconContainer {
  .minicartIconContainer {
    @include background-img(url('assets/icons/minicart-icon.svg'));
    @include size(25px);

    .cartIcon {
      display: none;
    }
  }
  :global(.vtex-button) {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.minicartQuantityBadge {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white;
  padding: 2px 6px;
  width: auto;
  right: -8px;
}

.drawer {
  @include mq('768') {
    max-width: 395px !important;
  }
  width: 100% !important;
  &Content {
    position: relative;
    overflow-y: hidden;
  }
}

.minicartTitle {
  font-size: 0;
  text-align: center;
  padding: 17px 16px;
  background-color: $primary-color;
  margin-top: 0;
  &::after {
    content: 'Meu Carrinho';
    @include textConfig($secondary-color, 14, $fontBold, 16, center, uppercase, 20);
  }
}
.closeIconContainer {
  @include abs-position(5px, 4px, auto, auto);
}
.closeIcon {
  @include background-img(url('assets/icons/icon-close-minicart.svg'));
  @include size(12px);
  :first-child {
    display: none;
  }
}

.minicartCheckoutButton--footer {
  &__minicart {
    @include button-primary();
    height: 48px;
    :global(.vtex-button__label) {
      font-size: 0 !important;

      &::after {
        content: 'Finalizar pedido';
        @include textConfig($secondary-color, 16, $fontBold, 22);
      }
    }
    :global(.vtex-button) {
      &:hover {
        @include transition();
        background-color: $blue;
      }
    }
  }
}
.minicartSummary,
.minicartCheckoutButton {
  &--footer__minicart {
    padding: 0;
  }
}

.minicartProductListContainer {
  &::-webkit-scrollbar {
    width: 4px;

    &-thumb {
      background-color: $primary-color;
      border-radius: 100px;
    }

    &-track {
      background-color: $secondary-color;
      border-radius: 100px;
    }
  }
}

:global(.vtex-minicart-2-x-minicartSideBarContentWrapper) {
  height: 100vh !important;
}
