.minicart-empty {
  &__container {
    display: flex;
  }
}

.flexColChild-- {
  &minicart-empty__ {
    &container {
      display: flex;
      height: auto !important;
    }
  }
}

.flexRowContent-- {
  &minicart__ {
    &list {
      &--priceRow {
        @include display-flex(center, space-between);
      }

      &--products {
        padding: 20px 0;
      }

      &--remove {
        @include display-flex(flex-start, space-between);
      }
    }
  }

  &footer__minicart {
    &--container {
      padding: 16px;
      box-shadow: 0px -4px 16px 0px $black03;

      .flexColChild {
        text-align: center;
      }
    }
  }
}