.closeIconButton--{
  &footer__ {
    &minicart {
      width:fit-content;
      @include textConfig($black, 16, $fontBold, 21, center);
      &::before{
        content: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.50518 12L6.93326 10.5815L3.83532 7.48351L12.0386 7.48351L12.0386 5.48109L3.83532 5.48109L6.93326 2.38315L5.50518 0.964599L1.57301e-05 6.4823L5.50518 12Z' fill='black'/%3E%3C/svg%3E%0A");
        margin-right: 8px;
      }
    }
  }
}
