.removeButton {
  @include background-img(url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.03833 1.99043V3.0622H11.0957V1.99043H7.03833ZM13.0862 3.0622V0.91866C13.0862 0.411298 12.6749 0 12.1675 0H5.96656C5.45919 0 5.04789 0.411298 5.04789 0.91866V3.0622H4.05268H2.06225H1.14359C1.05903 3.0622 0.990479 3.13075 0.990479 3.21531V4.89952C0.990479 4.98408 1.05903 5.05263 1.14359 5.05263H2.06225V15.0813C2.06225 15.5887 2.47355 16 2.98091 16H15.1532C15.6605 16 16.0718 15.5887 16.0718 15.0813V5.05263H16.9139C16.9985 5.05263 17.067 4.98408 17.067 4.89952V3.21531C17.067 3.13075 16.9985 3.0622 16.9139 3.0622H16.0718H14.0814H13.0862ZM5.04789 5.05263H4.05268V14.0096H14.0814V5.05263H13.0862H11.0957H7.03833H5.04789ZM6.04311 6.96651H8.1101V13.0144H6.04311V6.96651ZM12.091 6.96651H10.024V13.0144H12.091V6.96651Z' fill='%23CECECE'/%3E%3C/svg%3E%0A"), $bgSize: auto);
  color: transparent !important;
  padding-right: 0;
}

.removeButtonContainer {
  position: relative;
  right: 0;
  top: -6px;
}

.productImage--,
.productImageAnchor-- {
  &minicart {
    width: 90px;
    max-height: 90px;
    object-fit: contain;
    border-radius: 0;
    display: block;
  }
}

.productName-- {
  &minicart {
    @include textConfig($black, 14, $fontRegular, 16);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    max-width: 210px;
  }
}

.quantitySelectorContainer-- {
  &minicart {
    max-width: 120px;
    border: 1px solid $light-gray;
    border-radius: 8px;
    margin-right: 10px;

    .inputContainer {
      @include textConfig($dark-gray, 16, $fontRegular, 23, center);
      width: 28px;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;

      :first-child {
        outline: none;
      }
    }
  }
}

.quantitySelector {
  &Button-- {
    &minicart {
      @include size(46px, 40px);
      @include textConfig($black02, 16, $fontRegular, 16, right, initial, 20);
      border: none;
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }
  &Increase {
    &--minicart {
      :first-child {
        display: none;
      }
      border-radius: 0 8px 8px 0;
      @include background-img(url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.60321 6.45117H3.54999V9.78809H5.91571V6.45117H8.88739V4.19336H5.91571V0.989258H3.54999V4.19336H0.60321V6.45117Z' fill='black'/%3E%3C/svg%3E%0A"), $bgSize: auto);
    }
  }
  &Decrease {
    &--minicart {
      :first-child {
        display: none;
      }
      border-radius: 8px 0 0 8px;
      @include background-img(url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.57001 3.59668V0.964844H0.425476V3.59668H6.57001Z' fill='black'/%3E%3C/svg%3E%0A"), $bgSize: auto);
    }
  }
}
.productPriceContainer-- {
  &minicart {
    text-align: right;
    .currencyContainer {
      @include textConfig($black, 14, $fontMedium, 20, right);
    }

    .price {
      @include textConfig($black, 16, $fontBlack, 22, right);
    }
  }
}
