.summaryItemContainer--{
  &footer__{
    &minicart{
      .summaryItemLabel,
        .price {
        @include textConfig($black, 14, $fontRegular, 22);
      }

      .summaryItemLabel {
        text-align: left;
      }

      .price {
        text-align: right;
      }

      &:last-child {
        .summaryItemLabel,
        .price {
          @include textConfig($black, 14, $fontBold, 23, initial, initial, 10);
        }

        .summaryItemLabel {
          text-align: left;
        }

        .price {
          text-align: right;
        }
      }
    }
  }
}

.summarySmallDisclaimer {
  display: none;
}

.summaryItemContainer--footer__minicart{
  margin: 0;
}
