.cart-links-bottom {
  margin: 0;
  float: none;
  border: 1px solid $light-gray;
  border-radius: 0 0 8px 8px;
  border-top: 0;
  display: flex;
  flex-direction: column;

  @include mq('1200') {
    border: 0;
    float: right;
    margin: 0 17px 0 0;
  }

  .btn-place-order-wrapper {
    order: 1;
    display: block;
    width: calc(100% - 30px);
    padding: 0 15px;
    height: 44px;
    margin: 0;

    @include mq('1200') {
      width: 360px;
      padding: 0;
    }

    #cart-to-orderform {
      @include button-primary();
      text-align: center;
      font-size: 0;
      @include size(calc(100% - 41px), auto);
      margin: 0;
      background-image: none;
      box-shadow: none;

      &::before {
        content: 'Finalizar compra';
        @include text(4, $secondary-color);
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  .link-choose-more-products-wrapper {
    margin: 16px 0 24px;
    order: 2;

    #cart-choose-more-products {
      @include text(4, $primary-color);
      text-decoration: underline;
      @include display-flex(center, center, row);
      font-size: 0;

      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.98607 11.5177L7.41415 10.0992L4.31622 7.00121L12.5195 7.00121L12.5195 4.99879L4.31621 4.99879L7.41415 1.90085L5.98607 0.482299L0.480912 6L5.98607 11.5177Z' fill='%23005CFF'/%3e%3c/svg%3e ");
        background-size: no-repeat;
        content: '';
        display: inline-block;
        margin-right: 8px;
        @include size(13px, 12px);
      }

      &::after {
        @include text(4, $primary-color);
        content: 'Continuar comprando';
      }
    }
  }
}