body {
  .container-cart {
    padding: 20px 16px 32px !important;
    @include display-flex(stretch, flex-start, column);

    .shelf-checkout {
      order: 2;
    }

    .checkout-container {
      order: 4;
    }

    @include mq('768') {
      @include grid();
      max-width: 1260px;
      width: calc(100% - 32px);
    }

    h1 {
      @include text(2, $dark-blue);
      margin: 0;
      padding: 16px 0;
      display: block !important;

      @include mq('1200') {
        padding: 20px 0 40px;
      }
    }
  }
}