//Coupon
body {
  .container-cart {
    .summary-coupon-wrap {
      .summary-coupon {
        border-bottom: 1px solid $light-gray;
        margin: 24px 16px 16px;
        padding: 0 0 16px;

        @include mq('1200') {
          margin-top: 32px;
          text-align: center;
          margin-left: 0;
        }

        .coupon-data {
          margin-bottom: 0;
        }
      }

      .link-coupon-add {
        @include text(4, $primary-color);
        text-decoration: underline;
        text-align: center;
      }

      .coupon-label {
        label {
          @include text(4, $dark-blue);
          text-align: center;

          @include mq('1200') {
            text-align: left;
          }
        }
      }

      .coupon-fields {
        span {
          &:first-of-type {
            @include display-flex(center, center, row);
            padding: 0;
          }
        }

        .loading-coupon {
          display: none !important;
        }

        #cart-coupon {
          border-radius: 8px;
          border: 1px solid $light-gray;
          padding: 11px 5px;
          width: 100%;
          box-shadow: none;

          @include mq('1200') {
            @include size(300px, auto);
            padding: 11px 0px 11px 10px
          }
        }

        #cart-coupon-add,
        #cart-coupon-remove {
          @include button-primary();
          text-align: center;
          box-shadow: none;
          background-image: none;
          margin-left: 8px;
          max-width: 110px;
          padding: 11px 0;
        }

        #cart-coupon-add {
          font-size: 0;

          @include mq('1200') {
            @include size(38px, 40px);
          }

          &::before {
            content: 'OK';
            font-size: 14px;

            @include mq('1200') {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}