.cart-select-gift-placeholder {
  .available-gift-item {
    border: 0;
    margin-bottom: 25px;
    padding: 0;

    &.active {
      background: transparent;
      border: 0;
      box-shadow: none;
    }

    &.inactive {
      background: transparent;
      border: 0;
      opacity: 1;

      .checkbox-selector {
        &.icon-check-empty {
          &:before {
            @include size(24px);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%23A6ADB5'/%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            content: "";
          }
        }
      }
    }

    .product-image {
      padding: 0 0 0 35px;

      img {
        @include size(75px);
        max-width: 75px;
      }
    }

    .product-name {
      @include textConfig($black, 12, $fontRegular, 16, left, initial, 0);
      vertical-align: middle;

      @include mq("992") {
        @include font-size(16);
      }

      .brand {
        display: none;
      }

      .checkbox-selector {
        display: block;
        left: 0;
        top: 40%;

        &.icon-check-empty,
        &.icon-check-sign {
          &:before {
            @include size(24px);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%23A6ADB5'/%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            content: "";
          }
        }

        &.icon-check-sign {
          &:before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='24' height='24' rx='4' fill='%23004CD2'/%3e%3cpath d='M3 12L8 16.5L20.5 6' stroke='white'/%3e%3c/svg%3e ");
          }
        }
      }
    }
  }
}