//Products
body {
  .container-cart {
    .cart {
      padding: 0;
      margin: 0;
      border: 0;

      @include mq('1200') {
        border: 1px solid $light-gray-05;
        border-radius: 8px;

        thead {
          background-color: $white-03;

          th {
            @include text(4, $dark-blue);
            border-radius: 0;
            padding: 12px 24px;
            line-height: 21px;

            @include mq('1200') {

              &.shipping-date,
              &.quantity-price {
                text-align: center;
              }
            }

            &:first-of-type {
              border-radius: 8px 0 0 0;
            }

            &:last-of-type {
              border-radius: 0 8px 0 0;
            }

            &.quantity {
              margin-left: 5px;
            }

            &.quantity,
            &.product-price {
              text-align: center;
            }

            &.shipping-date {
              font-size: 0;

              &::before {
                content: 'Frete';
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }

      table {
        display: block;

        thead {
          display: none;
        }

        @include mq('1200') {
          display: table;
          position: relative;

          &::before {
            content: '';
            display: block;
            @include abs-position(0, -33px, auto, -17px);
            background-color: $white-03;
            border-radius: 8px 8px 0 0;
            @include size(calc(100% + 60px), 45px);
            z-index: -1;
          }

          thead {
            display: table-header-group;
          }
        }

        tbody {
          display: block;

          @include mq('1200') {
            display: table-row-group;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
          }
        }
      }

      .product-item {
        margin: 0;
        padding: 24px 0;
        border-bottom: 1px solid $light-gray-05;
        display: block;
        position: relative;
        min-height: auto;

        &:last-of-type {
          border-bottom: 0;
        }

        &.haveAttachment {
          height: 140px;
        }

        @include mq('1200') {
          display: table-row;
          padding: 0;
          height: 112px;

          &.haveAttachment {
            height: 112px;

            td {
              vertical-align: middle;
            }
          }

          &:last-of-type {
            border: 0;
          }
        }

        .product-image {
          @include size(90px);
          padding: 0;
          background: none;

          @include mq('375') {
            max-width: 92px;
          }

          @include mq('490') {
            left: 0;
            position: absolute;
          }

          @include mq('1200') {
            position: relative;
          }

          a {
            display: block;

            img {
              display: block;
              max-width: 90px;
              @include size(90px);

              @include mq('375') {
                max-width: 90px;
                @include size(90px);
              }

              @include mq('1200') {
                max-width: 80px;
                @include size(80px);
              }
            }
          }
        }

        .product-name {
          margin: 0 0 0 100px;
          position: initial;
          display: inline-block;
          width: calc(100% - 120px);

          @include mq('480') {
            padding: 0 0 10px;
          }

          @include mq('1200') {
            display: table-cell;
            padding: 0;
            width: 285px;
          }

          a {
            @include text(4, $dark-blue, $fontRegular);
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            max-width: 100%;
            outline: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
          }

          .add-item-attachment-container {
            @include abs-position(initial, initial, 15px, 0);
            @include size(100%, 40px);
            background-color: $white-05;
            border: 0;
            display: flex;
            align-items: center;

            @include mq("490") {
              justify-content: center;
            }

            @include mq("1200") {
              justify-content: start;
              margin: 10px 0 0;
              width: 200px;
              position: relative;
              bottom: 0;
            }

            .add-item-attachment {
              background-color: transparent;
              border: 0;
              background-image: none;
              text-shadow: none;
              box-shadow: none;
              color: $primary-color;
              padding: 0 0 0 11px;
              text-decoration: underline;

              @include mq('490') {
                display: flex;
                align-items: center;

                &:after {
                  content: '';
                  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 3.17937e-09L12 1.5285L6 7.5L3.23978e-09 1.5285L1.5 2.22556e-08L6 4.5L10.5 3.17937e-09Z' fill='%23005CFF'/%3e%3c/svg%3e ");
                  @include size(12px, 8px);
                  display: inline-block;
                  margin-left: 8px;
                }
              }

              &:before {
                content: '';
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.933594 6.07011V15.0168C0.933594 15.5575 1.37608 16 1.91675 16H17.0672C17.6079 16 18.0504 15.5575 18.0504 15.0168V6.07011H0.933594Z' fill='%23005CFF'/%3e%3cpath d='M18.0506 5.48022V2.82563C18.0506 2.28496 17.6081 1.84247 17.0674 1.84247H15.6852V2.50508C15.6852 3.1559 15.1563 3.68494 14.5053 3.68494C13.8545 3.68494 13.3254 3.15607 13.3254 2.50508V1.84247L5.65682 1.84261V2.50522C5.65682 3.15603 5.12795 3.68508 4.47696 3.68508C3.82615 3.68508 3.2971 3.15621 3.2971 2.50522V1.84261H1.91675C1.37608 1.84261 0.933594 2.2851 0.933594 2.82576V5.48036H18.0504L18.0506 5.48022Z' fill='%23005CFF'/%3e%3cpath d='M4.47665 3.09501C4.80309 3.09501 5.06658 2.83153 5.06658 2.50508V0.589929C5.06658 0.26349 4.80309 0 4.47665 0C4.1502 0 3.88672 0.263482 3.88672 0.589929V2.50508C3.88672 2.83152 4.1502 3.09501 4.47665 3.09501Z' fill='%23005CFF'/%3e%3cpath d='M14.505 3.09501C14.8314 3.09501 15.0949 2.83153 15.0949 2.50508V0.589929C15.0949 0.26349 14.8314 0 14.505 0C14.1785 0 13.915 0.263482 13.915 0.589929V2.50508C13.915 2.83152 14.1785 3.09501 14.505 3.09501Z' fill='%23005CFF'/%3e%3c/svg%3e ");
                display: inline-block;
                margin-right: 8px;
                @include size(19px, 16px);
              }


            }
          }

          .clone-item,
          .clone-item-sep,
          .clone-item-container,
          .brand,
          .seller,
          .product-service,
          .product-item-attachment-offerings,
          .add-service-container {
            display: none;
          }
        }

        .product-price {
          margin: 0;
          height: 40px;
          display: flex;
          align-items: end;

          @include mq('490') {
            float: right;
          }

          @include mq('1200') {
            margin-left: 0;
            display: table-cell;
            text-align: center;
            float: none;
            padding: 0;
          }

          br {
            display: none;
          }

          .new-product-real-price-per-unit {
            display: none;
          }

          .new-product-real-price {
            @include text(4, $dark-gray-03, $fontRegular);
            text-align: center;
            text-decoration: line-through;
          }

          .best-price {
            @include text(3, $black, $fontRegular);

            @include mq('1200') {
              color: $dark-blue;
              font-weight: $fontRegular;
              font-size: 14px;
            }

            .new-product-price-label,
            .price-details {
              display: none
            }

            .price-details {
              .price-details-icon {
                color: $primary-color;
              }

              .price-details-popup {
                background-color: $primary-color;
                border-color: $primary-color;
              }
            }
          }

          .list-price {
            display: none;
            @include text(4, $dark-gray-03, $fontRegular);

            @include mq('1200') {
              font-weight: $fontRegular;
            }

            .old-product-price {
              color: $dark-gray-03;
            }

            .old-product-price-label {
              display: none;
            }
          }
        }

        .quantity {
          margin-left: 100px;
          max-width: 120px;
          border: 1px solid $light-gray;
          border-radius: 8px;
          position: relative;
          padding: 0;
          @include size(90px, 40px);

          @include mq("375") {
            @include size(100%, 40px);
          }

          @include mq('490') {
            @include size(120px, 40px);
            display: inline-block;
          }

          @include mq('1200') {
            float: none;
            text-align: center;
            margin: 0;
            display: table-cell;
            border: 0;
            @include size(125px, 40px);
          }

          .item-unit-label,
          .item-multiplier-label {
            display: none;
          }

          .item-quantity-change {
            display: inline-block;
            vertical-align: middle;
            float: none;
            @include size(25px, 40px);
            position: inherit;
            left: auto;
            top: auto;
            bottom: auto;
            right: auto;
            z-index: 1;

            @include mq("375") {
              @include size(30px, 40px);
            }

            &::before {
              @include text(4, $dark-blue);
              display: inline-block;
              vertical-align: middle;
              line-height: 40px;
            }

            .icon {
              display: none;
            }

            &-decrement {
              @include mq("1200") {
                border: 1px solid $light-gray;
                border-right: 0;
              }

              &::before {
                content: '-';
              }
            }

            &-increment {
              @include mq("1200") {
                border: 1px solid $light-gray;
                border-left: 0;
              }

              &::before {
                content: '+';
              }
            }
          }

          input {
            float: none;
            border: 0;
            box-shadow: none;
            margin: 0;
            display: inline-block;
            @include size(20px, 40px);
            padding: 0;
            font-weight: $fontSemiBold;

            @include mq("375") {
              @include size(44px, 40px);
            }

            @include mq("1200") {
              border: 1px solid $light-gray;
              border-right: 0;
              border-left: 0;
              border-radius: 0;
              margin: 0 -3px;
            }

          }

        }

        .quantity-price {
          display: none;

          @include mq('1200') {
            display: table-cell;
            @include text(4, $black, $fontRegular);
            padding: 0;
            text-align: center;
          }
        }

        .item-remove {
          @include abs-position(27px, 0, auto, auto);
          margin: 0;
          padding: 0;
          @include size(20px);

          @include mq('1200') {
            position: relative;
            top: 0;
            margin: 0;
          }

          .item-link-remove {
            display: block;

            @include mq('768') {
              padding: 0;
            }

            &::before {
              content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.2 9.6C4.35913 9.6 4.51174 9.53679 4.62426 9.42426C4.73679 9.31174 4.8 9.15913 4.8 9V5.4C4.8 5.24087 4.73679 5.08826 4.62426 4.97574C4.51174 4.86321 4.35913 4.8 4.2 4.8C4.04087 4.8 3.88826 4.86321 3.77574 4.97574C3.66321 5.08826 3.6 5.24087 3.6 5.4V9C3.6 9.15913 3.66321 9.31174 3.77574 9.42426C3.88826 9.53679 4.04087 9.6 4.2 9.6ZM10.2 2.4H7.8V1.8C7.8 1.32261 7.61036 0.864773 7.27279 0.527208C6.93523 0.189642 6.47739 0 6 0H4.8C4.32261 0 3.86477 0.189642 3.52721 0.527208C3.18964 0.864773 3 1.32261 3 1.8V2.4H0.6C0.44087 2.4 0.288258 2.46321 0.175736 2.57574C0.0632141 2.68826 0 2.84087 0 3C0 3.15913 0.0632141 3.31174 0.175736 3.42426C0.288258 3.53679 0.44087 3.6 0.6 3.6H1.2V10.2C1.2 10.6774 1.38964 11.1352 1.72721 11.4728C2.06477 11.8104 2.52261 12 3 12H7.8C8.27739 12 8.73523 11.8104 9.07279 11.4728C9.41036 11.1352 9.6 10.6774 9.6 10.2V3.6H10.2C10.3591 3.6 10.5117 3.53679 10.6243 3.42426C10.7368 3.31174 10.8 3.15913 10.8 3C10.8 2.84087 10.7368 2.68826 10.6243 2.57574C10.5117 2.46321 10.3591 2.4 10.2 2.4ZM4.2 1.8C4.2 1.64087 4.26321 1.48826 4.37574 1.37574C4.48826 1.26321 4.64087 1.2 4.8 1.2H6C6.15913 1.2 6.31174 1.26321 6.42426 1.37574C6.53679 1.48826 6.6 1.64087 6.6 1.8V2.4H4.2V1.8ZM8.4 10.2C8.4 10.3591 8.33679 10.5117 8.22426 10.6243C8.11174 10.7368 7.95913 10.8 7.8 10.8H3C2.84087 10.8 2.68826 10.7368 2.57574 10.6243C2.46321 10.5117 2.4 10.3591 2.4 10.2V3.6H8.4V10.2ZM6.6 9.6C6.75913 9.6 6.91174 9.53679 7.02426 9.42426C7.13679 9.31174 7.2 9.15913 7.2 9V5.4C7.2 5.24087 7.13679 5.08826 7.02426 4.97574C6.91174 4.86321 6.75913 4.8 6.6 4.8C6.44087 4.8 6.28826 4.86321 6.17574 4.97574C6.06321 5.08826 6 5.24087 6 5.4V9C6 9.15913 6.06321 9.31174 6.17574 9.42426C6.28826 9.53679 6.44087 9.6 6.6 9.6Z' fill='%23636363'/%3E%3C/svg%3E%0A");
              display: block;
              @include size(20px);
              line-height: 20px;
            }
          }

          .icon {
            display: none;
          }
        }

        .shipping-date {
          display: none;

          @include mq('1200') {
            @include text(4, $dark-blue, $fontRegular);
            padding: 0;
            text-align: center;
            display: table-cell;
          }
        }

        &.showMeasurementUnit {
          .quantity {
            .item-unit-label {
              display: block;
              @include text(4, $dark-blue, $fontSemiBold);
              text-align: center;
              background-color: $white;
              position: relative;
              margin-top: 3px;
            }
          }
        }

        &.showRealPrice {
          .product-price {
            .new-product-real-price {
              display: block;
            }
          }
        }
      }

      .item-attachments-head {
        background-color: $white-05;
        border-radius: 8px 8px 0 0;

        @include mq('490') {
          margin: 0;
          position: relative;
          padding: 10px 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include mq('1200') {
          display: table-row;
        }

        .top-arrow {
          display: none;

          @include mq('1200') {
            display: block;
            left: 95px;
          }
        }

        .item-attachments-header {
          background-color: $white-05;

          @include mq('490') {
            top: 0;

            &:after {
              content: '';
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 3.17937e-09L12 1.5285L6 7.5L3.23978e-09 1.5285L1.5 2.22556e-08L6 4.5L10.5 3.17937e-09Z' fill='%23005CFF'/%3e%3c/svg%3e ");
              @include size(12px, 8px);
              transform: rotate(180deg);
              display: inline-block;
              margin-left: 8px;
              left: initial;
              right: -20px;
              border: 0;
              top: 25%;
            }
          }

          @include mq('1200') {
            &:after {
              content: none;
            }
          }

          strong {
            background-color: transparent;
            border: 0;
            background-image: none;
            text-shadow: none;
            box-shadow: none;
            color: $primary-color;
            padding: 0 0 0 11px;
            display: flex;
            align-items: center;
            font-size: 0;

            @include mq('1200') {
              display: none;
            }

            &:before {
              content: '';
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.933594 6.07011V15.0168C0.933594 15.5575 1.37608 16 1.91675 16H17.0672C17.6079 16 18.0504 15.5575 18.0504 15.0168V6.07011H0.933594Z' fill='%23005CFF'/%3e%3cpath d='M18.0506 5.48022V2.82563C18.0506 2.28496 17.6081 1.84247 17.0674 1.84247H15.6852V2.50508C15.6852 3.1559 15.1563 3.68494 14.5053 3.68494C13.8545 3.68494 13.3254 3.15607 13.3254 2.50508V1.84247L5.65682 1.84261V2.50522C5.65682 3.15603 5.12795 3.68508 4.47696 3.68508C3.82615 3.68508 3.2971 3.15621 3.2971 2.50522V1.84261H1.91675C1.37608 1.84261 0.933594 2.2851 0.933594 2.82576V5.48036H18.0504L18.0506 5.48022Z' fill='%23005CFF'/%3e%3cpath d='M4.47665 3.09501C4.80309 3.09501 5.06658 2.83153 5.06658 2.50508V0.589929C5.06658 0.26349 4.80309 0 4.47665 0C4.1502 0 3.88672 0.263482 3.88672 0.589929V2.50508C3.88672 2.83152 4.1502 3.09501 4.47665 3.09501Z' fill='%23005CFF'/%3e%3cpath d='M14.505 3.09501C14.8314 3.09501 15.0949 2.83153 15.0949 2.50508V0.589929C15.0949 0.26349 14.8314 0 14.505 0C14.1785 0 13.915 0.263482 13.915 0.589929V2.50508C13.915 2.83152 14.1785 3.09501 14.505 3.09501Z' fill='%23005CFF'/%3e%3c/svg%3e ");
              display: inline-block;
              margin-right: 8px;
              @include size(19px, 16px);
            }

            &::after {
              content: 'Adicionar assinatura';
              font-size: 14px;
              text-decoration: underline;
            }
          }
        }
      }

      .item-attachments-content {
        background-color: $white-05;
        border-radius: 0 0 8px 8px;

        @include mq('490') {
          margin: 0;
          position: relative;
          padding: 10px 0;
          @include display-flex(center, center, row);
        }

        @include mq('1200') {
          display: table-row;
          height: 50px;
        }

        .item-attachments-item-fields {
          @include mq("1200") {
            padding: 0;
          }

          .item-attachment {
            display: flex;
            align-items: baseline;

            @include mq('490') {
              margin: 0
            }

            @include mq('1200') {
              justify-content: start;
              align-items: center
            }

            &-name-label {
              @include text(5, $black, $fontRegular);
              margin-right: 15px;
              display: flex;
              align-items: end;

              @include mq("1200") {
                font-size: 14px;

                &::before {
                  content: '';
                  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='160' height='19' viewBox='0 0 160 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.933594 6.07011V15.0168C0.933594 15.5575 1.37608 16 1.91675 16H17.0672C17.6079 16 18.0504 15.5575 18.0504 15.0168V6.07011H0.933594Z' fill='%23005CFF'/%3e%3cpath d='M18.0506 5.48022V2.82563C18.0506 2.28496 17.6081 1.84247 17.0674 1.84247H15.6852V2.50508C15.6852 3.1559 15.1563 3.68494 14.5053 3.68494C13.8545 3.68494 13.3254 3.15607 13.3254 2.50508V1.84247L5.65682 1.84261V2.50522C5.65682 3.15603 5.12795 3.68508 4.47696 3.68508C3.82615 3.68508 3.2971 3.15621 3.2971 2.50522V1.84261H1.91675C1.37608 1.84261 0.933594 2.2851 0.933594 2.82576V5.48036H18.0504L18.0506 5.48022Z' fill='%23005CFF'/%3e%3cpath d='M4.47665 3.09501C4.80309 3.09501 5.06658 2.83153 5.06658 2.50508V0.589929C5.06658 0.26349 4.80309 0 4.47665 0C4.1502 0 3.88672 0.263482 3.88672 0.589929V2.50508C3.88672 2.83152 4.1502 3.09501 4.47665 3.09501Z' fill='%23005CFF'/%3e%3cpath d='M14.505 3.09501C14.8314 3.09501 15.0949 2.83153 15.0949 2.50508V0.589929C15.0949 0.26349 14.8314 0 14.505 0C14.1785 0 13.915 0.263482 13.915 0.589929V2.50508C13.915 2.83152 14.1785 3.09501 14.505 3.09501Z' fill='%23005CFF'/%3e%3cpath d='M33.6668 11.69H28.8648L27.8708 14H26.0508L30.5168 4.13H31.9868L36.4528 14H34.6608L33.6668 11.69ZM33.0648 10.29L31.2588 6.09L29.4528 10.29H33.0648ZM43.9594 4.13V14H42.2234V12.894C42.0181 13.2767 41.7194 13.5753 41.3274 13.79C40.9447 14.0047 40.5061 14.112 40.0114 14.112C39.4234 14.112 38.8961 13.9627 38.4294 13.664C37.9721 13.3653 37.6127 12.9453 37.3514 12.404C37.0994 11.8533 36.9734 11.2233 36.9734 10.514C36.9734 9.80467 37.0994 9.184 37.3514 8.652C37.6127 8.12 37.9721 7.70933 38.4294 7.42C38.8867 7.13067 39.4141 6.986 40.0114 6.986C40.5061 6.986 40.9447 7.08867 41.3274 7.294C41.7101 7.49933 42.0041 7.78867 42.2094 8.162V4.13H43.9594ZM40.4734 12.754C41.0334 12.754 41.4627 12.5627 41.7614 12.18C42.0694 11.7973 42.2234 11.2513 42.2234 10.542C42.2234 9.83267 42.0694 9.29133 41.7614 8.918C41.4627 8.53533 41.0381 8.344 40.4874 8.344C39.9274 8.344 39.4934 8.53067 39.1854 8.904C38.8774 9.27733 38.7234 9.814 38.7234 10.514C38.7234 11.2233 38.8774 11.774 39.1854 12.166C39.4934 12.558 39.9227 12.754 40.4734 12.754ZM45.7596 7.154H47.5096V14H45.7596V7.154ZM47.5936 3.976V5.698H45.6616V3.976H47.5936ZM52.4363 14.112C51.7176 14.112 51.0923 13.9673 50.5603 13.678C50.0376 13.3887 49.6363 12.978 49.3563 12.446C49.0763 11.914 48.9363 11.2933 48.9363 10.584C48.9363 9.87467 49.081 9.24933 49.3703 8.708C49.669 8.15733 50.089 7.73267 50.6303 7.434C51.1716 7.13533 51.797 6.986 52.5063 6.986C52.9916 6.986 53.463 7.06533 53.9203 7.224C54.387 7.37333 54.7603 7.57867 55.0403 7.84L54.5363 9.072C54.247 8.83867 53.939 8.66133 53.6123 8.54C53.295 8.41867 52.9776 8.358 52.6603 8.358C52.0536 8.358 51.5823 8.54933 51.2463 8.932C50.9103 9.30533 50.7423 9.84667 50.7423 10.556C50.7423 11.256 50.9103 11.7973 51.2463 12.18C51.5823 12.5533 52.0536 12.74 52.6603 12.74C52.9776 12.74 53.295 12.6793 53.6123 12.558C53.939 12.4367 54.247 12.2593 54.5363 12.026L55.0403 13.244C54.7416 13.5147 54.359 13.7293 53.8923 13.888C53.4256 14.0373 52.9403 14.112 52.4363 14.112ZM56.1502 7.154H57.9002V14H56.1502V7.154ZM57.9842 3.976V5.698H56.0522V3.976H57.9842ZM62.8269 14.112C62.1269 14.112 61.5109 13.9673 60.9789 13.678C60.4563 13.3887 60.0503 12.9733 59.7609 12.432C59.4716 11.8907 59.3269 11.2607 59.3269 10.542C59.3269 9.82333 59.4716 9.198 59.7609 8.666C60.0503 8.12467 60.4563 7.70933 60.9789 7.42C61.5109 7.13067 62.1269 6.986 62.8269 6.986C63.5269 6.986 64.1383 7.13067 64.6609 7.42C65.1929 7.70933 65.5989 8.12467 65.8789 8.666C66.1683 9.198 66.3129 9.82333 66.3129 10.542C66.3129 11.2607 66.1683 11.8907 65.8789 12.432C65.5989 12.9733 65.1929 13.3887 64.6609 13.678C64.1383 13.9673 63.5269 14.112 62.8269 14.112ZM62.8129 12.754C63.3823 12.754 63.8163 12.5673 64.1149 12.194C64.4136 11.8207 64.5629 11.27 64.5629 10.542C64.5629 9.82333 64.4136 9.27733 64.1149 8.904C63.8163 8.52133 63.3869 8.33 62.8269 8.33C62.2669 8.33 61.8329 8.52133 61.5249 8.904C61.2263 9.27733 61.0769 9.82333 61.0769 10.542C61.0769 11.27 61.2263 11.8207 61.5249 12.194C61.8236 12.5673 62.2529 12.754 62.8129 12.754ZM71.7337 6.986C72.555 6.986 73.1663 7.21933 73.5677 7.686C73.969 8.15267 74.1697 8.85733 74.1697 9.8V14H72.4197V9.898C72.4197 9.366 72.317 8.97867 72.1117 8.736C71.9157 8.49333 71.603 8.372 71.1737 8.372C70.6697 8.372 70.2637 8.53067 69.9557 8.848C69.657 9.16533 69.5077 9.59 69.5077 10.122V14H67.7577V7.154H69.4657V8.176C69.699 7.79333 70.0117 7.49933 70.4037 7.294C70.7957 7.08867 71.239 6.986 71.7337 6.986ZM78.8871 6.986C79.8484 6.986 80.5624 7.21933 81.0291 7.686C81.4958 8.15267 81.7291 8.87133 81.7291 9.842V14H80.0631V12.95C79.9044 13.314 79.6524 13.5987 79.3071 13.804C78.9711 14.0093 78.5791 14.112 78.1311 14.112C77.6738 14.112 77.2584 14.0187 76.8851 13.832C76.5118 13.6453 76.2178 13.3887 76.0031 13.062C75.7884 12.7353 75.6811 12.3713 75.6811 11.97C75.6811 11.466 75.8071 11.0693 76.0591 10.78C76.3204 10.4907 76.7404 10.2807 77.3191 10.15C77.8978 10.0193 78.6958 9.954 79.7131 9.954H80.0631V9.632C80.0631 9.16533 79.9604 8.82933 79.7551 8.624C79.5591 8.41867 79.2278 8.316 78.7611 8.316C78.3971 8.316 78.0144 8.38133 77.6131 8.512C77.2211 8.63333 76.8338 8.806 76.4511 9.03L75.9611 7.826C76.3438 7.58333 76.8058 7.38267 77.3471 7.224C77.8884 7.06533 78.4018 6.986 78.8871 6.986ZM78.4811 12.852C78.9478 12.852 79.3258 12.698 79.6151 12.39C79.9138 12.0727 80.0631 11.6667 80.0631 11.172V10.878H79.8111C79.1858 10.878 78.7004 10.906 78.3551 10.962C78.0098 11.018 77.7624 11.116 77.6131 11.256C77.4638 11.396 77.3891 11.5873 77.3891 11.83C77.3891 12.1287 77.4918 12.376 77.6971 12.572C77.9024 12.7587 78.1638 12.852 78.4811 12.852ZM88.0157 8.442L86.9937 8.54C85.8363 8.66133 85.2577 9.24933 85.2577 10.304V14H83.5077V7.154H85.1737V8.358C85.5283 7.53667 86.261 7.08867 87.3717 7.014L87.9037 6.972L88.0157 8.442ZM95.6078 6.986C96.5691 6.986 97.2831 7.21933 97.7498 7.686C98.2165 8.15267 98.4498 8.87133 98.4498 9.842V14H96.7838V12.95C96.6251 13.314 96.3731 13.5987 96.0278 13.804C95.6918 14.0093 95.2998 14.112 94.8518 14.112C94.3945 14.112 93.9791 14.0187 93.6058 13.832C93.2325 13.6453 92.9385 13.3887 92.7238 13.062C92.5091 12.7353 92.4018 12.3713 92.4018 11.97C92.4018 11.466 92.5278 11.0693 92.7798 10.78C93.0411 10.4907 93.4611 10.2807 94.0398 10.15C94.6185 10.0193 95.4165 9.954 96.4338 9.954H96.7838V9.632C96.7838 9.16533 96.6811 8.82933 96.4758 8.624C96.2798 8.41867 95.9485 8.316 95.4818 8.316C95.1178 8.316 94.7351 8.38133 94.3338 8.512C93.9418 8.63333 93.5545 8.806 93.1718 9.03L92.6818 7.826C93.0645 7.58333 93.5265 7.38267 94.0678 7.224C94.6091 7.06533 95.1225 6.986 95.6078 6.986ZM95.2018 12.852C95.6685 12.852 96.0465 12.698 96.3358 12.39C96.6345 12.0727 96.7838 11.6667 96.7838 11.172V10.878H96.5318C95.9065 10.878 95.4211 10.906 95.0758 10.962C94.7305 11.018 94.4831 11.116 94.3338 11.256C94.1845 11.396 94.1098 11.5873 94.1098 11.83C94.1098 12.1287 94.2125 12.376 94.4178 12.572C94.6231 12.7587 94.8845 12.852 95.2018 12.852ZM102.748 14.112C102.142 14.112 101.582 14.0373 101.068 13.888C100.564 13.7387 100.135 13.524 99.7804 13.244L100.27 12.026C100.998 12.558 101.834 12.824 102.776 12.824C103.178 12.824 103.481 12.7587 103.686 12.628C103.901 12.4973 104.008 12.3107 104.008 12.068C104.008 11.8627 103.934 11.704 103.784 11.592C103.644 11.48 103.388 11.3773 103.014 11.284L101.894 11.032C101.26 10.892 100.788 10.6633 100.48 10.346C100.172 10.0287 100.018 9.618 100.018 9.114C100.018 8.694 100.135 8.32533 100.368 8.008C100.611 7.68133 100.942 7.42933 101.362 7.252C101.792 7.07467 102.286 6.986 102.846 6.986C103.332 6.986 103.798 7.06067 104.246 7.21C104.704 7.35933 105.105 7.56933 105.45 7.84L104.96 9.03C104.251 8.51667 103.542 8.26 102.832 8.26C102.45 8.26 102.151 8.33 101.936 8.47C101.722 8.61 101.614 8.806 101.614 9.058C101.614 9.24467 101.68 9.39867 101.81 9.52C101.95 9.64133 102.17 9.73467 102.468 9.8L103.63 10.066C104.312 10.2153 104.811 10.4533 105.128 10.78C105.446 11.0973 105.604 11.5173 105.604 12.04C105.604 12.6747 105.348 13.1787 104.834 13.552C104.321 13.9253 103.626 14.112 102.748 14.112ZM109.543 14.112C108.937 14.112 108.377 14.0373 107.863 13.888C107.359 13.7387 106.93 13.524 106.575 13.244L107.065 12.026C107.793 12.558 108.629 12.824 109.571 12.824C109.973 12.824 110.276 12.7587 110.481 12.628C110.696 12.4973 110.803 12.3107 110.803 12.068C110.803 11.8627 110.729 11.704 110.579 11.592C110.439 11.48 110.183 11.3773 109.809 11.284L108.689 11.032C108.055 10.892 107.583 10.6633 107.275 10.346C106.967 10.0287 106.813 9.618 106.813 9.114C106.813 8.694 106.93 8.32533 107.163 8.008C107.406 7.68133 107.737 7.42933 108.157 7.252C108.587 7.07467 109.081 6.986 109.641 6.986C110.127 6.986 110.593 7.06067 111.041 7.21C111.499 7.35933 111.9 7.56933 112.245 7.84L111.755 9.03C111.046 8.51667 110.337 8.26 109.627 8.26C109.245 8.26 108.946 8.33 108.731 8.47C108.517 8.61 108.409 8.806 108.409 9.058C108.409 9.24467 108.475 9.39867 108.605 9.52C108.745 9.64133 108.965 9.73467 109.263 9.8L110.425 10.066C111.107 10.2153 111.606 10.4533 111.923 10.78C112.241 11.0973 112.399 11.5173 112.399 12.04C112.399 12.6747 112.143 13.1787 111.629 13.552C111.116 13.9253 110.421 14.112 109.543 14.112ZM113.818 7.154H115.568V14H113.818V7.154ZM115.652 3.976V5.698H113.72V3.976H115.652ZM121.349 6.986C122.17 6.986 122.782 7.21933 123.183 7.686C123.584 8.15267 123.785 8.85733 123.785 9.8V14H122.035V9.898C122.035 9.366 121.932 8.97867 121.727 8.736C121.531 8.49333 121.218 8.372 120.789 8.372C120.285 8.372 119.879 8.53067 119.571 8.848C119.272 9.16533 119.123 9.59 119.123 10.122V14H117.373V7.154H119.081V8.176C119.314 7.79333 119.627 7.49933 120.019 7.294C120.411 7.08867 120.854 6.986 121.349 6.986ZM128.502 6.986C129.464 6.986 130.178 7.21933 130.644 7.686C131.111 8.15267 131.344 8.87133 131.344 9.842V14H129.678V12.95C129.52 13.314 129.268 13.5987 128.922 13.804C128.586 14.0093 128.194 14.112 127.746 14.112C127.289 14.112 126.874 14.0187 126.5 13.832C126.127 13.6453 125.833 13.3887 125.618 13.062C125.404 12.7353 125.296 12.3713 125.296 11.97C125.296 11.466 125.422 11.0693 125.674 10.78C125.936 10.4907 126.356 10.2807 126.934 10.15C127.513 10.0193 128.311 9.954 129.328 9.954H129.678V9.632C129.678 9.16533 129.576 8.82933 129.37 8.624C129.174 8.41867 128.843 8.316 128.376 8.316C128.012 8.316 127.63 8.38133 127.228 8.512C126.836 8.63333 126.449 8.806 126.066 9.03L125.576 7.826C125.959 7.58333 126.421 7.38267 126.962 7.224C127.504 7.06533 128.017 6.986 128.502 6.986ZM128.096 12.852C128.563 12.852 128.941 12.698 129.23 12.39C129.529 12.0727 129.678 11.6667 129.678 11.172V10.878H129.426C128.801 10.878 128.316 10.906 127.97 10.962C127.625 11.018 127.378 11.116 127.228 11.256C127.079 11.396 127.004 11.5873 127.004 11.83C127.004 12.1287 127.107 12.376 127.312 12.572C127.518 12.7587 127.779 12.852 128.096 12.852ZM136.623 12.796C136.828 12.796 137.043 12.782 137.267 12.754L137.183 14.056C136.903 14.084 136.646 14.098 136.413 14.098C135.452 14.098 134.742 13.8787 134.285 13.44C133.828 12.992 133.599 12.3293 133.599 11.452V8.47H132.283V7.154H133.599V5.11H135.349V7.154H137.155V8.47H135.349V11.424C135.349 12.3387 135.774 12.796 136.623 12.796ZM144.577 7.154V14H142.869V12.95C142.654 13.3233 142.365 13.6127 142.001 13.818C141.637 14.014 141.226 14.112 140.769 14.112C139.089 14.112 138.249 13.1693 138.249 11.284V7.154H139.999V11.298C139.999 11.7833 140.097 12.1427 140.293 12.376C140.489 12.6093 140.797 12.726 141.217 12.726C141.702 12.726 142.09 12.5673 142.379 12.25C142.678 11.9233 142.827 11.494 142.827 10.962V7.154H144.577ZM150.906 8.442L149.884 8.54C148.727 8.66133 148.148 9.24933 148.148 10.304V14H146.398V7.154H148.064V8.358C148.419 7.53667 149.152 7.08867 150.262 7.014L150.794 6.972L150.906 8.442ZM154.67 6.986C155.632 6.986 156.346 7.21933 156.812 7.686C157.279 8.15267 157.512 8.87133 157.512 9.842V14H155.846V12.95C155.688 13.314 155.436 13.5987 155.09 13.804C154.754 14.0093 154.362 14.112 153.914 14.112C153.457 14.112 153.042 14.0187 152.668 13.832C152.295 13.6453 152.001 13.3887 151.786 13.062C151.572 12.7353 151.464 12.3713 151.464 11.97C151.464 11.466 151.59 11.0693 151.842 10.78C152.104 10.4907 152.524 10.2807 153.102 10.15C153.681 10.0193 154.479 9.954 155.496 9.954H155.846V9.632C155.846 9.16533 155.744 8.82933 155.538 8.624C155.342 8.41867 155.011 8.316 154.544 8.316C154.18 8.316 153.798 8.38133 153.396 8.512C153.004 8.63333 152.617 8.806 152.234 9.03L151.744 7.826C152.127 7.58333 152.589 7.38267 153.13 7.224C153.672 7.06533 154.185 6.986 154.67 6.986ZM154.264 12.852C154.731 12.852 155.109 12.698 155.398 12.39C155.697 12.0727 155.846 11.6667 155.846 11.172V10.878H155.594C154.969 10.878 154.484 10.906 154.138 10.962C153.793 11.018 153.546 11.116 153.396 11.256C153.247 11.396 153.172 11.5873 153.172 11.83C153.172 12.1287 153.275 12.376 153.48 12.572C153.686 12.7587 153.947 12.852 154.264 12.852Z' fill='%23005CFF'/%3e%3cpath d='M26.0508 15.4H158.38V16.1H26.0508V15.4Z' fill='%23005CFF'/%3e%3c/svg%3e ");
                  @include size(160px, 17px);
                  background-repeat: no-repeat;
                  margin-right: 30px;
                }
              }

            }

            &-value {
              border: 0;
              border-radius: 8px;
              @include size(170px, auto);

              @include mq("375") {
                @include size(200px, auto);
              }

              @include mq("375") {
                font-size: 14px;
              }
            }
          }
        }

        .item-attachments-remove {
          @include mq("1200") {
            padding: 0;
          }
        }
      }
    }
  }
}