.summary-template-holder {
  .cart-more-options {
    @include mq('768') {
      margin-left: 0;
      width: 100%;
    }

    @include mq('1200') {
      width: 57%;
      max-width: 374px;
    }

    #shipping-preview-container {
      border: 1px solid $light-gray;
      padding: 24px 16px;
      margin: 8px auto 24px;
      @include border-radius();
      max-width: unset;

      @include mq('1200') {
        border: 0;
        margin: 6px 0;
        padding: 24px 0;
      }

      .srp-main-title {
        @include text(4, $dark-blue);
        font-size: 0;

        &::before {
          content: 'Frete e entrega';
          font-size: 14px;
        }
      }

      .srp-description {
        @include text(4, $dark-gray-03, $fontRegular);
      }

      .srp-data {
        #shipping-calculate-link {
          @include button-secondary();
          max-width: 95px;
          margin: 0 auto 0 0;
          text-align: center;
        }

        //Butons
        .srp-toggle {
          margin: 0 0 24px;

          &__wrapper {
            box-shadow: none;
            @include border-radius();
          }

          &__current {
            display: none;

            &.vtex-shipping-preview-0-x-frameDelivery {
              border-radius: 8px 0 0 8px;
            }

            &.vtex-shipping-preview-0-x-framePickup {
              border-radius: 0 8px 8px 0;
            }
          }

          &__delivery,
          &__pickup {
            border: 1px solid $light-gray-05;
            @include text(4, $black);
            text-align: center;
            padding: 11px 0;

            &.blue {
              color: $secondary-color;
              background: $primary-color;
            }
          }

          &__delivery {
            border-radius: 8px 0 0 8px;
            border-right: 0;
          }

          &__pickup {
            border-radius: 0 8px 8px 0;
            border-left: 0;
          }
        }

        //Form
        .srp-postal-code {
          &__form {
            width: 100%;

            .vtex-shipping-preview-0-x-postalCodeForgotten {
              @include display-flex(flex-start, space-between, row);

              #cart-shipping-calculate {
                @include button-secondary();
                max-width: 95px;
                margin: 0 auto 0 6px;
                text-align: center;
                background: transparent;

                @include mq('1200') {
                  margin: 0 7px 0 6px;
                }
              }
            }

            .ship-postalCode {
              display: block;
              width: 223px;

              @include mq('1200') {
                width: 242px;
              }

              label {
                display: none;
              }

              #ship-postalCode {
                @include input-general();
                box-shadow: none;
                padding: 21px 16px;
                width: 100%;
              }

              small {
                display: block;
                width: 100%;
                margin-top: 12px;

                a {
                  @include link-button-secondary();
                }
              }
            }
          }
        }

        //Result
        .srp-result {
          .srp-items {
            @include text(4, $dark-blue, $fontRegular);

            strong {
              font-weight: $fontRegular;
            }
          }

          .srp-delivery-info {
            margin-bottom: 0
          }

          #deliver-at-text {
            a {
              @include text(4, $dark-blue);
              text-decoration: underline;
            }
          }

          .srp-shipping-current-single {
            border: 1px solid $light-gray-05;
            @include border-radius();
            @include display-flex(center, center, column);

            &__wrapper {
              width: 100%;
            }

            &__bullet {
              svg path {
                fill: $dark-blue;
              }
            }

            &__text {
              @include text(5, $dark-blue);
            }

            &__sla {
              @include text(4, $dark-blue, $fontRegular);
            }

            &__price {
              @include text(4, $dark-blue);

              &.gray {
                color: $primary-color;
              }
            }
          }

          .srp-unavailable {
            border-color: $red-01;

            .srp-text {
              color: $red-01;
            }

            svg {
              vertical-align: middle;

              g {
                fill: $red-01;
              }
            }
          }
        }

        //Empty
        .srp-pickup-empty {
          #find-pickup-link {
            @include button-secondary();
            text-align: center;
          }
        }
      }
    }
  }
}