.summary-template-holder {
  .summary-totalizers {
    border: 1px solid $light-gray;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    padding: 0;
    width: 100%;

    @include mq('1200') {
      border: 0;
      width: 374px;
      margin: 0 17px 0 0;
      padding: 0;
    }

    //Summary totalizers
    .accordion-group {
      margin: 16px 16px;

      @include mq('1200') {
        margin: 0 16px 0 0;
      }

      .accordion-heading {
        order: 1;
      }

      .accordion-body {
        order: 2;
      }

      .free-shipping {
        order: 3;
      }

      .policy-terms {
        order: 4;
      }

      .table {
        @include mq('1200') {
          box-sizing: unset;
        }

        .totalizers-list {
          tr {
            border: 0;

            .info {
              @include text(4, $dark-blue, $fontRegular);
              padding: 0;

              @include mq('1200') {
                padding: 0;
              }
            }

            .monetary {
              @include text(4, $dark-blue, $fontRegular);
              text-align: right;
              padding: 0;
              margin-bottom: 8px;
              display: block;
            }

            td {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }

        @include mq('1200') {
          .empty {
            display: none;
            width: auto !important;
            padding: 0;
          }
        }

        tfoot {
          tr {
            .info {
              @include text(3, $dark-blue);
              padding: 0;
            }

            .monetary {
              @include text(3, $dark-blue);
              text-align: right;
              padding: 0;
            }
          }
        }
      }

      //Custom policy terms
      .policy-terms {
        @include text(5, $dark-blue, $fontRegular);
        text-align: center;
        padding: 16px;

        a {
          text-decoration: underline;
          @include text(5, $dark-blue);
        }
      }
    }
  }
}