.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
.flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
.flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}
.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #303030;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #303030;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #000000;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

.flexRowContent--faq {
  max-width: 700px;
  margin: auto;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color: #eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color: #dbe9fd;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem;
}

.flexRow--container__main-banner-home :global(.vtex-store-components-3-x-container) {
  padding: 24px 0;
  max-width: unset;
}
.flexRow--container__deals {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
}
.flexRow--container__deals .flexRowContent--container__deals {
  display: grid;
  justify-content: stretch;
  gap: 8px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1024px) {
  .flexRow--container__deals .flexRowContent--container__deals {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
.flexRow--container__deals .flexRowContent--container__deals .flexRow--deals {
  width: 100%;
}
.flexRow--container__deals .flexRowContent--container__deals .flexRow--deals .flexCol--deals-item {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 18px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.flexRow--container__deals .flexRowContent--container__deals .flexRow--deals .flexCol--deals-item :global(.vtex-store-components-3-x-imageElement) {
  display: inline-block;
  vertical-align: middle;
}
.flexRow--container__shelf-row {
  overflow-x: hidden;
}
.flexRow--container__shelf-row .flexCol--container__shelf-col {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
  padding: 0 11px;
}
.flexRow--container__seo {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
}
.flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home {
  flex-direction: column;
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
  margin: 40px auto;
}
.flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home :last-child, .flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home :first-child {
  justify-content: center;
}
.flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home .flexRow--grid-categories-top-home {
  width: 100%;
}
.flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home .flexRow--grid-categories-top-home .flexRowContent--grid-categories-top-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media only screen and (min-width: 480px) {
  .flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home .flexRow--grid-categories-top-home .flexRowContent--grid-categories-top-home {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home .flexRow--grid-categories-top-home .flexRowContent--grid-categories-top-home {
    gap: 16px;
    grid-template-columns: repeat(8, 1fr);
  }
}
.flexRow--row-grid-categorys-home .flexRowContent--row-grid-categorys-home .flexRow--grid-categories-top-home .flexRowContent--grid-categories-top-home :global(.vtex-store-components-3-x-imageElement) {
  object-fit: contain;
}
.flexRowContent--slider-categorys-home {
  flex-direction: column;
  margin: 40px auto;
}
.flexRowContent--slider-categorys-home .flexCol--grid-item {
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--slider-categorys-home {
    margin: 0 auto;
    max-width: 1292px;
    padding: 0 16px;
    width: 100%;
  }
}
.flexRowContent--container__slider-offers-home {
  padding-left: 16px;
  margin: 40px auto;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--container__slider-offers-home {
    margin: 0 auto;
    max-width: 1292px;
    padding: 0 16px;
    width: 100%;
    padding: 40px 16px;
    justify-content: center;
  }
}
.flexRowContent--container__slider-offers-home :global(.vtex-store-components-3-x-imageElement) {
  object-fit: contain;
}
.flexRowContent--container__slider-offers-home :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  bottom: -10px;
}
.flexRowContent--container__shelf-row-text {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.flexRow--offers-week {
  padding: 0px 16px;
  margin: 40px auto;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .flexRow--offers-week {
    margin: 0 auto;
    max-width: 1292px;
    padding: 0 16px;
    width: 100%;
  }
}
.flexRow--offers-week .flexRowContent--offers-week {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .flexRow--offers-week .flexRowContent--offers-week {
    grid-template-columns: 31fr 15fr 15fr;
    gap: 20px;
  }
}
.flexRow--offers-week .flexRowContent--offers-week :global(.vtex-store-components-3-x-imageElement--offers-week) {
  /* Element already has width and height in it's inline styles */
  width: 100% !important;
  height: 100% !important;
}
.flexRow--row-grid-brand-home .flexRowContent--grid-brand-bottom-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
@media only screen and (min-width: 480px) {
  .flexRow--row-grid-brand-home .flexRowContent--grid-brand-bottom-home {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .flexRow--row-grid-brand-home .flexRowContent--grid-brand-bottom-home {
    grid-template-columns: repeat(8, 1fr);
  }
}
.flexRow--row-grid-brand-home .flexRowContent--grid-brand-bottom-home :global(.vtex-store-components-3-x-imageElement) {
  object-fit: contain;
}
.flexRow--row-slider-brand-home, .flexRow--row-grid-brand-home {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
  margin: 40px auto;
}
.flexRow--row-slider-brand-home .flexRowContent, .flexRow--row-grid-brand-home .flexRowContent {
  flex-direction: column;
}
.flexRow--row-slider-brand-home .flexRowContent .stretchChildrenWidth, .flexRow--row-grid-brand-home .flexRowContent .stretchChildrenWidth {
  width: 100% !important;
}
.flexRow--row-slider-brand-home .flexRowContent .flexRowContent, .flexRow--row-grid-brand-home .flexRowContent .flexRowContent {
  flex-direction: row;
}

.flexRow--inst-body {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
}

.flexRowContent--inst-body {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--inst-body {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .flexCol--inst-content-container {
    margin-top: 24px;
  }
}

.flexRowContent--confirmationButtons {
  display: none;
}

.flexRow--container__buy-box-product, .flexRow--container__description-pdp, .flexRow--container__breadcrumb-pdp, .flexRow--container__product-reviews, .flexRow--container__releated-pdp {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
}
.flexRow--container__breadcrumb-pdp {
  margin: 0 auto 10px auto;
}
@media only screen and (min-width: 1026px) {
  .flexRow--container__breadcrumb-pdp {
    margin-top: 12px;
  }
}
.flexRow--container__buy-box-product :global(.vtex-store-components-3-x-container), .flexRow--container__specification-group :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .flexRow--container__buy-box-product .flexCol--container__info-product {
    padding-left: 20px;
  }
}
.flexRow--container__selling-price :global(.vtex-product-price-1-x-sellingPriceValue) {
  color: #005cff;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
}
.flexRow--container__product-identifier .flexRowContent {
  align-items: baseline;
}
.flexRow--container__product-identifier :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
  line-height: inherit;
}
.flexRow--container__product-identifier :global(.vtex-store-components-3-x-productBrandName) {
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
  margin-left: 10px;
}
@media only screen and (min-width: 1026px) {
  .flexRow--container__product-identifier :global(.vtex-store-components-3-x-productBrandName) {
    font-size: 12px;
  }
}
.flexRow--container__product-identifier :global(.vtex-store-components-3-x-productBrandName)::before {
  content: "Marca: ";
}
.flexRow--container__buy-button :global(.vtex-button) {
  cursor: pointer;
  background-color: #005cff;
  border: 1px solid #005cff;
  height: 100%;
  width: 100%;
}
.flexRow--container__buy-button :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: initial;
}
.flexRow--container__buy-button :global(.vtex-button) :global(.vtex-button__label) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: initial;
}
.flexRow--container__buy-button :global(.vtex-button):hover {
  background-color: #004cd2;
}
.flexRow--container__shipping-simulator {
  margin-bottom: 10px;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) {
  padding-bottom: 0;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  font-size: 0;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-input__label)::after {
  content: "Frete e prazo de entrega";
  color: #25282a;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-align: left;
  text-transform: initial;
  display: inline-block;
  vertical-align: middle;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-input-prefix__group) {
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding-left: 10px;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-address-form-4-x-input) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-address-form-4-x-input) {
    font-size: 16px;
    line-height: 24px;
  }
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-address-form-4-x-input),
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-input__suffix) {
  box-shadow: none;
  border: 0;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) {
  color: #25282a;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
  text-decoration: underline;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex-address-form__postalCode-forgottenURL) :first-child {
  color: #25282a;
}
.flexRow--container__shipping-simulator :global(.vtex-address-form__postalCode) :global(.vtex__icon-external-link) {
  display: none;
}
.flexRow--container__shipping-simulator :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  flex-direction: column;
}
.flexRow--container__specification-group {
  width: 100%;
  margin-top: 30px;
}
@media only screen and (min-width: 1026px) {
  .flexRow--container__specification-group:first-child {
    margin-top: 0px;
  }
}
.flexRow--container__specification-group .flexRowContent--container__specification-item {
  display: flex;
}
@media only screen and (min-width: 1026px) {
  .flexRow--container__specification-group .flexRowContent--container__specification-group {
    max-width: 560px;
    margin-left: auto;
  }
}
.flexRow--container__specification-group .flexRow--container__specification-item {
  padding: 8px 1rem;
}
.flexRow--container__specification-group .flexRow--container__specification-item:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 8px;
}
.flexRow--container__description-pdp {
  margin: 40px auto 0;
}
.flexRow--container__description-pdp .flexRowContent--container__description-pdp {
  display: flex;
  flex-direction: column;
}
.flexRow--container__description-pdp .flexRowContent--container__description-pdp :nth-child(2n) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (max-width: 1024px) {
  .flexRow--container__description-pdp .flexRowContent--container__description-pdp .stretchChildrenWidth {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1026px) {
  .flexRow--container__description-pdp .flexRowContent--container__description-pdp {
    flex-direction: row;
    gap: 20px;
  }
  .flexRow--container__description-pdp .flexRowContent--container__description-pdp :nth-child(1n) {
    justify-content: left;
  }
}
.flexRow--container__releated-pdp {
  margin-top: 40px;
}
.flexRow--container__releated-pdp :global(.vtex-rich-text-0-x-container--related-shelf__title) {
  justify-content: flex-start;
}

.flexRowContent--filter-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .flexRow--orderByAndSwitcher {
    padding-right: 0 !important;
  }
}
.flexRow--shelf-not-found {
  margin: 0 auto 50px;
  max-width: 1260px;
  padding: 0;
  width: 100%;
}
.flexRow--title-departament {
  display: block;
  margin: 24px 0;
}
.flexRow--contentmobile-search :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}
.flexRow--filter-mobile :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .flexRow--row-infos-search {
    margin-bottom: 30px;
  }
}

.flexCol--filterCol {
  max-width: 285px;
  padding-right: 25px;
}
.flexCol--text-seo-departament {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flexRow--footer-logo-container, .flexRow--footer-social-media {
  background-color: #f5f5f5;
  padding-top: 40px;
}
.flexRow--footer-payment-methods, .flexRow--footer-menu {
  background-color: #f5f5f5;
  padding-top: 48px;
}
@media only screen and (min-width: 1026px) {
  .flexRow--footer-payment-methods, .flexRow--footer-menu {
    padding-top: 0;
  }
}
.flexRow--footer-menu-desktop {
  background-color: #f5f5f5;
  padding: 64px 0;
  margin-top: 40px;
}
.flexRow--footer-logo-container {
  margin-top: 43px;
}

.flexRowContent--footer-logo-container, .flexRowContent--footer-social-media, .flexRowContent--footer-menu, .flexRowContent--footer-payment-methods, .flexRowContent--footer-description, .flexRowContent--security-flags, .flexRowContent--footer-menu-desktop, .flexRowContent--newsletter-footer {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
}
.flexRowContent--footer-menu-desktop {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--footer-menu-desktop {
    flex-direction: row;
  }
}
.flexRowContent--footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--footer-social-media {
    padding: 0 0 0 1px;
  }
}
.flexRowContent--footer-social-media .stretchChildrenWidth {
  margin-right: 40px;
  width: auto !important;
}
.flexRowContent--footer-social-media .stretchChildrenWidth:last-child {
  margin-right: 0;
}
.flexRowContent--footer-payment-methods {
  max-width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 18px;
}
@media only screen and (min-width: 1026px) {
  .flexRowContent--footer-payment-methods {
    max-width: unset;
    padding-bottom: 64px;
  }
}
.flexRowContent--footer-payment-methods .stretchChildrenWidth {
  width: auto !important;
}
.flexRowContent--footer-payment-methods .stretchChildrenWidth:nth-child(5n) :first-child, .flexRowContent--footer-payment-methods .stretchChildrenWidth:last-child :first-child {
  margin-right: 0;
}
@media only screen and (min-width: 1026px) {
  .flexRowContent--footer-payment-methods .stretchChildrenWidth:nth-child(5n) :first-child {
    margin-right: 33px;
  }
}
.flexRowContent--footer-description {
  padding: 40px 16px;
}
.flexRowContent--security-flags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 120px;
}
.flexRowContent--security-flags :nth-child(3n) {
  border-left: 1px solid #f5f5f5;
  padding-left: 12px;
  display: block;
  margin-left: 12px;
}
.flexRowContent--newsletter-footer {
  flex-direction: column;
}

.flexColChild--footer-menu-col:last-child {
  border-bottom: 1px solid #dddddd;
}

@media only screen and (min-width: 1024px) {
  .flexCol--collumn__institutional--menu {
    margin-top: 10px;
  }
}

.flexRow--main-header {
  background-color: #ffffff;
}

.flexRowContent--main-header {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
  padding: 20px 16px 10px 16px;
  background-color: #ffffff;
  justify-content: space-between;
}
.flexRowContent--main-header-mobile {
  padding: 20px;
  background-color: #ffffff;
  justify-content: space-between;
}

.flexRowContent--container__product-summary-search {
  display: flex;
  max-width: 336px;
}
.flexRowContent--container__product-summary-search .stretchChildrenWidth:not(:last-child) {
  width: auto !important;
}

.flexCol--container__product-summary-search {
  width: 100% !important;
}
.flexCol--container__product-summary-search-image {
  width: 100% !important;
  margin-right: 20px;
}
.flexCol--container__product-summary-search-image :global(.vtex-product-summary-2-x-image) {
  max-width: 89px !important;
}
.flexCol--container__product-summary-search .stretchChildrenWidth {
  justify-content: left;
}
.flexCol--container__product-summary-search :global(.vtex-product-summary-2-x-productBrand) {
  font-size: 14px;
  min-height: auto;
}
.flexCol--container__product-summary-search :global(.vtex-product-price-1-x-listPriceValue) {
  font-size: 12px;
}
.flexCol--container__product-summary-search :global(.vtex-product-price-1-x-currencyContainer--container__selling-price) {
  font-size: 16px;
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search {
  display: grid;
  grid-template-columns: minmax(auto, 73px) minmax(auto, 146px);
  align-items: end;
  gap: 18px;
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search :global(.vtex-button) {
  cursor: pointer;
  background-color: #005cff;
  border: 1px solid #005cff;
  height: 100%;
  width: 100%;
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: initial;
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search :global(.vtex-button) :global(.vtex-button__label) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: initial;
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search :global(.vtex-button):hover {
  background-color: #004cd2;
}
@media only screen and (min-width: 1026px) {
  .flexCol--container__product-summary-search .flexRowContent--available__shelf-search {
    grid-template-columns: minmax(auto, 81px) minmax(auto, 164px);
    align-items: center;
  }
}
.flexCol--container__product-summary-search .flexRowContent--available__shelf-search :global(.vtex-button) {
  width: 100% !important;
  min-width: 100%;
  max-width: 146px;
}

.flexRowContent--second-header-mobile {
  position: relative;
}
.flexRowContent--second-header-mobile :global(.vtex-store-components-3-x-logoLink) {
  background-color: #ffffff;
  bottom: auto;
  left: 70px;
  margin: auto;
  position: absolute;
  right: auto;
  top: 25px;
  z-index: 1;
}
.flexRowContent--second-header-mobile :global(.vtex-store-components-3-x-sizeMobile) {
  padding: 0;
}
.flexRowContent--second-header-mobile :global(.vtex-store-components-3-x-searchBarContainer) {
  padding-bottom: 0;
}
.flexRowContent--second-header-mobile :global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-styleguide-9-x-input) {
  padding-left: 50px;
}
.flexRowContent--second-header-mobile :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
  width: 65vw;
}
.flexRowContent--second-header-mobile :global(.vtex-store-components-3-x-searchBarInnerContainer) {
  width: 65vw;
}

.minicart-empty__container {
  display: flex;
}

.flexColChild--minicart-empty__container {
  display: flex;
  height: auto !important;
}

.flexRowContent--minicart__list--priceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.flexRowContent--minicart__list--products {
  padding: 20px 0;
}
.flexRowContent--minicart__list--remove {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.flexRowContent--footer__minicart--container {
  padding: 16px;
  box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.0784313725);
}
.flexRowContent--footer__minicart--container .flexColChild {
  text-align: center;
}

@media only screen and (min-width: 1026px) {
  .flexCol--container__prices-col {
    margin: 0 0 10px;
  }
}
.flexCol--quickview__mainImages {
  position: relative;
}
.flexCol--quickview__mainImages .flexRow--container__flags-row {
  bottom: auto;
  left: auto;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.flexCol--quickview__mainImages .flexRowContent--container__highlights-row {
  flex-direction: column;
}
.flexCol--quickview__mainImages .flexRowContent--container__highlights-row .stretchChildrenWidth {
  flex-direction: column;
}
.flexCol--quickview__mainImages .flexRowContent--container__flags-row {
  flex-direction: column;
}

.flexRow--available__shelf :global(.vtex-store-components-3-x-container),
.flexRow--container__name :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRowContent--container__list-price {
  min-height: 25px;
}
.flexRowContent--available__shelf {
  flex-direction: column;
}
.flexRowContent--available__shelf .stretchChildrenWidth {
  width: auto !important;
}
@media only screen and (max-width: 1024px) {
  .flexRowContent--button--primary {
    margin-top: 8px;
  }
}
.flexRowContent--button--primary .stretchChildrenWidth:first-child {
  width: 100% !important;
}

.flexRow--inst-breadcrumb-container {
  margin: 0 auto;
  max-width: 1292px;
  padding: 0 16px;
  width: 100%;
  margin-top: 16px;
}

.flexRowContent--inst-breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;
}

.flexRow--inst-custom-faq-container {
  margin-top: 16px;
}

.flexCol--inst-body--box {
  background-color: #f5f5f5;
  padding: 40px 44px;
  margin: 16px 0;
  height: fit-content;
  border-radius: 8px;
}
.flexCol--inst-body--box-contacts .stretchChildrenWidth {
  justify-content: center;
}

.flexRowContent--inst-contact-us-container {
  flex-direction: column;
}
.flexRowContent--inst-contact-us-container .stretchChildrenWidth {
  width: 100% !important;
}
.flexRowContent--inst-contact-us-container :global(.vtex-input) {
  display: block;
  margin: 16px 0;
}
.flexRowContent--inst-contact-us-container :global(.vtex-input__label),
.flexRowContent--inst-contact-us-container :global(.vtex-textarea__label) {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
}
.flexRowContent--inst-contact-us-container :global(.vtex-input-prefix__group),
.flexRowContent--inst-contact-us-container :global(.vtex-textarea__input) {
  border: 1px solid #dddddd;
  border-radius: 8px;
}
.flexRowContent--inst-contact-us-container :global(.vtex-styleguide-9-x-input),
.flexRowContent--inst-contact-us-container :global(.vtex-textarea__input) {
  color: #dddddd;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  line-height: 1.125rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
  border-radius: 8px;
}
@media only screen and (min-width: 1024px) {
  .flexRowContent--inst-contact-us-container {
    flex-direction: row;
  }
  .flexRowContent--inst-contact-us-container .stretchChildrenWidth {
    padding: 0 16px;
    width: 50% !important;
  }
}
.flexRowContent--contact-us-info-box-contacts {
  margin: 16px 0;
}
.flexRowContent--contact-us-info-box-contacts, .flexRowContent--contact-us-info-box-opening-hours {
  flex-direction: column;
}
.flexRowContent--contact-us-info-box-contacts .stretchChildrenWidth, .flexRowContent--contact-us-info-box-opening-hours .stretchChildrenWidth {
  width: 100% !important;
}
@media only screen and (min-width: 1024px) {
  .flexRow--inst-contact-us-container {
    margin: 0 -16px;
  }
}

.flexCol--inst-menu-desktop-container {
  padding-right: 50px;
}