.wrapper {
  &--top-bar-text {
    width: 100%;
  }
}

.paragraph {
  &--top-bar-text {
    margin: 0;
    text-align: center;
    .link-text {
      @include textConfig($white, 14, $fontRegular, 22, center, initial, 0);
      text-decoration: none;
    }
  }
}

.container--top-bar-text {
  background-color: $primary-color;
  min-height: 35px;
  padding: 10px;
  width: 100%;

  @include mq('1026') {
    align-items: center;
    padding: 0;
  }

  .italic {
    padding: 0 5px;
    background: $purple;
    font-style: normal;
  }
}
