<header class="header-checkout">
  <div class="container">
    <div class="header-checkout-logo">
      <a href="/">
        <img class="logo-avanti" src="/arquivos/logo-checkout-avanti.png" alt="Avanti | Agência de Marketing Digital e E-commerce" />
      </a>
    </div>
    <div class="header-checkout-safebuy">
      <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.05191 8.81752L4.46148 7.31873C4.32378 7.20194 4.15509 7.14355 3.95543 7.14355C3.75576 7.14355 3.59397 7.20194 3.47004 7.31873C3.33234 7.4485 3.26349 7.60746 3.26349 7.79562C3.26349 7.98378 3.33234 8.14274 3.47004 8.27251L5.41161 10.1217C5.57684 10.2774 5.77307 10.3552 6.00027 10.3552C6.22748 10.3552 6.4237 10.2774 6.58894 10.1217L10.3068 6.59854C10.4308 6.48175 10.4927 6.33252 10.4927 6.15085C10.4927 5.96918 10.4308 5.81995 10.3068 5.70316C10.1829 5.58637 10.028 5.52798 9.8421 5.52798C9.6562 5.52798 9.50129 5.58637 9.37736 5.70316L6.05191 8.81752ZM6.89876 16C6.81614 16 6.74385 15.9968 6.68189 15.9903C6.61992 15.9838 6.5614 15.9676 6.50632 15.9416C4.59229 15.3966 3.0294 14.2903 1.81764 12.6229C0.60588 10.9554 0 9.13544 0 7.16302V3.42579C0 3.10138 0.0963898 2.80292 0.28917 2.53041C0.481949 2.25791 0.736694 2.06326 1.0534 1.94647L6.32042 0.0973235C6.52697 0.0324413 6.71975 0 6.89876 0C7.07777 0 7.27055 0.0324413 7.4771 0.0973235L12.7441 1.94647C13.0608 2.06326 13.319 2.25791 13.5187 2.53041C13.7184 2.80292 13.8182 3.10138 13.8182 3.42579V7.16302C13.8182 9.13544 13.2089 10.9554 11.9902 12.6229C10.7716 14.2903 9.20524 15.3966 7.29121 15.9416C7.30498 15.9286 7.17416 15.9481 6.89876 16ZM6.89876 14.4623C8.441 13.9432 9.7044 13.0154 10.689 11.6788C11.6735 10.3423 12.1658 8.83698 12.1658 7.16301V3.42579L6.89876 1.55718L1.63174 3.42579V7.16302C1.63174 8.83698 2.12402 10.3423 3.10857 11.6788C4.09313 13.0154 5.35652 13.9432 6.89876 14.4623Z"
          fill="#0862AD"
        />
      </svg>
      <p class="header-checkout-safebuy__text">compra 100% segura</p>
    </div>
    <div class="header-checkout-steps">
      <div class="steps-container">
        <div class="steps-item cart-container">
          <div class="cart-background">
            <span class="cart-icon-container"> 1 </span>
          </div>
          <p class="step-title">Carrinho</p>
        </div>

        <div class="separation-line-cart"></div>

        <div class="steps-item profile-container">
          <div class="cart-background">
            <span class="cart-icon-container"> 2 </span>
          </div>
          <p class="step-title">Dados pessoais</p>
        </div>

        <div class="separation-line-cart"></div>

        <div class="steps-item shipping-container">
          <div class="cart-background">
            <span class="cart-icon-container"> 3 </span>
          </div>
          <p class="step-title">Entrega</p>
        </div>

        <div class="separation-line-cart"></div>

        <div class="steps-item payment-container">
          <div class="cart-background">
            <span class="cart-icon-container"> 4 </span>
          </div>
          <p class="step-title">Pagamento</p>
        </div>
      </div>
    </div>
  </div>
</header>
