.flexRow {
  &--container__ {
    &main-banner-home {
      :global(.vtex-store-components-3-x-container) {
        padding: 24px 0;
        max-width: unset;
      }
    }

    &deals {
      @include grid();

      .flexRowContent--container__deals {
        display: grid;
        justify-content: stretch;
        gap: 8px;

        margin-bottom: 40px;

        @include mq('1024') {
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;
        }

        .flexRow--deals {
          width: 100%;

          .flexCol--deals-item {
            background: $secondary-color;
            border-radius: 8px;
            padding: 18px 23px;
            @include display-flex();

            :global(.vtex-store-components-3-x-imageElement) {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }

    &shelf-row {
      overflow-x: hidden;

      .flexCol--container__shelf-col {
        @include grid();
        padding: 0 11px;
      }
    }

    &seo {
      @include grid();
    }
  }

  &--row-grid-categorys-home {
    .flexRowContent--row-grid-categorys-home {
      flex-direction: column;
      @include grid();
      margin: 40px auto;

      & :last-child,
      & :first-child {
        justify-content: center;
      }

      .flexRow--grid-categories-top-home {
        width: 100%;

        .flexRowContent--grid-categories-top-home {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;

          @include mq('480') {
            grid-template-columns: repeat(4, 1fr);
          }

          @include mq('1024') {
            gap: 16px;
            grid-template-columns: repeat(8, 1fr);
          }

          :global(.vtex-store-components-3-x-imageElement) {
            object-fit: contain;
          }
        }
      }
    }
  }

  &Content {
    &--slider-categorys-home {
      flex-direction: column;
      margin: 40px auto;

      .flexCol--grid-item {
        align-items: center;
      }

      @include mq('1024') {
        @include grid();
      }
    }

    &--container__slider-offers-home {
      padding-left: 16px;
      margin: 40px auto;

      @include mq('1024') {
        @include grid();
        padding: 40px 16px;
        justify-content: center;
      }

      :global(.vtex-store-components-3-x-imageElement) {
        object-fit: contain;
      }

      :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
        bottom: -10px;
      }
    }

    &--container__shelf-row-text {
      padding: 0 5px;
      @include display-flex(center, space-between);
    }
  }

  &--offers-week {
    padding: 0px 16px;
    margin: 40px auto;
    align-items: center;

    @include mq('1024') {
      @include grid();
    }

    .flexRowContent--offers-week {
      display: grid;
      justify-content: center;
      justify-items: center;

      gap: 16px;

      @include mq('1024') {
        grid-template-columns: 31fr 15fr 15fr;

        gap: 20px;
      }

      :global(.vtex-store-components-3-x-imageElement--offers-week) {
        /* Element already has width and height in it's inline styles */
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &--row-grid-brand-home {
    .flexRowContent--grid-brand-bottom-home {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;

      @include mq('480') {
        grid-template-columns: repeat(4, 1fr);
      }

      @include mq('1024') {
        grid-template-columns: repeat(8, 1fr);
      }

      :global(.vtex-store-components-3-x-imageElement) {
        object-fit: contain;
      }
    }
  }

  &--row-slider-brand-home,
  &--row-grid-brand-home {
    @include grid();
    margin: 40px auto;

    .flexRowContent {
      flex-direction: column;

      .stretchChildrenWidth {
        width: 100% !important;
      }

      .flexRowContent {
        flex-direction: row;
      }
    }
  }
}