.container {
  &--container__ {
    &seo {

      &--title,
      &--text {
        display: block;
        text-align: center;
      }
    }
  }
}

.heading-- {
  &container__ {
    &seo {
      &--title {
        @include title(3);
      }
    }
  }

  &container__ {
    &seo {
      &--text {
        @include text('m');
        margin-bottom: 30px;
      }
    }
  }

  &shelfTitle {
    @include textConfig($black, 16, $fontBold, 20, left, initial, 0);
    margin-bottom: 16px;

    @include mq('1026') {
      font-size: 20px;
    }
  }
}

.container--title-categorys-home {
  justify-content: center;
  width: 100%;

  .heading--title-categorys-home {
    @include textConfig($black, 16, 700, 16, center);
    margin: 0 auto;

    @include mq("1024") {
      margin-bottom: 20px
    }
  }
}

.container {
  &--deals {
    margin: 0 0 0 12px
  }
}

.paragraph {
  &--deals {
    @include textConfig($black, 14, $fontBold, 17, left, inherit);
  }
}

.link--shelfLink {
  @include textConfig($primary-color, 14, $fontBold, 20, left, initial, 0);

  @include mq('1026') {
    text-decoration: none;
  }
}