
.infoCardContainer--info-card-home {
  @include grid();

  .infoCardTextContainer {
    padding: 20px;

    .infoCardHeadline,
    .infoCardCallActionContainer {
      margin: 0;
    }

    .infoCardHeadline {
      margin-bottom: 10px;
    }
  }
}


.imageElementLink {
  line-height: 0;
}
