.sliderLayoutContainer {

  /*
    *  Arrows && dots shelf
  */
  &--container {

    /*
    *  Product Summary Container
    */
    &__shelf-slider {
      .slide {
        padding: 0 5px;

        :global(.vtex-product-summary-2-x-element) {
          border-radius: 10px;
          padding: 12px 8px;
          border: 1px solid $light-gray;
        }
      }

      // arrows
      & {

        .sliderRightArrow,
        .sliderLeftArrow {
          margin: 0;
          padding: 0;
        }

        .sliderRightArrow {
          right: 0;
        }

        .sliderLeftArrow {
          left: 0;
        }

        @include mq('1350') {
          .sliderRightArrow {
            right: -5px;
          }

          .sliderLeftArrow {
            left: -5px;
          }
        }
      }

      // dots
      & {
        padding-bottom: 50px;

        .paginationDotsContainer--container__shelf-slider {
          margin: 0;
          top: unset;
          bottom: 25px;
        }
      }
    }
  }

  /*
  *  main banner
  */
  &--carousel {
    background-color: transparent !important;

    // arrows
    & {

      @include mq('1200') {
        .caretIcon {
          display: none;
        }

        .sliderRightArrow,
        .sliderLeftArrow {
          object-fit: contain;
          @include size(30px);
        }

        .sliderLeftArrow {
          @include background-img(url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' transform='rotate(180 15 15)' fill='%23656565'/%3E%3Cpath d='M14.4665 20L15.8946 18.5814L12.7967 15.4835H21V13.4811H12.7967L15.8946 10.3831L14.4665 8.9646L8.96138 14.4823L14.4665 20Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
          color: transparent;
          left: calc((100% - 1300px) / 2);
        }

        .sliderRightArrow {
          @include background-img(url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23656565'/%3E%3Cpath d='M15.5335 10L14.1054 11.4186L17.2033 14.5165H9V16.5189H17.2033L14.1054 19.6169L15.5335 21.0354L21.0386 15.5177L15.5335 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
          // object-fit: contain;
          color: transparent;
          right: calc((100% - 1300px) / 2);
        }
      }

      .sliderRightArrow,
      .sliderLeftArrow {
        margin: 0;
        padding: 0;

        &:hover {
          @include background-img(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23005CFF'/%3E%3Cpath d='M15.5335 10L14.1054 11.4186L17.2033 14.5165H9V16.5189H17.2033L14.1054 19.6169L15.5335 21.0354L21.0386 15.5177L15.5335 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
        }
      }

      .sliderLeftArrow {
        &:hover {
          transform: rotate(180deg);
          @include background-img(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23005CFF'/%3E%3Cpath d='M15.5335 10L14.1054 11.4186L17.2033 14.5165H9V16.5189H17.2033L14.1054 19.6169L15.5335 21.0354L21.0386 15.5177L15.5335 10Z' fill='white'/%3E%3C/svg%3E%0A"), $allImportant: true);
        }
      }

      // dots
      .paginationDotsContainer {
        bottom: 10px;
        margin: 0;
        top: unset;
      }

      :global(.vtex-store-components-3-x-imageElement) {
        max-width: 100%;
        max-height: 570px;
        object-fit: cover;
      }
    }
  }

  /*
  *  slider category and brand on home
  */
  &--slider-categorys-home,
  &--slider-brand-home {
    padding-left: 16px;
    padding-bottom: 35px;
    margin: 16px 0px 32px 0px;

    @include mq('1024') {
      padding-left: 0px;
    }

    :global(.vtex-store-components-3-x-imageElement) {
      object-fit: contain;
    }
  }
}