@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('assets/fonts/Nunito-Sans-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
