.container--shelf-not-found-title{
  display: block;
  text-align: center;
  .paragraph--shelf-slider-title{
    @include textConfig($primary-color, 22, $fontBold, 26, center, initial, 100);
  }
}

.heading{
  &--text-seo-departament-title{
    @include title(3);
  }

  &--text-seo-departament{
    @include text("m")
  }
}
