.searchResultContainer {
  padding-right: 0;
  padding-left: 0;
}

.container--layout {
  @include grid();

  &--page__brand {
    .galleryTitle--layout {

      &,
      &::before,
      &::after {
        @include textConfig($black, 20, $fontRegular, 20, center, initial, 0);
      }

      &::before {
        content: 'Você buscou por: "';
      }

      &::after {
        content: '"';
      }
    }
  }

  .gallery {
    &Title {
      &--layout {
        @include textConfig($black, 22, $fontRegular, auto, left, capitalize, 80);
        margin: 0;

        @include mq('1024') {
          @include textConfig($black, 30, $fontBold, 34, left, capitalize, 80);
        }
      }
    }

    &Item {
      &--normal {
        padding: 0.3rem;
      }
    }
  }

  .totalProducts {
    &--layout {
      border: 0;
      padding: 20px 0;
      @include textConfig($black, 16, $fontRegular, 18, center, initial, 0);

      @include mq('1024') {
        margin-left: 5px;
      }

      .totalProductsMessage {
        @include textConfig($black, 16, $fontRegular, 18, center, lowercase, 0);

        &::after {
          content: ' encontrados';
        }
      }
    }
  }

  .filter {
    &PopupArrowIcon {
      &--filter-nav {
        display: block;
        order: 1;
      }
    }

    &PopupTitle {
      &--filter-nav {
        order: 2;
        @include size(100%, auto);
        @include textConfig($black, 14, $fontBold, 16, center, initial, 0);
      }
    }

    &AccordionBreadcrumbs {
      display: flex;
      justify-content: center;
    }
  }

  .filtersWrapperMobile {
    &--filter-nav {
      .filterPopupButton {
        background-color: transparent;
        padding: 0;
        border: 1px solid $light-gray;
        @include display-flex(inherit, space-between, inherit);
        @include size(165px, 48px);
        @include border-radius();
      }
    }
  }

  .orderBy {
    &--layout {
      .filterPopup {
        &Title {
          @include textConfig($black, 15, $fontRegular, 18, left, initial, 10);
          display: block;
        }

        &ArrowIcon {
          color: $black;
          padding-right: 0;

          @include mq('768') {
            padding-left: 45px;
          }
        }

        &Title {
          display: flex;
          flex-direction: column;

          @include mq('768') {
            flex-direction: row;
          }
        }
      }
    }

    &Dropdown {
      @include mq('1000') {
        @include display-flex(center, space-between);

        &::before {
          content: 'Ordenar por:';
          margin-right: 16px;
          @include textConfig($black, 14, $fontSemiBold, 16, left, initial, 0);
        }
      }
    }

    &Button {
      justify-content: space-between;
      border: 1px solid $light-gray;
      @include border-radius();
      @include size(165px, 48px);

      @include mq('768') {
        align-items: baseline;
        justify-content: flex-start;
        padding-bottom: 0;
        padding-top: 13px;
      }

      @include mq('1000') {
        justify-content: space-between;
        @include size(auto, 48px);
      }
    }

    &Text {
      @include textConfig($black, 14, $fontSemiBold, 16, left, initial, 0);
      display: block;
      margin-bottom: 5px;

      &::after {
        content: ':';
      }

      @include mq('768') {
        margin-bottom: 0;
        padding-right: 25px;
      }

      @include mq('1000') {
        display: none;
      }
    }

    &MobileCol {
      align-items: center;
      display: flex;
    }
  }

  .buttonShowMore {

    &--fetch-more,
    &--fetch-previous {
      :global(.vtex-button) {
        margin: 30px 0px;
        @include size(100%, 52px);
        justify-content: center;
        align-items: center;
        background-color: $black;
        border-radius: 5px;
        border: 0;

        @include mq('768') {
          max-width: 376px;
          @include size(100%, 48px);
        }
      }
    }

    &--fetch-more {
      :global(.vtex-button__label) {
        font-size: 0;

        &::before {
          content: 'Ver Mais';
          @include textConfig($white, 15, $fontBold, auto, center, uppercase, 100);
        }
      }
    }

    &--fetch-previous {
      :global(.vtex-button__label) {
        font-size: 0;

        &::before {
          content: 'Ver Anteriores';
          @include textConfig($white, 15, $fontBold, auto, center, uppercase, 100);
        }
      }
    }
  }
}

.gallery {
  &--grid {
    padding: 0;
  }
}

.filterBreadcrumbsItemName {
  &--filter-nav {
    padding-left: 0;
    @include textConfig($black, 15, $fontBold, auto, left, initial, 30);
  }
}

.accordionFilter {
  padding-bottom: 100px;

  &Container {
    &--filter-nav {
      margin-left: -2rem;
      overflow-x: hidden;
    }
  }

  &Open {
    margin: 0 0 0 -2rem;
    padding: 30px 0 0;
  }

  &Item {
    &--filter-nav {
      min-height: auto;
      padding: 0;
      border-bottom: 1px solid $secondary-color;
    }

    &Options {
      margin-left: -2rem;

      .filter__container--priceRange {
        padding: 0;

        .filterAvailable {
          display: none;
        }

        .filterTemplateOverflow {
          padding: 0;

          .priceRangeInputWrapper {
            flex-wrap: wrap;

            .priceRangeInput {
              width: calc(50% - 10px);
            }

            :global(.vtex-button) {
              @include size(100%, 35px);
              background: $primary-color;
              border-radius: 4px;
              border: 0;
              box-shadow: none;
              margin: 10px 0;
            }
          }
        }
      }
    }

    &Tag {
      :global(.vtex-tag) {
        border: 1px solid $primary-color;
        background-color: transparent;
        border-radius: 24px;
        @include textConfig($primary-color, 12, $fontRegular, 12, center, initial, 0);
      }
    }
  }

  &Content {
    &--filter-nav {
      padding: 15px;
      @include textConfig($black, 16, $fontRegular, 16, left, initial, 0);
    }
  }

  &ItemIcon {
    &--filter-nav {
      .caretIcon {
        padding: 0;
      }
    }
  }
}

.caretIcon {
  &--filter-nav {
    @include size(12px);
    color: $black;
    padding: 0 8px;
  }
}

.filterButtonsBox {
  border: 0;
  margin-bottom: 20px;

  .filterClearButtonWrapper {
    &--filter-nav {
      display: flex;
      justify-content: center;
      padding: 0;

      :global(.vtex-button) {
        border: 1px solid $primary-color;
        max-width: 145px;
        @include size(100%, 48px);
        @include border-radius();
      }

      :global(.vtex-button__label) {
        @include textConfig($primary-color, 14, $fontBold, 16, center, capitalize, 0);
      }
    }
  }

  .filterApplyButtonWrapper {
    &--filter-nav {
      padding: 0;
      display: flex;
      justify-content: center;

      :global(.vtex-button) {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        max-width: 145px;
        @include size(100%, 48px);
        @include border-radius();
      }

      :global(.vtex-button__label) {
        font-size: 0;

        &::after {
          @include textConfig($white, 14, $fontBold, 14, center, capitalize, 100);
          content: 'Filtrar';
        }
      }
    }
  }
}

.accordionFilterOpen,
.filterItem {

  &--filter-nav,
  &--filter-nav-desktop {
    .filterAccordionItemBox {
      border: 0;
      min-height: auto;
      padding: 0px 0px 27px 10px;
    }

    :global(.vtex-checkbox__label) {
      margin-left: 19px;

      @include mq('768') {
        margin-left: 9px;
      }
    }

    :global(.vtex-checkbox__inner-container),
    :global(.vtex-checkbox__box-wrapper),
    :global(.vtex-checkbox__box) {
      @include size(18px);
      border: 0;
    }

    :global(.vtex-checkbox__inner-container) {
      border: 1px solid $light-gray;
      border-radius: 3px;
    }

    :global(.vtex__icon-check) {
      @include size(18px);
      background-color: $primary-color;
      border: 0;
      border-radius: 3px;
    }

    :global(.vtex-checkbox__label) {
      @include textConfig($black, 16, $fontRegular, auto, left, initial, 10);

      @include mq('768') {
        @include textConfig($black, 14, $fontRegular, 26, left, initial, 40);
      }
    }
  }

  :global(.vtex-checkbox__line-container) {
    display: flex;
    align-items: center;
  }
}

.filter__container {
  &--filter-nav {
    padding: 0px 10px;
  }

  &--filter-nav-desktop {
    border: 0;
    padding-top: 15px;

    &--title {
      border-bottom: 1px solid $black;
    }
  }

  &--selectedFilters {}
}

.filterMessage {
  &--filter-nav-desktop {
    margin-top: 0;
    margin-bottom: 20px;
    @include textConfig($black, 17, $fontRegular, auto, left, initial, 0);
  }
}

.filterTemplateOverflow {

  &--filter-nav-desktop,
  &--filter-nav {

    :global(.vtex-slider__selector),
    :global(.vtex-slider__base-internal) {
      background-color: $primary-color;
    }

    :global(.vtex-slider__values-container) {
      justify-content: space-between;
    }

    :global(.vtex-slider__dash) {
      display: none;
    }

    :global(.vtex-slider__left-value),
    :global(.vtex-slider__right-value) {
      @include textConfig($primary-color, 12, $fontRegular, 12, center, initial, 100);
    }
  }

  &::-webkit-scrollbar {
    width: 4px;

    &-thumb {
      background-color: $light-gray;
      border-radius: 100px;
    }

    &-track {
      background-color: $light-gray-02;
      border-radius: 100px;
    }
  }
}

.filterIcon {
  &--filter-nav-desktop {
    color: $black;
    @include size(12px);
  }
}

.closeIconButton--closeFilter {
  @include size(50px, auto);
  @include abs-position(5px, 0, auto, initial);
  display: flex;
}

.closeIcon {
  &--close-filter {
    color: $black;
  }
}

.filterAccordionBreadcrumbs {
  border: 0;
}

.filterBreadcrumbsText {
  &--filter-nav {
    @include textConfig($black, 16, $fontBold, 15, left, capitalize, 50);
  }
}

.showingProducts {
  margin-top: 40px;
  @include textConfig($black04, 14, $fontRegular, 14, center, normal, 0);
}

.progressBarContainer {
  .progressBarFiller {
    background-color: $dark-gray-01;

    @include mq('1024') {
      background-color: $primary-color;
    }
  }

  .progressBar {
    background-color: $light-gray-04;
  }

  .progressBarFiller,
  .progressBar {
    height: 3px;
  }
}

.buttonShowMore {
  :global(.vtex-button) {
    justify-content: center;
    padding: 15px 0;
    @include link-button-secondary();

    :global(.vtex-button__label) {
      font-size: 0;

      &::after {
        content: 'Carregar mais produtos';
        @include textConfig($primary-color, 16, $fontBold, 16, center, initial, 0);
      }
    }

    &:hover {
      :global(.vtex-button__label) {
        &::after {
          color: $white;
        }
      }
    }
  }

  @include mq('1024') {
    max-width: 242px;
    margin: 0 auto;
  }
}

// Not Found Page
.searchNotFound {
  @include grid(1260px, 0 20px);

  &Oops {
    &--not-found {
      display: none;
    }
  }

  &TextListLine {
    margin: 24px 0;
    @include textConfig($black, 16, $fontBold, 17, center, initial, 0);

    .searchNotFoundTerm {
      color: $primary-color;
    }

    @include mq('1024') {
      width: 100%;
    }
  }

  &Info {
    padding: 0;
    margin-bottom: 40px;
    @include textConfig($primary-color, 14, $fontBold, 17, center, initial, 0);

    &--search-not-found {
      padding: 0;
      align-items: center;

      @include mq('768') {
        align-items: flex-start;
      }
    }

    @include mq('1024') {
      flex-flow: row wrap;
    }
  }

  &WhatDoIDo {
    @include textConfig($black, 16, $fontBold, 17, center, initial, 0);

    @include mq('1024') {
      width: 50%;
      text-align: right;
      padding-right: 35px;
    }
  }

  &WhatToDoDotsContainer {
    &--not-found {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    @include mq('1024') {
      width: 50%;
    }
  }

  &WhatToDoDots {
    &--not-found {
      @include textConfig($black02, 14, $fontRegular, 21, center, initial, 10);

      &::before {
        content: '- ';
      }

      @include mq('768') {
        text-align: left;
      }
    }
  }
}