.flexRow {
  &Content {
    &--filter-mobile {
      @include display-flex(center, space-between);
    }
  }

  &--orderByAndSwitcher {
    @include mq('1024') {
      padding-right: 0 !important;
    }
  }

  &--shelf-not-found {
    @include grid(1260px, 0, 0 auto 50px);
  }

  &--title-departament {
    display: block;
    margin: 24px 0;
  }

  &--contentmobile-search {
    :global(.vtex-store-components-3-x-container) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--filter-mobile {
    :global(.vtex-store-components-3-x-container) {
      padding: 0;
    }
  }

  &--row-infos-search {
    @include mq('1024') {
      margin-bottom: 30px;
    }
  }
}

.flexCol {
  &--filterCol {
    max-width: 285px;
    padding-right: 25px;
  }

  &--text-seo-departament {
    @include display-flex(center, center, column);
  }
}