$font-size: 16;
$line-height: 16;
$font-units: (
  'rem',
  'em',
  'px',
  '%',
  'pt',
  'ch'
);

// Fonts
@function has-font-unit($value) {
  @return index($font-units, unit($value)) !=null;
}

@mixin font-size($size-value: $font-size) {
  @if (has-font-unit($size-value)) {
    font-size: $size-value;
  }

  @else {
    font-size: #{$size-value}px;
  }
}

//  Define a base da fonte que pretende utilizar (valores ja são convertidos em rem).
//  @mixin Font Size
//  @section Font
//  @param $size-value Seta o tamanho da fonte definido na variavel '$font-size'
//  @example
//    @include font-size($font-size);
//    @include font-size(16);

@mixin line-height($size-value: $line-height) {
  line-height: $size-value + px;
  line-height: calc($size-value / $line-height) + rem;
}

@mixin letter-spacing($letterspacing) {
  letter-spacing: calc($letterspacing / 1000) + rem;
}

//  @mixin Fonte Padrão
//  @example
//  @include textConfig($black, 16, $fontRegular, 16, left, initial, 100);

@mixin textConfig($color: $black, $fontSize: $font-size, $fontWeight: $fontRegular, $line-height: $line-height, $textAlign: left, $textTransform: initial, $letterspacing: 0) {
  color: $color;
  @include font-size($fontSize);
  font-weight: $fontWeight;
  @include line-height($line-height);
  @include letter-spacing($letterspacing);
  text-align: $textAlign;
  text-transform: $textTransform;
}

//  @mixin Fonte Título Padrão
//  @example
//  @include title(2);
@mixin title($tag: 2) {
  font-style: normal;
  font-weight: 600;
  color: $black;

  @if $tag ==2 {
    font-size: 24px;
    line-height: 24px;

    @include mq('768') {
      font-size: 36px;
      line-height: 42px;
    }
  }

  @if $tag ==3 {
    font-size: 20px;
    line-height: 24px;

    @include mq('768') {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @if $tag ==4 {
    font-size: 16px;
    line-height: 20px;

    @include mq('768') {
      font-size: 20px;
      line-height: 32px;
    }
  }

  @if $tag ==5 {
    font-size: 14px;
    line-height: 20px;
  }
}

//  @mixin Fonte Padrão simplificada
//  @example
//  @include text("m");
@mixin text($size: 'm', $weight: $fontRegular) {
  font-style: normal;
  font-weight: $weight;

  @if $size =='pp' {
    font-size: 10px;
    line-height: 10px;

    @include mq('768') {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @if $size =='p' {
    font-size: 12px;
    line-height: 16px;

    @include mq('768') {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @if $size =='m' {
    font-size: 14px;
    line-height: 20px;

    @include mq('768') {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @if $size =='g' {
    font-size: 16px;
    line-height: 24px;

    @include mq('768') {
      font-size: 23px;
      line-height: 26px;
    }
  }
}

//  Define o 'width' e 'height' do elemento.
//  @mixin Size Elements
//  @section Size
//  @param $width Largura a ser definido
//  @param $height Altura a ser definido
//  @example
//   @include size(10px);
//   @include size(auto, 2px);

@mixin size($width, $height: $width) {
  @if _is-size($height) {
    height: $height;
  }

  @else {
    @error '`#{$height}` is not a valid length for the `$height` argument '+'in the `size` mixin.';
  }

  @if _is-size($width) {
    width: $width;
  }

  @else {
    @error '`#{$width}` is not a valid length for the `$width` argument '+'in the `size` mixin.';
  }
}

// *  Define o breakpoin minimo pro desenvolvimento.
//  * @mixin Breakpoints responsivos
//  * @example
//  *  @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
//  */

$breakpoints: (
  '320': 320px,
  '360': 360px,
  '375': 375px,
  '390': 390px,
  '400': 400px,
  '414': 414px,
  '428': 428px,
  '450': 450px,
  '480': 480px,
  '510': 510px,
  '640': 640px,
  '768': 768px,
  '992': 992px,
  '1000': 1000px,
  '1024': 1024px,
  '1025': 1025px,
  '1026': 1026px,
  '1200': 1200px,
  '1253': 1253px,
  '1350': 1350px,
  '1440': 1440px,
  '1500': 1500px,
  '1800': 1800px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

//  Define posicionamento absoluto.
//  @mixin Position Absolute
//  @example
//  @include abs-position(100px, 100px, auto, auto);

@mixin abs-position($top, $right, $bottom, $left) {
  bottom: $bottom;
  left: $left;
  margin: auto;
  position: absolute;
  right: $right;
  top: $top;
}

// @example
// @include display-flex(center, center, row);

@mixin display-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin grid($max-width: 1292px, $padding: 0 16px, $margin: 0 auto) {
  margin: $margin;
  max-width: $max-width;
  padding: $padding;
  width: 100%;
}

@mixin transition() {
  transition: all 500ms ease-in-out;
}

@mixin button-primary() {
  :global(.vtex-button) {
    cursor: pointer;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    @include size(100%);

    :global(.vtex-add-to-cart-button-0-x-buttonText) {
      @include textConfig($white, 16, $fontBold, 20, center, initial, 0);
    }

    :global(.vtex-button__label) {
      @include textConfig($white, 16, $fontBold, 20, center, initial, 0);
    }

    &:hover {
      background-color: $blue;
    }
  }
}

@mixin button-secondary() {
  :global(.vtex-button) {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $primary-color;
    @include size(100%);

    :global(.vtex-add-to-cart-button-0-x-buttonText),
    :global(.vtex-button__label) {
      @include textConfig($primary-color, 14, $fontBold, 20, center, initial, 0);
    }

    &:hover {
      background-color: $primary-color;

      :global(.vtex-add-to-cart-button-0-x-buttonText),
      :global(.vtex-button__label) {
        color: $white;
      }
    }
  }
}

@mixin border-radius() {
  border-radius: 8px;
}

@mixin link-button-secondary() {
  background-color: $white;
  border: 1px solid $primary-color;
  border-radius: 8px;
  @include size(100%);
  @include textConfig($primary-color, 16, $fontBold, 16, left, initial, 0);

  &:hover {
    background-color: $primary-color;
    color: $white;
    font-weight: $fontBold;
  }
}

@mixin input-general() {
  :global(.vtex-input-prefix__group) {
    border: 1px solid $light-gray;
    border-radius: 8px;
    @include textConfig($black, 14, $fontSemiBold, 16, left, initial, 0);
  }
}

@mixin background-img($url, $allImportant: false, $bgSize: contain, $bgPosition: center) {
  display: inline-block;

  @if $allImportant {
    background-image: $url !important;
    background-size: $bgSize !important;
    background-repeat: no-repeat !important;
    background-position: $bgPosition !important;
  }

  @else {
    background-image: $url;
    background-size: $bgSize;
    background-repeat: no-repeat;
    background-position: $bgPosition;
  }
}