$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900;

$primaryFont: 'Nunito Sans', sans-serif;

// Colors
$black: #000000;
$black02: #262626;
$black03: #00000014;
$black04: #161615;
$black05: #25282a;
$white: #ffffff;
$white01: #f9f9f9;
$white02: #f2f2f2;
$light-gray: #dddddd;
$light-gray-01: #d1d1d1;
$light-gray-02: #cecfce;
$light-gray-03: #a1a4a2;
$light-gray-04: #e2e2e2;
$dark-gray: #303030;
$dark-gray-01: #656565;
$dark-gray-02: #707070;
$dark-gray-03: #656565;
$dark-gray-04: #cecece;
$dark-gray-05: #838383;
$yellow: #ffc52d;
$yellow-02: #fbba00;
$purple: #6220c1;
$orange: #f27d00;
$pink: #c01466;
$green: #0eaa38;
$flag-green: #5ec0be;
$red: #d20404;
$red-01: #d9000d;
$blue: #004cd2;
$deep-blue: #00264e;
$dark-blue: #171b34;

//Colors custom
$primary-color: #005cff;
$secondary-color: #f5f5f5;