.container {
  .arrow,
  .link,
  .homeLink,
  .term {
    padding: 0;
  }

  .link {
    margin: 0 5px;
  }
  .homeLink {
    margin: 0 5px 0 0;
  }

  // last links
  .term {
    margin-left: 5px;
  }
}
