.container{{pascalCase name}},
.container{{pascalCase name}} * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{{pascalCase name}} ul,li {
  list-style: none;
}

.container{{pascalCase name}} a {
  text-decoration: none;
}

.container{{pascalCase name}} button {
  border: none;
  background: none;
  cursor: pointer;
}